<style>
  .no-show-when-start{
    display: none;
  }

  .awesomplete{
    z-index: 9999!important;
  }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">Emissão de Atestado</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="btn-group m-b-10 m-l-5">
        <button type="button" id="sickNoteButton" class="btn btn-lg btn-success waves-effect">Emitir atestado</button>
      </div>

      <div class="btn-group m-b-10 m-l-5">
        <%= link "Voltar", to: patient_path(@conn, :show, @assigns.patient), class: "btn btn-lg btn-default waves-effect" %>
      </div>

      <div class="card-box">

        <%= form_for @assigns.changeset, @assigns.action, [method: :post, class: "form-horizontal"], fn f -> %>

          <%= if @assigns.changeset.action do %>
            <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <i class="mdi mdi-alert"></i>
              <strong>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</strong>
            </div>
          <% end %>

          <%= copy_to_field(f, :dentist_name, "dentist_cro", f, :dentist_hidden_cro) %>

          <div class="form-group col-md-6">
            <div class="col-xs-12">
              <%= label f, "Paciente", class: "control-label" %>
              <%= text_input f, :patient_name, value: @assigns.patient.name, class: "form-control", disabled: :disabled %>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="col-xs-12">
              <%= label f, "Dentista", class: "control-label" %>
              <%= create_dentist_name_from(@assigns.dentist, f, @conn) %>
              <%= hidden_input(f, :dentist_hidden_cro) %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <%= create_template_select(f, @assigns.sick_notes_templates) %>
            </div>
          </div> 

          <div class="form-group">
            <div id="date-input-param" class="col-md-3 col-xs-12 sick-note-params no-show-when-start">
              <%= label f, "Data de realização", class: "control-label" %>
              <%= text_input(f, :date, class: "form-control", placeholder: "Exemplo: dd/mm/aaaa")%>
            </div>

            <div id="start-hour-input-param" class="clockpicker col-md-3 col-xs-12 sick-note-params no-show-when-start">
              <%= label f, "Hora início", class: "control-label" %>
              <%= text_input f, :start_hour, class: "form-control" %>
            </div>

            <div id="end-hour-input-param" class="clockpicker col-md-3 col-xs-12 sick-note-params no-show-when-start">
              <%= label f, "Hora fim", class: "control-label" %>
              <%= text_input f, :end_hour, class: "form-control" %>
            </div>

            <div id="cid-input-param" class="col-md-2 col-xs-12 sick-note-params no-show-when-start">
              <%= label f, "C.I.D.", class: "control-label" %>
              <%= text_input f, :cid, class: "form-control" %>
            </div>

            <div id="days-input-param" class="col-md-1 col-xs-12 sick-note-params no-show-when-start">
              <%= label f, "Dias", class: "control-label" %>
              <%= text_input f, :days, class: "form-control" %>
            </div>
          </div>
        <% end %>
      </div> <!--end card-box-->

      <div class="card-box">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="m-t-0 text-center"><b>Atestado</b></h4>
            <hr>
            <p id="template-content"></p>
            <hr>
            </br>
            </br>
            <h5 class="m-t-0 text-center"><b id="dentist-sick-note"><%= @assigns.dentist.name %></b></h5>
            <h6 class="m-t-0 text-center"><b id="dentist-cro"><%= @assigns.dentist.cro %></b></h6>
          </div>
        </div>
        
      </div> <!--end card-box-->

    </div> <!--end container-->
  </div> <!--end content -->
</div> <!-- end content-page -->

<script type="text/javascript">
  $(function(){
    const templates = <%= @assigns.sick_notes_templates_as_json |> raw %>
    const selectedSickNoteTemplate = document.querySelector('select[name="sick_note[template_id]"]');
    const sickNoteButton = document.getElementById('sickNoteButton');
    const dentistInput = document.getElementById('sick_note_dentist_name');
   
    const params = getAllParamsExceptPatient();

    selectedSickNoteTemplate.addEventListener('change', changePresentationForSelectedTemplate, false);
    sickNoteButton.addEventListener('click', printSickNote, false);
    dentistInput.addEventListener('change', updateDentist, false);
    
    function changePresentationForSelectedTemplate(event){
      clearAllInputs();
      showInputsOnlyIfExistsInContentOf(event.target, templates);
      putInPreviewTextTheContentOf(event.target, templates);
    }

    function printSickNote(event){
      if (parameterInputs.length > 0 && parameterInputs.every(param => param.value != "")){
        makeThePrint();
        return;
      }

      alert('Informe todos os parâmetros para emissão do atestado.')
    }

    function updateDentist(event){
      updateDentistName(event);
      updateDentistCRO();
    }

    function updateDentistName(event){
      const dentistName = event.target.value;
      const dentistSickNoteLabel = document.getElementById('dentist-sick-note');
      dentistSickNoteLabel.innerText = dentistName;
    }

    function updateDentistCRO(){
      const dentistHiddenCRO = document.getElementById('sick_note_dentist_hidden_cro');
      const dentistCROLabel = document.getElementById('dentist-cro');
      dentistCROLabel.innerText = dentistHiddenCRO.value;
    }

    function clearAllInputs() {
      for (let [paramKey, paramValue] of params){
        const element = document.getElementById(paramKey).lastElementChild;
        element.value = "";
      }
    }

    function showInputsOnlyIfExistsInContentOf(selectedTemplate, templates){
      const sickNoteTemplateContent = getContentOf(selectedTemplate, templates);

      hideAllInputOfSickNote();
      showInputsOnlyToAllowed(sickNoteTemplateContent);
    }

    function getAllParamsExceptPatient(){
      const params = new Map();
      params.set("date-input-param", "@data_realizacao");
      params.set("cid-input-param", "@cid");
      params.set("start-hour-input-param", "@inicio");
      params.set("end-hour-input-param", "@fim");
      params.set("days-input-param", "@dias");

      return params;
    }

    function hideAllInputOfSickNote(){
      for (let [paramKey, paramValue] of params){
        let element = document.getElementById(paramKey);
        element.style.display = "none";
      }
    }

    function showInputsOnlyToAllowed(inSickNoteTemplateContent){
      for (let [paramKey, paramValue] of params){
        if(inSickNoteTemplateContent.includes(paramValue)){
          showInputOf(paramKey);
        }
      }
    }

    function showInputOf(thisParam){
      const element = document.getElementById(thisParam);
      element.style.display = "block";
    }

    function putInPreviewTextTheContentOf(selectedTemplate, templates){
      const previewTemplateContent = document.getElementById('template-content');
      const sickNoteTemplateContent = getContentOf(selectedTemplate, templates);
      previewTemplateContent.innerText = changePatientParameterIfNeededIn(sickNoteTemplateContent);
    }

    function getContentOf(selectedTemplate, inTemplates){
      const fullTemplate = find(selectedTemplate, inTemplates);
      return (fullTemplate) ? fullTemplate.content : "";
    }   

    function changePatientParameterIfNeededIn(sickNoteTemplateContent){
      const patientName = "<%= @assigns.patient.name %>";
      return changedContentOf(sickNoteTemplateContent, patientName, "@paciente");
    } 

    function changedContentOf(templateContent, withThisValue, thisParam){
      const patientName = "<%= @assigns.patient.name %>";
      return templateContent
        .split(" ")
        .reduce((previousTerm, currentTerm) => `${previousTerm} ${currentTerm.replace(thisParam, withThisValue)}`)
        .split(" ")
        .reduce((previousTerm, currentTerm) => `${previousTerm} ${currentTerm.replace("@paciente", patientName)}`);
    }

    function find(selectedTemplate, inTemplates){
      return inTemplates.find(template => template.id == selectedTemplate.value);
    } 

    $('#sick_note_start_hour').clockpicker({
      placement: 'bottom',
      align: 'right',
      autoclose: true,
      default: 'now'
    });

    $('#sick_note_end_hour').clockpicker({
      placement: 'bottom',
      align: 'right',
      autoclose: true,
      default: 'now'
    });

    addEventToHourPickerWith('date-input-param');
    addEventToHourPickerWith('cid-input-param');
    addEventToHourPickerWith('start-hour-input-param');
    addEventToHourPickerWith('end-hour-input-param');
    addEventToHourPickerWith('days-input-param');
    
    function addEventToHourPickerWith(thisId){
      const element = document.getElementById(thisId);
      element.addEventListener('focusout', () => changeParameterWith(thisId));
    }

    const parameterInputs = [];
    function changeParameterWith(thisId){
      let template = getContentOf(selectedSickNoteTemplate, templates);
      const previewTemplateContent = document.getElementById('template-content');

      for (let [paramKey, paramValue] of params){
        if(template.includes(paramValue)){
          const element = document.getElementById(paramKey).lastElementChild;
          parameterInputs.push(element);
          if(element.value){
            previewTemplateContent.innerText = changedContentOf(template, element.value, paramValue);
            template = previewTemplateContent.innerText;
          }
        }
      }
    }

  });

  /* Print ajax do atestado */
      
    function makeThePrint(){
      const http = new XMLHttpRequest();
      const url = "<%= patient_sick_note_path(@conn, :create_sick_note, @assigns.patient) %>";
      const csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
      const params = JSON.stringify(getSickNoteParams());

      http.open("POST", url, true);
      http.setRequestHeader('Content-type','application/json; charset=utf-8');
      http.setRequestHeader("X-CSRF-Token", csrf_token);
      http.responseType = 'arraybuffer';

      http.onreadystatechange = function() {
        var success = 200;
        if(http.readyState == XMLHttpRequest.DONE && http.status == success) {
            var blob = new Blob([http.response], {type: "application/pdf"});

            if (window.navigator && window.navigator.msSaveOrOpenBlob) {
              window.navigator.msSaveOrOpenBlob(blob, "atestado.pdf");
              return;
            } 

            var file = window.URL.createObjectURL(blob);
            var link = document.createElement("a");
            link.href = file;   
            link.download = "atestado.pdf";   
            document.body.appendChild(link);
            link.click();
        }
      }

      http.send(params);
    }

    function getSickNoteParams(){
      const finalPreviewTemplateContent = document.getElementById('template-content');
      const dentistName = document.getElementById('dentist-sick-note');
      const dentisCRO = document.getElementById('dentist-cro');
      
      return {
        params: {
          patient_name: "<%= @assigns.patient.name %>",
          dentist_name: dentistName.innerText,
          dentist_cro: dentisCRO.innerText,
          sick_note_content: finalPreviewTemplateContent.innerText
        }
      };
    }

  /* Final do print do atestado */
</script>