<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">Visualização de Atestado</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="btn-group m-b-10 m-l-5">
        <%= link "Voltar", to: patient_path(@conn, :show, @sick_note["patient_id"]), class: "btn btn-lg btn-success waves-effect" %>
      </div>
      
      <div class="card-box">
        <div class="row">

          <header style="margin-bottom: 5rem!important;">
            <section>
              <h2 class="text-center">Atestado</h2>
            </section>
          </header>
          
          <section>
            <hr>
              <div style="text_align: justified!important; padding-left: 20rem; padding-right: 20rem;">
                <p id="template-content">
                  <%= @sick_note["sick_note_content"] |> raw %>
                </p>
              </div>
            <hr>
          </section>

          <footer style="margin-top: 5rem;">
            <h4 class="m-t-0 text-center"><b id="dentist-sick-note"><%= @sick_note["dentist_name"] %></b></h4>
            <h5 class="m-t-0 text-center"><b><%= @sick_note["dentist_cro"] %></b></h5>
          </footer>

        </div> <!--end row-->
      </div> <!--end card-box-->
    </div> <!--end container-->
  </div> <!--end content -->
</div> <!-- end content-page -->
