<br \>

<div class="m-t-40 account-pages">
  <div class="text-center account-logo-box btn-primary"> <!-- cabeçalho de login -->
    <h2 class="text-uppercase white-text"> 
        <span><i class="mdi mdi-lock-open-outline"></i></span> Criar uma nova senha 
    </h2>
  </div> <!-- fim cabeçalho de login -->

  <div class="account-content">
      <%= form_for @changeset, password_path(@conn, :update, @changeset.data), [as: :password], fn f  -> %>

        <%= hidden_input f, :reset_password_token %>

        <div class="form-group">
          <%= password_input f, :password, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Informe a nova senha" %>
          <%= error_tag f, :password %>
        </div>

        <div class="form-group">
          <%= password_input f, :password_confirmation, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Confirme a nova senha" %>
          <%= error_tag f, :password_confirmation %>
        </div>

        <div class="form-group account-btn text-center m-t-10">
          <%= link "Cancelar", to: Coherence.Config.logged_out_url("/"), class: "btn btn-danger w-md btn-bordered" %>
          <%= submit "Atualizar senha", class: "btn btn-primary w-md btn-bordered" %>
        </div>
      <% end %>
    </div> <!-- account content -->
</div>
