<br \>

<div class="m-t-40 account-pages">
  <div class="text-center account-logo-box btn-primary"> <!-- cabeçalho de login -->
    <h2 class="text-uppercase white-text"> 
        <span><i class="mdi mdi-lock-open-outline"></i></span> recuperar senha 
    </h2>
  </div> <!-- fim cabeçalho de login -->
  <div class="account-content">
    <%= form_for @changeset, password_path(@conn, :create), [as: :password, class: "form-horizontal" ], fn f  -> %>

      <div class="text-danger" style="text-align:center; margin-bottom:20px;">
        <%= get_flash(@conn, :error) |> show_failed_auth_if_needed %>
      </div>

      <div class="form-group">
        <%= text_input f, :email, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Email para recuperação de senha" %>
        <%= error_tag f, :email %>
      </div>

      <div class="form-group account-btn text-center m-t-10">
        <%= link "Cancelar", to: Coherence.Config.logged_out_url("/"), class: "btn btn-danger w-md btn-bordered" %>
        <%= submit "Enviar", class: "btn btn-primary w-md btn-bordered" %>
      </div>
    <% end %>
  </div> <!-- account content -->
</div>