<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dentalbook</title>

        <link rel="stylesheet" href="<%= @css_dir %>/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/core.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/components.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/icons.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/pages.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/menu.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/responsive.css" type="text/css">

        <style>
            .table-header{
                background: #ececec;
                color: #4c4c4c;
            }
            .no-margin-bottom{
                margin-bottom: 0;
            }

            .signature{
                margin-bottom: 0;
                border-top: 1px solid #4c4c4c;
                width:80%;
            }

            body{
                background-color: white;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <div class="clearfix">
                    <div class="col-md-6">
                        <h3><%= @invoice_data.company_name %></h3>
                    </div>
                    <div class="col-md-6">
                        <h4>Orçamento de Serviços Odontológicos</h4>
                    </div>
                </div>
                <hr class="no-margin-bottom">
                <div class="row">
                    <div class="col-md-12">

                        <div class="m-t-5">
                            <address>
                                <strong><%= @invoice_data.patient.name %></strong><br>
                                <strong>Celular:</strong> <%= @invoice_data.patient.cellphone %><br>
                                <strong>Emitido em: </strong> <%= @invoice_print.today() %>
                            </address>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <div class="m-h-50"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table gray">
                                <thead>
                                <tr><th>Procedimento</th>
        
                                    <th>Dente</th>
                                    <th>Face</th>
                                    <th>Agendado para</th>
                                    <th>Valor</th>
                                </tr></thead>
                                <tbody>
                                    <%= @invoice_print.mount(@invoice_data.procedures) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="no-margin-bottom">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="clearfix ">
                            <h5 class="small text-inverse font-600">Termos e condições de pagamento</h5>

                            <small>
                                Declaro concordar com as condições do orçamento proposto,
                                ciente de que os serviços de prótese necessitam de ajuste e,
                                em alguns casos, precisam ser repetidos.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 col-md-offset-3">
                        <h3 class="text-right"><%= @invoice_print.get_invoice_value(@invoice_data.procedures) %></h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6 col-xs-6 m-t-50">
                        <hr class="signature">  
                        <strong>Assinatura do paciente ou responsável legal</strong>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 m-t-50">
                        <hr class="signature">
                        <strong>Assinatura Profissional da saúde</strong>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
            
    </body>
</html>