<style>
  .add-procedure-btn{width: auto;}
  .total-money{ float: right; font-size: 2.5em; display:block;}
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">Editar Plano de Tratamento</h4>
                <ol class="breadcrumb p-0 m-0">
                    <li>
                        <button id="usage" class="btn btn-success waves-effect">
                          <i class="mdi mdi-help"></i> Instruções de uso
                        </button>
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>
        
  <div class="add-procedure-btn btn-group m-b-10">
    <button drab-click='add_procedure' type="button" data-procedures-count="<%= @procedures_quantity %>" data-invoice-value="<%= @invoice_value %>" class="btn btn-lg btn-success waves-effect">Novo Procedimento</button> 
  </div>
  <div class="btn-group m-b-10 m-l-5">
    <%= link "Gerar orçamento", to: "#", id: "invoiceButton", class: "btn btn-lg btn-success waves-effect" %>
  </div>

<div class="total-money">
   <%= @invoice_value %>
</div>

<div class="card-box">
<%= form_for @changeset, @action, [method: "put"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <i class="mdi mdi-alert"></i>
      <strong>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</strong>
        <%=  if get_flash(@conn, :error) do %>
          <br><strong><%=  get_flash(@conn, :error) %></strong>
        <% end %>
    </div>
  <% end %>

  <%= hidden_input f, :patient_id %>
  <%= hidden_input f, :dentist_id %>
  
  <ul class="nav nav-tabs">
    <li class="active">
        <a href="#procedures" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs"><i class="fa fa-home"></i></span>
            <span class="hidden-xs">Procedimentos</span>
        </a>
    </li>

    <li class="">
        <a href="#observations" data-toggle="tab" aria-expanded="true">
            <span class="visible-xs"><i class="fa fa-user"></i></span>
            <span class="hidden-xs">Observações</span>
        </a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="procedures">
      <div class="row">
        <div class="form-group col-md-8">
          <%= label f, :Paciente, class: "control-label" %>
          <%= text_input f, :patient_name, class: "form-control", disabled: "disabled" %>
        </div>
        
        <div class="form-group col-md-4">
          <%= label f, :Celular, class: "control-label" %>
          <%= text_input f, :patient_cellphone, class: "form-control", disabled: "disabled" %>
          <%= error_tag f, :patient_cellphone %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-8">
          <%= label f, :Dentista, class: "control-label" %>
          <%= text_input f, :dentist_name, class: "form-control", disabled: "disabled" %>
        </div>
      </div>

      <div id="attendances-cards" class="col-md-12 m-t-20">
          <%= create_procedure_incomes(f) %>
      </div>
      <div id="attendances-data">
          <%= create_hidden_procedures_incomes(f) %>
      </div>

      <div id="attendances-updatable">
          <%= create_updatable_procedures_incomes(f) %>
      </div>
    </div> <!-- procedimentos -->

    <div class="tab-pane" id="observations">
      <div class="row">
        <div class="form-group col-md-10">
          <%= create_observation_field() %>
        </div>
        <div class="form-group col-md-10">
          <%= link "Incluir observação", to: "#", id: "addObservationButton", class: "btn btn-success waves-effect" %>
        </div>
      </div>

      <div class="row" id="observations-history">
        <%= show_existing_observations(f) %>
      </div>
    </div>

  </div> <!-- tab content -->

  <div class="text-right">
    <%= link "Cancelar", to: appointment_path(@conn, :index), class: "btn" %>
    <%= submit "Salvar", class: "btn btn-info" %>
  </div>

<% end %>
</div> <!-- Card-box -->

  </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->

<script> 

    //Manipulação das observações
    var addObservationButton = document.getElementById("addObservationButton");
    addObservationButton.addEventListener("click", addObservation, false);

    function addObservation(){
      var observationField = document.getElementById("observation_field");
      var observationText = observationField.value.replace(/\r?\n/g, '<br/>');
      if(observationText == "") return;

      var observationHistory = document.getElementById("observations-history");
      var observationDateTime = new Date();
      var observationDate = `${getFullFormatOf(observationDateTime.getDate())}/${getFullFormatOf(observationDateTime.getMonth() + 1)}/${observationDateTime.getFullYear()}`;
      var observationHour = `${getFullFormatOf(observationDateTime.getHours())}:${getFullFormatOf(observationDateTime.getMinutes())}`;
      
      var observationId = Date.now();

      var newObservation = `
        <div class="col-sm-12">
          <article class="panel panel-border panel-teal panel-observation">            
            <div class="panel-heading">
              <div class="col-xs-6 col-sm-6" style="padding:0;">
                <h4 style="margin:0;">
                  ${observationDate}
                </h4>
                <p class="timeline-date text-muted" style="margin:0;">
                  <small>${observationHour}</small>
                </p>
              </div>
              <div class="col-xs-6 col-sm-6" style="text-align:right;padding:0;">
                <button id="teste" type="button" class="close" onClick="removeObservation(this)">
                  <i class="ion-close-round"></i>
                </button>
              </div>
            </div>
            
            <div class="panel-body" style="padding-left:0; margin-left:10px;">
              <p class="col-xs-12 col-sm-12" style="overflow-wrap:break-word;">
                ${observationText}
              </p>
            </div>

            <div class="observation_to_be_sent">
              <input name="appointment_ui[observations][${observationId}][observation_id]" type="hidden" value="${observationId}">
              <input name="appointment_ui[observations][${observationId}][creation_date]" type="hidden" value="${observationDate}">
              <input name="appointment_ui[observations][${observationId}][creation_hour]" type="hidden" value="${observationHour}">
              <input name="appointment_ui[observations][${observationId}][observation]" type="hidden" value="${observationText}">
            </div>
          </article>
        </div>
      `;

      observationHistory.innerHTML = newObservation + observationHistory.innerHTML;
      observationField.value = "";
    }

    function removeObservation(element){
      var allPanel = element.parentNode.parentNode.parentNode.parentNode;
      allPanel.remove();
    }

    function getFullFormatOf(time){
      return ('0' + time).slice(-2);
    }
    //Fim da manipulação das observações

    //Manipulação do invoice
    var invoiceButton = document.getElementById("invoiceButton"); 
    invoiceButton.addEventListener("click", printInvoice, false);
   
    function printInvoice(){
      var http = new XMLHttpRequest();
      var url = "<%= appointment_dental_invoice_path(@conn, :print_dental_invoice, @appointment) %>";
      var csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
      var params = "params=" + getInvoiceParams() + getPatientParams();

      http.open("POST", url, true);
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      http.setRequestHeader("X-CSRF-Token", csrf_token);
      http.responseType = 'arraybuffer';

      http.onreadystatechange = function() {
        var success = 200;
        if(http.readyState == XMLHttpRequest.DONE && http.status == success) {
            var blob = new Blob([http.response], {type: "application/pdf"});

            if (window.navigator && window.navigator.msSaveOrOpenBlob) {
              window.navigator.msSaveOrOpenBlob(blob, "orcamento.pdf");
              return;
            } 

            var file = window.URL.createObjectURL(blob);
            var link = document.createElement("a");
            link.href = file;   
            link.download = "orcamento.pdf";   
            document.body.appendChild(link);
            link.click();
        }
      }

      http.send(params);
    }

    function getPatientParams(){
      var patientName = document.getElementById('appointment_ui_patient_name').value;
      var patientCellphone = document.getElementById('appointment_ui_patient_cellphone').value;

      return escape(`&patient_name=${patientName}&patient_cellphone=${patientCellphone}`);
    }

    function getInvoiceParams(){
      var invoiceData = Array.from(document.getElementById('attendances-updatable').children);
      return getParsed(invoiceData);
    }

    function getParsed(invoiceData){
      //tem que tratar quando o usuário não informa nada
      //será usado um sweet alert pra informar o user que não pode usar vazio
       
      if (hasOnlyOneElementIn(invoiceData)) { return escape(invoiceData[0].innerText); }
      
      parsedInvoiceData = "";

      invoiceData.forEach(function(element, index, array){
        parsedInvoiceData += element.innerText + ";";
      })

      return escape(parsedInvoiceData);
    }

    function hasOnlyOneElementIn(invoiceData){
      return invoiceData.length == 1;
    }
    //Fim da manipulação do Invoice


    var usageHelper = document.getElementById("usage"); 
    usageHelper.addEventListener("click", showInstructions, false);
  
    function showInstructions(){
      swal("<%= get_title() %>", "<%= get_creation_appointment_instructions() %>", "<%= get_icon_type() %>");
    }
</script>