<%= render "edit_appointment_form.html", changeset: @changeset,
                        action: appointment_path(@conn, :update, @appointment),
                        conn: @conn,
                        appointment: @appointment,
                        procedures_quantity: @procedures_quantity,
                        invoice_value: @appointment.invoice_value %>
