<style>
  .action-size{
     width: 25%;
  }
  
  .pagination{
    margin: 0;
  }
  
  .table > tbody > tr > td { vertical-align: middle; }
</style>

<div class="content-page">
    <div class="content">
        <div class="container">
            
            <div class="row">
              <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Planos de Tratamento</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            <button id="usage" class="btn btn-success waves-effect">
                             <i class="mdi mdi-help"></i> Instruções de uso
                            </button>
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div>
            
            <div class="btn-group m-b-10">
                <%= link "Novo Plano de Tratamento", to: appointment_path(@conn, :new), class: "btn btn-lg btn-success waves-effect" %>
            </div>
                        
            <div class="card-box table-responsive">
                
               <%= if get_flash(@conn, :info) do %>
                  <div class="alert alert-info alert-dismissible fade in alert-icon" role="alert">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="mdi mdi-check-all"></i>
                    <%= get_flash(@conn, :info) %>
                  </div>
               <% end %>

                <div class="search-pagination col-md-12 m-b-10">
                  <div class="col-md-8">
                    <%= pagination_link(
                        @conn, 
                        @rummage,
                        [
                          first_label: "Primeira",
                          previous_label: "Anterior",
                          next_label: "Próxima",
                          last_label: "Última",
                          max_page_links: 3
                        ]
                      ) %>
                  </div>
                  
                  <div class="col-md-4">
                    <%= search_form(
                        @conn, 
                        @rummage, 
                        [fields: [ name: %{label: "", search_type: "ilike"}], 
                        button_class: "btn waves-effect waves-light btn-success",
                        button_label: "<i class=\"fa fa-search\"></i>",
                        placeholder: "Nome do paciente",
                        form_class: "search-inline-flex"
                      ])
                    %>
                  </div>
                </div>

                <%= if not_exists?(@appointments) do %>
                  <table class="table table-striped table-colored table-success">
                    <thead>
                      <tr>
                        <th>Paciente</th>
                        <th>Celular</th>
                        <th class="text-center">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>

                  <%= show_that_appointment_is_empty() %>

                <% else %>

                  <table class="table table-striped table-colored table-success">
                    <thead>
                      <tr>
                        <th>Paciente</th>
                        <th>Celular</th>
                        <th class="text-center">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                        <%= for appointment <- @appointments do %>
                            <tr>
                              <td><%= appointment.patient_name %></td>
                              <td><%= appointment.patient_cellphone %></td>
                              <td class="button-list action-size text-center">
                                <%= link raw("<i class=\"fa fa-pencil\"></i> Editar"), to: appointment_path(@conn, :edit, appointment), class: "btn btn-icon waves-effect btn-info edit-row m-b-0" %>
                                <%= link raw("<i class=\"fa fa-remove\"></i> Remover"), to: appointment_path(@conn, :delete, appointment), method: :delete, data: [confirm: "Deseja excluir o agendamento?"], class: "btn btn-danger m-b-0" %>
                              </td>
                            </tr>
                        <% end %>
                    </tbody>
                  </table>
                <% end %>
            </div> <!--end card-box-->

          
        </div> <!--end container-->
    </div> <!--end content -->
</div> <!-- end content-page -->

<script>
  var usageHelper = document.getElementById("usage"); 
  usageHelper.addEventListener("click", showInstructions, false);
  
  function showInstructions(){
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  }

  <%= if not_exists?(@appointments) && @current_user.sign_in_count == 0 do %>
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  <% end %>
</script>
