<%= render "create_appointment_form.html", changeset: @changeset,
                        action: appointment_path(@conn, :create),
                        conn: @conn,
                        appointment: @appointment,
                        patient: @patient,
                        dentist: @dentist %>




