<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dentalbook</title>

        <link rel="stylesheet" href="<%= @css_dir %>/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/core.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/components.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/icons.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/pages.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/menu.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/responsive.css" type="text/css">

        <style>
            hr{
                border-top: 0.5px solid #ccc;
            }

            body{
                font-size: 14px;
                background-color: white;
            }
        </style>
    </head>
    <body>
        <div style="margin-bottom: 20rem!important; font-size: 1px!important;">
           .
        </div>
        <header style="margin-bottom: 8rem!important;">
            <section>
                <h2 class="text-center">Atestado</h2>
            </section>
        </header>

        <section>
            <div style="text-align: justified!important; padding-left: 12rem; padding-right: 12rem;">
                <p id="template-content">
                    <%= @sick_note_data.sick_note_content %>
                </p>
            </div>
        </section>

        <footer style="margin-top: 20rem;">
            <h4 class="m-t-0 text-center"><b id="dentist-sick-note"><%= @sick_note_data.dentist_name %></b></h4>
            <h5 class="m-t-0 text-center"><b><%= @sick_note_data.dentist_cro %></b></h5>
        </footer>
    </body>
</html>
