<div class="content-page">
    <div class="content">
        <div class="container">

          <div class="row">
              <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Pacientes Agendados</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            <button id="usage" class="btn btn-success waves-effect">
                             <i class="mdi mdi-help"></i> Instruções de uso
                            </button>
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div>

    <div class="col-md-6">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Hoje</h3>
            </div>
            <div class="panel-body">
                <div class="inbox-widget slimscroll-alt" style="min-height: 327px;">
                    <%= create_scheduled_attendances(@scheduled_patients.for_today, @conn, false) %>
                </div>
            </div>
        </div>
        <!-- end panel -->

    </div>

     <div class="col-md-6">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Próximos 6 Dias</h3>
            </div>
            <div class="panel-body">
                <div class="inbox-widget slimscroll-alt" style="min-height: 327px;">
                    <%= create_scheduled_attendances(@scheduled_patients.for_rest_of_week, @conn) %>
                </div>
            </div>
        </div>
        <!-- end panel -->

    </div>

</div> <!--end container-->
    </div> <!--end content -->
</div> <!-- end content-page -->

<script src="<%= static_path(@conn, "/js/jquery.slimscroll.js") %>"></script>
<script src="<%= static_path(@conn, "/js/jquery.scrollTo.min.js") %>"></script>

<script>
  var usageHelper = document.getElementById("usage"); 
  usageHelper.addEventListener("click", showInstructions, false);
  
  function showInstructions(){
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  }

  <%= if @not_have_appointments && @current_user.sign_in_count == 0 do %>
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  <% end %>
</script>