<%= render "form.html", changeset: @changeset,
                        action: sick_note_template_path(@conn, :update, @sick_note_template), 
                        conn: @conn,
                        action_type: "Editar"%>
