<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title"><%= @action_type %> Modelo de Atestado</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="card-box">
        <%= form_for @changeset, @action, fn f -> %>
          <%= if @changeset.action do %>
            <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <i class="mdi mdi-alert"></i>
              <strong>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</strong>
            </div>
          <% end %>

          <div class="form-group">
            <%= label f, "Título", class: "control-label" %>
            <%= text_input f, :title, class: "form-control" %>
            <%= error_tag f, :title %>
          </div>

          <div class="form-group">
            <%= label f, "Parâmetros", class: "control-label" %>
            <div class="button-list">
              <button id="data_realizacao" class="btn btn-primary waves-effect waves-light" type="button">Data de realização</button>
              <button id="paciente" class="btn btn-primary waves-effect waves-light" type="button">Paciente</button>
              <button id="cid" class="btn btn-primary waves-effect waves-light" type="button">C.I.D.</button>
              <button id="inicio" class="btn btn-primary waves-effect waves-light" type="button">Hora Início</button>
              <button id="fim" class="btn btn-primary waves-effect waves-light" type="button">Hora Fim</button>
              <button id="dias" class="btn btn-primary waves-effect waves-light" type="button">Dias</button>
            </div>
          </div>

          <div class="form-group">
            <%= label f, "Conteúdo", class: "control-label" %>
            <%= textarea f, :content, class: "form-control", placeholder: "Escreva o modelo aqui usando os botões de parâmetros quando necessário" %>
            <%= error_tag f, :content %>
          </div>

          <div class="text-right panel-footer">
            <%= link "Cancelar", to: sick_note_template_path(@conn, :index), class: "btn" %>
            <%= submit "Salvar", class: "btn btn-info" %>
          </div>
        <% end %>

      </div> <!--end card-box-->
    </div> <!--end container-->
  </div> <!--end content -->
</div> <!-- end content-page -->

<script>

  const parameterButtons = ["data_realizacao", "paciente", "cid", "inicio", "fim", "dias"];

  document.addEventListener('click', function(e){
    if(isParameterButton(e.target)){
      addToTemplate(e.target);
    }
  });

  const isParameterButton = (element) => parameterButtons.includes(element.id);

  function addToTemplate(thisParameter){
    templateTextElement().value += ` @${thisParameter.id} `;
    templateTextElement().focus();
  }

  const templateTextElement = () => document.getElementById('sick_note_template_content');

</script>