<style>
  .table > tbody > tr > td { vertical-align: middle; }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">Modelos de atestado</h4>
              <ol class="breadcrumb p-0 m-0">
                <li>
                  <button id="usage" class="btn btn-success waves-effect">
                    <i class="mdi mdi-help"></i> Instruções de uso
                  </button>
                </li>
              </ol>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="btn-group m-b-10">
        <%= link "Novo modelo", to: sick_note_template_path(@conn, :new), class: "btn btn-lg btn-success waves-effect" %>
      </div>

      <div class="card-box table-responsive">

        <%= if get_flash(@conn, :info) do %>
          <div class="alert alert-info alert-dismissible fade in alert-icon" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdiform_class: "search-inline-flex" mdi-check-all"></i>
            <%= get_flash(@conn, :info) %>
          </div>
        <% end %>

        <table class="table table-striped table-colored table-success">
          <thead>
            <tr>
              <th>Título</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
        <%= for sick_note_template <- @sick_note_templates do %>
            <tr>
              <td class="col-xs-9"><%= sick_note_template.title %></td>

              <td class="text-right col-xs-3">
                <%= link raw("<i class=\"fa fa-pencil\"></i> Editar"), to: sick_note_template_path(@conn, :edit, sick_note_template), class: "btn btn-icon waves-effect btn-info edit-row m-b-0" %>
                <%= link raw("<i class=\"fa fa-remove\"></i> Remover"), to: sick_note_template_path(@conn, :delete, sick_note_template), method: :delete, data: [confirm: "Deseja excluir o modelo de atestado?"], class: "btn btn-danger m-b-0" %>
              </td>
            </tr>
        <% end %>
          </tbody>
        </table>

      </div> <!-- card box -->

    </div> <!-- container -->
  </div> <!-- content -->
</div> <!-- content page -->

<script>
  var usageHelper = document.getElementById("usage"); 
  usageHelper.addEventListener("click", showInstructions, false);
  
  function showInstructions(){
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  }

  <%= if not_exists?(@sick_note_templates) && @current_user.sign_in_count == 0 do %>
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  <% end %>
</script>