<%= render "form.html", changeset: @changeset,
                        action: sick_note_template_path(@conn, :create), 
                        conn: @conn,
                        action_type: "Adicionar"%>
