<style>

    body{
        background-color: #ffffff;
        
    }

    .feature-icon{
        border: 2px solid #188ae2;
        color: #188ae2;
    }

    #dental-logo{
        font-size: 10em;
        color: #ffffff;
    }

    .zebra{
        background-color: #f3f3f3;
    }

    .tall{
        height: 700px;
    }

    .with-image{
        
        background-image: url("<%= static_path(@conn, "/images/back-logo.jpg") %>");
        background-size: cover;
        background-attachment: fixed;
    }

    .backdark{
        background: rgba(0, 0, 0, 0.3);
        color: #ffffff;
    }
    
</style>

    <div class="row zebra with-image">
        <div class="backdark tall">
            <div class="col-md-10 col-md-offset-1">
                    
                <div class="text-center test"> <!-- Chamada -->
                    <h3 id="dental-logo" class="m-b-30">Dentalbook</h3>
                    <p style="font-size: 1.5em;">
                        Entregamos os benefícios da gestão com software para consultórios e pequenas clínicas odontológicas 
                        <br>que ainda sofrem controlando seu negócio no papel.
                    </p>
                </div>

            </div> <!-- end col -->   
        </div>           
    </div> <!-- end row chamada-->

    <div class="row m-b-30">
        <div class="col-md-10 col-md-offset-1">

            <div class="m-t-50 p-t-10"> <!-- Benefícios -->
                <h4 class="text-uppercase">O que você ganha com isso?</h4>
                <div class="border m-b-30"></div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-ios7-speedometer"></i>
                            </div>
                            <h4>Agilidade</h4>

                            <p class="text-muted">Veja quantos clientes você atenderá na semana em apenas 2 segundos.</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-ios7-locked"></i>
                            </div>
                            <h4>Segurança</h4>

                            <p class="text-muted">
                                Acesse o histórico de procedimentos realizados em seus pacientes sem perder tempo com incontáveis fichas de atendimento. 
                                Sem rasuras, rasgos ou perda dos seus prontuários.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-coffee"></i>
                            </div>
                            <h4>Facilidade</h4>

                            <p class="text-muted">Saiba quanto tem "dentro do seu bolso". Em qualquer momento. Imediatamente.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div>

            <div class="m-t-50 p-t-10"> <!-- Features -->
                <h4 class="text-uppercase">Como?</h4>
                <div class="border m-b-30"></div>

                <div class="row">
                    
                    <div class="col-sm-4"> <!-- Menos Cadastros -->
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-happy"></i>
                            </div>
                            <h4>Menos Cadastros</h4>

                            <p class="text-muted"> 
                                A partir da criação de planos de tratamento suas receitas são geradas automaticamente,
                                o que reduz o tempo que você gasta manipulando o sistema. Isso te dá mais liberdade para 
                                praticar aquilo que você estudou e gosta de fazer. 
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4"> <!-- Burocracia Zero -->
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-ios7-heart"></i>
                            </div>
                            <h4>Burocracia Zero</h4>

                            <p class="text-muted">Diga adeus aos papeis. A sua conta é liberada pra uso instantaneamente.</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-4"> <!-- Histórico Digital -->
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-archive"></i>
                            </div>
                            <h4>Histórico digital</h4>

                            <p class="text-muted">
                                Tenha os históricos financeiros e de atendimentos dos seus pacientes guardados em algo
                                que não pega fogo, não amassa, não é rasurado e não se perde. O papel não é um meio confiável de 
                                se guardar informações importantes no século 21.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- end row -->

                <div class="row">

                    <div class="col-sm-4"> <!-- Plano de Tratamento -->
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-map"></i>
                            </div>
                            <h4>Plano de tratamento</h4>

                            <p class="text-muted">
                                Planeje todo o processo de tratamento do seu paciente e realize o acompanhamento de cada procedimento
                                em um único lugar.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4"> <!-- Simples -->
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-paper-airplane"></i>
                            </div>
                            <h4>Simples</h4>

                            <p class="text-muted">
                                Com uma interface intuitiva e agradável ao uso, 
                                não se preocupe mais com a matemática, deixe que o sistema cuide disso para você. 
                            </p>
                        </div>
                    </div>                      

                    <div class="col-sm-4"> <!-- Reembolso -->
                        <div class="about-features-box text-center">
                            <div class="feature-icon">
                                <i class="ion-cash"></i>
                            </div>
                            <h4>Reembolso</h4>

                            <p class="text-muted">Não gostou dos 30 primeiros dias? Receba seu dinheiro de volta. Sem perguntas. Sem enrolação. Simples assim.</p>
                        </div>
                    </div>
                    
                </div>
                <!-- end row -->
            </div>
                
        </div> <!-- end col -->
    </div> <!-- end row benefícios e features-->

    <div class="row zebra">
        <div class="col-md-10 col-md-offset-1">
            
            <div class="p-t-10"> <!-- Preços -->
                <h4 class="text-uppercase">Escolha o plano perfeito para você</h4>
                <div class="border"></div>

                <div class="row"> <!-- Planos -->
                    <div class="row m-t-50"> 
                        
                        <article class="pricing-column col-lg-4 col-md-4"> <!-- Plano a -->
                            <div class="inner-box card-box">
                                <div class="plan-header text-center">
                                    <h3 class="plan-title">Incisivo</h3>
                                    <h2 class="plan-price">$34,90</h2>
                                    <div class="plan-duration">Por mês para cada usuário</div>
                                </div>
                                <ul class="plan-stats list-unstyled text-center"> <!-- Dados do Plano a -->
                                    <li>Plano de Tratamento</li>
                                    <li>Fluxo de Caixa</li>
                                    <li>Resumo Financeiro do Paciente</li>
                                    <li>Histórico de Procedimentos</li>
                                    <li>Histórico de Anamneses</li>
                                </ul>

                                <div class="text-center">
                                    <a href="<%= registration_path(@conn, :new) %>" class="btn btn-primary btn-bordred btn-rounded waves-effect waves-light">Assine agora</a>
                                </div>
                            </div>
                        </article>

                        <article class="pricing-column col-lg-4 col-md-4"> <!-- Plano b -->
                            <div class="ribbon"><span>Popular</span></div>
                            <div class="inner-box card-box" style="background-color: #263238;">
                                <div class="plan-header text-center">
                                    <h3 class="plan-title">Canino</h3>
                                    <h2 class="plan-price" style="color: white;">$59,90</h2>
                                    <div class="plan-duration" style="color: white;">Por mês sem limite de usuário</div>
                                </div>
                                <ul class="plan-stats list-unstyled text-center">
                                    <li style="color: white;">Plano de Tratamento</li>
                                    <li style="color: white;">Fluxo de Caixa</li>
                                    <li style="color: white;">Resumo Financeiro do Paciente</li>
                                    <li style="color: white;">Histórico de Procedimentos</li>
                                    <li style="color: white;">Histórico de Anamneses</li>
                                    <li style="color: white;" >Suporte para migrar seus dados</li>
                                    <li style="color: white;" >Suporte por Email/Whatsapp</li>
                                </ul>

                                <div class="text-center">
                                    <a href="<%= registration_path(@conn, :new) %>" class="btn btn-primary btn-bordred btn-rounded waves-effect waves-light">Assine agora</a>
                                </div>
                            </div>
                        </article>

                        <article class="pricing-column col-lg-4 col-md-4"> <!-- Plano c -->
                            <div class="inner-box card-box">
                                <div class="plan-header text-center">
                                    <h3 class="plan-title">Molar</h3>
                                    <h2 class="plan-price">$299,90</h2>
                                    <div class="plan-duration">Por semestre sem limite de usuário</div>
                                </div>
                                <ul class="plan-stats list-unstyled text-center">
                                    <li>Tudo do plano Canino</li>
                                    <li>+Economia</li>
                                    <li>Pague por 5 meses</li>
                                    <li>Acesse por 6 meses</li>
                                    <li>É menos de R$ 1,70 por dia</li>
                                </ul>

                                <div class="text-center">
                                    <a href="<%= registration_path(@conn, :new) %>" class="btn btn-primary btn-bordred btn-rounded waves-effect waves-light">Assine agora</a>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>

            </div>

        </div> <!-- end col -->
    </div> <!-- end row planos -->

    <footer class="footer" style="left: 0;">
        <span style="width: 50%;">2017 © Dentalbook - Todos os direitos reservados.</span>
        <span style="width: 50%; float: right; text-align: right;">7S Representações CNPJ: 28.661.710/0001-81</span>
    </footer>
