<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dentalbook</title>

        <style>
            .signature{
                margin-bottom: 0;
                border-top: 0.5px solid #4c4c4c;
                width:60%;
            }

            hr{
                border-top: 0.5px solid #ccc;
            }

            .no-margin{
                margin-top: 0; 
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <header>
            <section>
                <h2 style="margin-bottom: 0;"> Relatório de Anamnese </h2>
                <small class="no-margin">Data de criação: <%= @creation_date %></small>
                <br>
                <small class="no-margin">Data de emissão: <%= @emission_date %></small>
                <hr>
            </section>
            <section>
                <h3 style="margin-bottom: 0;"><%= @patient.name %></h3>
                <small class="no-margin">Celular: <%= @patient.cellphone %></small>  <br>
                <small class="no-margin">Sexo: <%= @patient.gender %></small>  <br>
                <small class="no-margin">Idade: <%= @patient.age %> anos</small>
            </section>
        </header>

        <section>
            <%= @phoenix_view.render(@patient_view, "show_anamnesis_content.html", anamnesis: @answered_anamnesis) |> @phoenix_html.safe_to_string %>
        </section>

        <footer>
            <div style="text-align: center; margin-top:30px; margin-bottom: 60px;"> 
                <p>
                    Declaro que as informações acima prestadas são totalmente verdadeiras.
                </p>
            </div>

            <div style="text-align: center;">
                <hr class="signature">  
                <strong style="text-align: center;">Assinatura do paciente ou seu responsável legal</strong>
            </div>
        </footer>
    </body>
</html>


