<div class="m-t-40 account-pages">
  <div class="text-center account-logo-box btn-primary"> 
    <h2 class="text-uppercase white-text"> 
        <span><i class="mdi mdi-lock-open-outline"></i></span> Estamos quase lá 
    </h2>
  </div> 

  <div class="account-content">
     <p class="text-center">
        Lembretes 
    </p>
    <h5 class="text-center text-danger">Use o email anterior ao finalizar a criação da conta.</h5>
     <p class="text-center">
        Depois de clicar no botão "Finalizar criação da conta" e confirmar o pagamento 
        você será redirecionado para a página de login. 
        O redirecionamento pode demorar um pouco, portanto, aguarde.
    </p>
    <div class="form-group account-btn text-center m-t-10">
        <%= link "Finalizar criação da conta", to: "#", id: "pay-button", class: "btn btn-primary w-md btn-bordered" %>
    </div>
  </div>
</div>

<form method="get" id="newPage" action="<%= payment_path(@conn, :go_to_login_page) %>">
  <input type="hidden" id="account_status_message_type" name="account_status_message_type">
  <input type="hidden" id="account_status_message" name="account_status_message">
</form>
<script>

    $(document).ready(function() {
      var button = $('#pay-button');

      button.click(function() {

        // INICIAR A INSTÂNCIA DO CHECKOUT
        // declarando um callback de sucesso
        var checkout = new PagarMeCheckout.Checkout({"encryption_key":"<%= get_encryption_key %>", success: function(data) {
            //Tratar aqui as ações de callback do checkout, como exibição de mensagem ou envio de token para captura da transação
            data.selected_plan_id = "<%= @payment_params.selected_plan_id %>";
            if(data.customer.email != "<%= @payment_params.user_email %>") {
              data.registration_email = "<%= @payment_params.user_email %>";
            }

            var paymentConfirmation = JSON.stringify(data);
            var http = new XMLHttpRequest();
            var url = "<%= payment_path(@conn, :signature_confirmation) %>";
            var csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;

            http.open("POST", url, true);
            http.setRequestHeader('Content-type','application/json; charset=utf-8');
            http.setRequestHeader("X-CSRF-Token", csrf_token);

            http.onreadystatechange = function() {
              var success = 200;
              if(http.readyState == XMLHttpRequest.DONE && http.status == success) {
                var account_status_message_type = document.getElementById('account_status_message_type');
                var account_status_message = document.getElementById('account_status_message');
                var responseJson = JSON.parse(http.responseText);

                account_status_message_type.value = responseJson.type;
                account_status_message.value = responseJson.message;
                document.getElementById('newPage').submit()
              }
            }

            http.send(paymentConfirmation);
        }});

        // DEFINIR AS OPÇÕES
        // e abrir o modal
        // É necessário passar os valores boolean em "var params" como string
        var params = {
                      "customerData":"true", 
                      "amount": "<%= @payment_params.selected_plan_price.amount %>", 
                      "createToken": "false", 
                      "paymentMethods": "credit_card"
                      };
        checkout.open(params);
      });

    });
</script>