<%= render "form.html", changeset: @changeset,
                        action: procedure_path(@conn, :update, @procedure),
                        conn: @conn,
                        action_type: :edit %>
