<style>
  .procedure-name-part{
    width: 80%;
    float: left;
  }

  .procedure-price-part{
    width: 18%;
    float:right;
  }

  .procedure-data{
    width: 80%;
    display: inline-block;
  }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

     <div class="row">
          <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title"><%= get_label_from(@action_type) %> Procedimento</h4>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>

    
<div class="card-box">
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <i class="mdi mdi-alert"></i>
      <strong>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</strong>
    </div>
  <% end %>

<div class="procedure-data">
  <div class="form-group procedure-name-part">
    <%= label f, :Nome, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group procedure-price-part">
    <%= label f, :Valor, class: "control-label" %>
    <%= text_input f, :price, class: "form-control autonumber", data: [a: [sep: "."]], data: [a: [dec: ","]] %>
    <%= error_tag f, :price %>
  </div>
</div>

 <div class="text-right panel-footer">
    <%= link "Cancelar", to: procedure_path(@conn, :index), class: "btn" %>
    <%= submit "Salvar", class: "btn btn-info" %>
  </div>

<% end %>

</div> <!-- Card-box -->

    </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->
