<div class="content-page">
    <div class="content">
        <div class="container">

          <div class="row">
            <div class="col-xs-12">
              <div class="page-title-box">
                  <h4 class="page-title">Anamnese</h4>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="card-box">
            
             <h3 class=" m-t-0 m-b-30"><%= @patient.name %></h3>
             <%= form_for @changeset, patient_anamnesis_path(@conn, :save_anamnesis, @patient), fn f -> %>
                <input type="hidden" name="anamnesis[patient_id]" value="<%= @patient.id %>"/>

                <%= create_question("Qual sua queixa principal?", :free_text, "principal_issue") %>
                <%= create_question("Sofre de alguma doença?", :single_choice_with_free_text, "has_any_desease", "Em caso positivo, quais?") %>
                <%= create_question("Está gestante?", :single_choice, "is_pregnant") %>
                <%= create_question("Está em tratamento médico atualmente?", :single_choice, "is_in_treatment") %>
                <%= create_question("Está fazendo uso de alguma medicação?", :single_choice_with_free_text, "under_medication", "Em caso positivo, quais?") %>
                <%= create_question("Já foi operado?", :single_choice_with_free_text, "did_surgery", "Em caso positivo, por que?") %>
                <%= create_question("Teve problemas com a cicatrização?", :single_choice, "had_cicatrization_issues") %>
                <%= create_question("Teve problemas com a anestesia?", :single_choice, "had_anesthetic_issues") %>
                <%= create_question("Teve problemas de hemorragia?", :single_choice, "had_bleeding_issues") %>
                <%= create_question("Sofre de problemas articulares ou reumatismo?", :single_choice, "had_joints_issues") %>
                <%= create_question("Sofre de febre reumática?", :single_choice, "had_reumathic_fever") %>
                <%= create_question("Sofre de problemas cardíacos?", :single_choice, "had_heart_issues") %>
                <%= create_question("Sofre de problemas renais?", :single_choice, "had_kidney_issues") %>
                <%= create_question("Sofre de problemas gástricos?", :single_choice, "had_gastric_issues") %>
                <%= create_question("Sofre de problemas respiratórios?", :single_choice, "had_breathing_issues") %>
                <%= create_question("Sofre de problemas alérgicos?", :single_choice_with_free_text, "had_alergic_issues", "Em caso positivo, quais?") %>
                <%= create_question("Sofre de diabetes?", :single_choice, "had_diabetes_issues") %>
                <%= create_question("Sofre de hipertensão arterial?", :single_choice, "had_arterial_hypertesion") %>
                <%= create_question("Antecedentes familiares", :free_text, "familiar_background") %>
                <%= create_question("Outras observações importantes", :free_text, "others_observations") %>
                
                <div class="text-right panel-footer m-t-20">
                    <%= link "Cancelar", to: patient_path(@conn, :show, @patient), class: "btn" %>
                    <%= submit "Salvar", class: "btn btn-info" %>
                </div>
             <% end %>
          </div> <!-- card -->

        </div> <!-- container -->
    </div> <!-- content -->
</div> <!-- content page -->

