<%= render "form.html", changeset: @changeset,
                        action: patient_path(@conn, :update, @patient),
                        conn: @conn,
                        method: :put,
                        patient_age: @patient.age,
                        action_type: :edit %>