<style>
  .patient-name-part{
    width: 80%;
    float: left;
  }

  .patient-last-parts{
    width: 18%;
    float:right;
  }

  .patient-basic-data{
    width: 20%;
    float: left;
  }

  .patient-age{
    width: 12%;
  }
 
  .patient-data-margin{
    margin-right: 20px;
  }

  .patient-data{
    width: 80%;
    display: inline-block;
  }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

     <div class="row">
          <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title"><%= get_label_from(@action_type) %> Paciente</h4>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>

<div class="card-box">

  <%= form_for @changeset, @action, [method: @method], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-alert"></i>
        <strong>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</strong>
      </div>
    <% end %>

  <div class="patient-data">
      <div class="form-group patient-name-part">
        <%= label f, "Nome", class: "control-label" %>
        <%= text_input f, :name, class: "form-control" %>
        <%= error_tag f, :name%>
      </div>

      <div class="form-group patient-last-parts">
        <%= label f, "Celular", class: "control-label" %>
        <%= text_input f, :cellphone, class: "form-control", data: [mask: "(99) 99999-9999"] %>
        <%= error_tag f, :cellphone %>
      </div>

      <div class="form-group patient-basic-data patient-data-margin">
        <%= label f, "Sexo", class: "control-label" %>
        <%= select f, :gender, ["Masculino", "Feminino"], class: "form-control selectpicker show-tick"  %>
        <%= error_tag f, :gender %>
      </div>

      <div class="form-group patient-basic-data patient-data-margin">
        <%= label f, "Data de nascimento", class: "control-label" %>
         <%= create_date_picker f, :birth_date%>
        <%= error_tag f, :birth_date %>
      </div>

      <div class="form-group patient-basic-data patient-age patient-data-margin">
        <%= label f, "Idade", class: "control-label" %>
        <%= text_input f, :age, class: "form-control", disabled: "disabled" %>
        <input class="form-control" id="patient_ui_hidden_age" name="patient_ui[age]" type="hidden" value="<%= get_hidden_default_age_from(@patient_age) %>">
      </div>

      <div class="form-group patient-basic-data">
        <%= label f, :cpf, class: "control-label" do "CPF" end %>
        <%= text_input f, :cpf, class: "form-control", data: [mask: "999.999.999-99"] %>
        <%= error_tag f, :cpf %>
      </div>

      <div class="form-group patient-last-parts">
        <%= label f, "Como soube de nós?", class: "control-label" %>
        <%= select f, :origin, ["Indicação", "Google", "Facebook", "Instagram", "WhatsApp", "Jornal", "Panfletagem", "Outdoor", "Rádio", "Outro"], class: "form-control selectpicker show-tick"  %>
        <%= error_tag f, :origin %>
      </div>
  </div> <!-- patient data -->

      <div class="text-right panel-footer">
        <%= link "Cancelar", to: patient_path(@conn, :index), class: "btn" %>
        <%= submit "Salvar", class: "btn btn-info" %>
      </div>

      <% end %>



</div> <!-- Card-box -->

   </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->

<script>
  
  function hasCharacter(value){
    var regexOnlyNumbers = /^\d+$/;
    return !regexOnlyNumbers.test(value);
  }

  function clearDatePickerIfIsAnInvalidYear(datePicker, dateAsString){
    [day, month, year] = $(dateAsString).val().split("/");
    if(hasCharacter(day)) { datePicker.clear(); }
    if(hasCharacter(month)) { datePicker.clear(); }
    if(hasCharacter(year)) { datePicker.clear(); }
    if(year < 100) { datePicker.clear(); }
  }

  function returnToSelectedDate(datePickerShown, dateAsString){
    var selectedDateString = $(dateAsString).val();
    if (selectedDateString == "") { return; }
    
    [day, month, year] = selectedDateString.split("/");

    var selectedDate = new Date(year, month -1, day);

    datePickerShown.date = selectedDate;
    datePickerShown.selectDate(selectedDate);
  }

  function createDatePicker(inputId){
    var datePicker = $(inputId).datepicker({
      language: "pt-BR",
      clearButton: true,
      todayButton: new Date(),
      dateFormat : 'dd/mm/yyyy',
      maxDate: new Date("2100", "01", "01"),
      onHide: function (datePickerShown, animationCompleted){ clearDatePickerIfIsAnInvalidYear(datePickerShown, inputId); },
      onShow: function(datePickerShown, animationCompleted){ returnToSelectedDate(datePickerShown, inputId); },
      onSelect: function(formattedDate, date, inst) { movePatientAgeToRelatedField(); }
    }).data('datepicker');

    return datePicker;
  }

  function isNotAValidDay(day, month){
      var february = 2;
      var lastValidDayInFebruary = 29;

      if(hasCharacter(day)) return true;
      
      if(month == february && day > lastValidDayInFebruary) { return true; }

      if (day < 1 || day > 31) { return true; }
      
      return false;
  }

  function isNotAValidMonth(month){
    if(hasCharacter(month)) return true;

    return (month < 1 || month > 12);
  }


  function hasAtLeastTwoCaractersIn(year){
    return year.length >= 2;
  }
  
  function isAValidYear(year){
    return year > 99;
  }

  function selectingDateManually(partialDateSelected, datePicker){
    var dateElements = partialDateSelected.val().split('/');
    
    if(dateElements.length != 3){ return; }

    [day, month, year] = dateElements;

    if(isNotAValidDay(day, month) || isNotAValidMonth(month)){
      datePicker.clear();
      return;
    }

    if(hasAtLeastTwoCaractersIn(year) && isAValidYear(year)){
       var newSelectedDate = new Date(year, month - 1, day);
       datePicker.date = newSelectedDate;
       datePicker.selectDate(newSelectedDate);
    }
   
  }

  function datePickerInitialize(inputId, index, array) {
    var datePicker = createDatePicker(inputId);

    $(inputId).on('keyup', function(){
       selectingDateManually($(this), datePicker);
    });
  }

  function datePickerInit(inputsIds){
    for(var element = 0; element < inputsIds.length; element++){
      datePickerInitialize(inputsIds[element])
    }
  }

  /*----------------------------------------------------*/

  function getDay(date){
    return date.getDate();
  }
  
  function isTodayLesserThanDayOfBirth(today, birthDate){
    return getDay(today) < getDay(birthDate);
  }

  function BirthdayDoesNotHappenedYet(today, birthDate){
    var diffMonth = today.getMonth() - birthDate.getMonth();
    return (diffMonth < 0 || (diffMonth === 0 && isTodayLesserThanDayOfBirth(today, birthDate)));
  }

  function calculateAge(unconvertedBirthDate) {
    var today = new Date();
    var birthDate = new Date(unconvertedBirthDate);
    var age = today.getFullYear() - birthDate.getFullYear();
   
    if (BirthdayDoesNotHappenedYet(today, birthDate)) {
        age--;
    }
    return age;
  }

  function updatePatientAge(age, ageElement, ageElementHidden){
    if(isNaN(age)){
      $(ageElement).val("");
      $(ageElementHidden).val("");
      return;
    }
    $(ageElement).val(`${age} anos`);
    $(ageElementHidden).val(age);
  }

  function getBirthDate(){
    var brazilianDate = $('.patient_birth_date').val();
    [dia, mes, ano] = brazilianDate.split("/");
    return new Date(`${mes}/${dia}/${ano}`);
  }

  function movePatientAgeToRelatedField (){
     var age = calculateAge(getBirthDate());
     updatePatientAge(age, '#patient_ui_age', '#patient_ui_hidden_age');
  }

  $(function(){
    datePickerInit(['#patient_ui_birth_date']);
  });

</script>


