<style>
  .action-size{
     width: 25%;
  }
  
  .pagination{
    margin: 0;
  }
  
  .table > tbody > tr > td { vertical-align: middle; }
</style>

<div class="content-page">
    <div class="content">
        <div class="container">

         <div class="row">
              <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Pacientes</h4>
                     <ol class="breadcrumb p-0 m-0">
                        <li>
                            <button id="usage" class="btn btn-success waves-effect">
                             <i class="mdi mdi-help"></i> Instruções de uso
                            </button>
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div>

      <div class="btn-group m-b-10">
         <%= link "Novo Paciente", to: patient_path(@conn, :new), class: "btn btn-lg btn-success waves-effect" %>
      </div>

 <div class="card-box table-responsive">
        <%= if get_flash(@conn, :info) do %>
          <div class="alert alert-info alert-dismissible fade in alert-icon" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-check-all"></i>
            <%= get_flash(@conn, :info) %>
          </div>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
          <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-alert"></i>
             <%= get_flash(@conn, :error) %>
          </div>
        <% end %>
        
      <div class="search-pagination col-md-12 m-b-10">
            <div class="col-md-8">
              <%= pagination_link(
                @conn, 
                @rummage,
                [
                  first_label: "Primeira",
                  previous_label: "Anterior",
                  next_label: "Próxima",
                  last_label: "Última",
                  max_page_links: 3
                ]
              ) %>
            </div>

            <div class="col-md-4">
              <%= search_form(
                  @conn, 
                  @rummage, 
                  [fields: [ name: %{label: "", search_type: "ilike"}],
                  button_class: "btn waves-effect waves-light btn-success",
                  button_label: "<i class=\"fa fa-search\"></i>",
                  placeholder: "Paciente",
                  form_class: "search-inline-flex"  
                ])
              %>
            </div>
        </div>

      <%= if not_exists?(@patients) do %>
        <table class="table table-striped table-colored table-success">
          <thead>
            <tr>
              <th><%= sort_link @conn, @rummage, [field: :name, name: "Paciente"]%></th>
              <th>Telefone</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <%= show_that_patient_list_is_empty() %>

      <% else %>

        <table class="table table-striped table-colored table-success">
          <thead>
            <tr>
              <th><%= sort_link @conn, @rummage, [field: :name, name: "Paciente"]%></th>
              <th>Telefone</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
        <%= for patient <- @patients do %>
            <tr>
              <td class="col-md-3"><%= patient.name %></td>
              <td class="col-md-2"><%= patient.cellphone %></td>

              <td class="button-list action-size text-right col-md-7">
                <%= link raw("<i class=\"mdi mdi-book-open-page-variant\"></i> Histórico"), to: patient_path(@conn, :show, patient), class: "btn btn-icon waves-effect btn-teal edit-row m-b-0" %>
                <%= link raw("<i class=\"fa fa-pencil\"></i> Editar"), to: patient_path(@conn, :edit, patient), class: "btn btn-icon waves-effect btn-info edit-row m-b-0" %>
                <%= link raw("<i class=\"fa fa-remove\"></i> Remover"), to: patient_path(@conn, :delete, patient), method: :delete, data: [confirm: "Deseja excluir o paciente?"], class: "btn btn-danger m-b-0" %>
              </td>
            </tr>
        <% end %>
          </tbody>
        </table>
      <% end %>

</div> <!--end card-box-->

        </div> <!--end container-->
    </div> <!--end content -->
</div> <!-- end content-page -->

<script>
  var usageHelper = document.getElementById("usage"); 
  usageHelper.addEventListener("click", showInstructions, false);
  
  function showInstructions(){
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  }

  <%= if not_exists?(@patients) && @current_user.sign_in_count == 0 do %>
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  <% end %>
</script>