<%= render "form.html", changeset: @changeset,
                        action: patient_path(@conn, :create),
                        conn: @conn,
                        method: :post,
                        patient_age: "0",
                        action_type: :new %>