<style>
    section{
        margin-bottom: 30px;
    }
</style>

<%= show_question("principal_issue", @anamnesis) %>
<%= show_question("has_any_desease", @anamnesis) %>
<%= show_question("is_pregnant", @anamnesis) %>
<%= show_question("is_in_treatment", @anamnesis) %>
<%= show_question("under_medication", @anamnesis) %>
<%= show_question("did_surgery", @anamnesis) %>
<%= show_question("had_cicatrization_issues", @anamnesis) %>
<%= show_question("had_anesthetic_issues", @anamnesis) %>
<%= show_question("had_bleeding_issues", @anamnesis) %>
<%= show_question("had_joints_issues", @anamnesis) %>
<%= show_question("had_reumathic_fever", @anamnesis) %>
<%= show_question("had_heart_issues", @anamnesis) %>
<%= show_question("had_kidney_issues", @anamnesis) %>
<%= show_question("had_gastric_issues", @anamnesis) %>
<%= show_question("had_alergic_issues", @anamnesis) %>
<%= show_question("had_diabetes_issues", @anamnesis) %>
<%= show_question("had_arterial_hypertesion", @anamnesis) %>
<%= show_question("familiar_background", @anamnesis) %>
<%= show_question("others_observations", @anamnesis) %>

