<style>
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        color: #555;
        cursor: default;
        background-color: transparent;
        border: 1px solid #bbb;
        border-bottom-color: transparent;
    }

    .detalhes{
        width: 100%;
        display: inline-flex;
        margin-top: 30px;
        height: 60px;
    }

    .receitas{
        width: 50%;
        border-top: 1px solid #eee;
        border-right: 0.5px solid #eee;
        padding-top: 5px;
        display: inline-flex;
    }

    .icone-seta{
        font-size: 30px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .despesas{
        width: 50%;
        border-top: 1px solid #eee;
        border-left: 0.5px solid #eee;   
        padding-top: 5px;
        display: inline-flex;        
    }

    .valor{
        font-size: 18px;
    }
    
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
              <h4 class="page-title">Histórico do paciente</h4>
              <ol class="breadcrumb p-0 m-0">
                  <li>
                      <button id="usage" class="btn btn-success waves-effect">
                        <i class="mdi mdi-help"></i> Instruções de uso
                      </button>
                  </li>
              </ol>
              <div class="clearfix"></div>
          </div>
        </div>
      </div> 

    <ul class="nav nav-tabs">
        <%= create_tab("#history", "false", "Clínico", "active") %>
        <%= create_tab("#financial", "true", "Financeiro") %>
    </ul> 

    <div class="tab-content">

        <div class="row tab-pane active" id="history">
             
            <%= create_nav_buttons(:history) %>
            <%= create_timeline_with(@patient_history.clinical_history, @patient, @conn) %>
            <%= create_timeline_with_anamnesis(@patient_history.anamnesis_history, @patient, @conn) %>
            <%= create_timeline_with_sick_notes(@patient_history.sick_notes_history, @patient, @conn) %>
            <%= create_timeline_with_prescriptions(@patient_history.prescriptions_history, @patient, @conn) %>
            
        </div> <!-- end tab-pane clinic -->

        <div class="row tab-pane" id="financial">
            
            <%= create_nav_buttons(:financial) %>

            <div class="col-lg-4 col-md-4" style="padding-left:0;padding-right:10px;">
                <div class="text-center card-box">
                    <div class="member-card">
                        <%= create_patient_avatar() %>
                        <%= create_identifiers_of(@patient) %>
                        <%= create_button_to(:appointment_related_to, @patient, @conn) %>
                        <%= create_button_to(:edit_patient, @patient, @conn) %>
                        <hr>
                        <%= create_details_of(@patient) %>
                    </div> <!-- end member-card -->
                </div> <!-- end card-box -->
            </div> <!-- end col patient profile -->

            <div class="card-box col-lg-8 col-md-8 tilebox-two p-l-0 p-r-0 p-b-0 tilebox-primary" id="total-bills-values">
                <%= create_financial_general_resume(@patient_history) %>
            </div> <!-- end col total bills values -->

            <%= create_financial_table_of(:paid_bills, @patient_history.financial_history, @conn) %>
            <%= create_financial_table_of(:unpaid_bills_not_overdue, @patient_history.financial_history, @conn) %>
            <%= create_financial_table_of(:unpaid_bills_overdue, @patient_history.financial_history, @conn) %>

        <div> <!-- end tab-pane financial -->

      </div> <!-- tab content -->

    </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->

<script>
    var btnAllSummatedBills = document.getElementById('btn-all-summated-bills');
    var btnPaidBills = document.getElementById('btn-paid-bills');
    var btnUnpaidAndNotOverdueBills = document.getElementById('btn-unpaid-not-overdue');
    var btnUnpaidAndOverdueBills = document.getElementById('btn-unpaid-overdue');
    var btnAllProceduresHistory = document.getElementById('btn-all-procedures-history');
    var btnAllAnamnesisHistory = document.getElementById('btn-all-anamnesis-history');
    var btnAllSickNotesHistory = document.getElementById('btn-all-sick-notes-history');
    var btnAllPrescriptionsHistory = document.getElementById('btn-all-prescriptions-history');

    var divGeneralView = document.getElementById('total-bills-values');
    var divPaidView = document.getElementById('paid-bills');
    var divUnpaidAndNotOverdueView = document.getElementById('unpaid-bills-not-overdue');
    var divUnpaidAndOverdueView = document.getElementById('unpaid-bills-overdue');
    var divProceduresHistoryView = document.getElementById('procedures-history');
    var divAnamnesisHistoryView = document.getElementById('anamnesis-history');
    var divSickNotesHistoryView = document.getElementById('sick-notes-history');
    var divPrescriptionsHistoryView = document.getElementById('prescriptions-history');

    btnAllSummatedBills.addEventListener('click', activateGeneralView);
    btnPaidBills.addEventListener('click', activatePaidView);
    btnUnpaidAndNotOverdueBills.addEventListener('click', activateNotOverdueView);
    btnUnpaidAndOverdueBills.addEventListener('click', activateOverdueView);

    btnAllProceduresHistory.addEventListener('click', activateProceduresHistoryView);
    btnAllAnamnesisHistory.addEventListener('click', activateAnamnesisHistoryView);
    btnAllSickNotesHistory.addEventListener('click', activateSickNotesHistoryView);
    btnAllPrescriptionsHistory.addEventListener('click', activatePrescriptionsHistoryView);

    function unselectThis(buttons){
        buttons.forEach(function(buttonView, index, array){
            buttonView.className = "btn btn-default waves-effect";
        });
    }

    function deactivateThis(incomesViewElements){
        incomesViewElements.forEach(function(incomeViewElement, index, array){
            incomeViewElement.style.display = "none";
        });
    }

    function activateThis(incomeView, buttonView){
        buttonView.className = "btn btn-info waves-effect";
        incomeView.style.display = "block";
    }

    function activateGeneralView(){
        var buttons = [btnPaidBills, btnUnpaidAndNotOverdueBills, btnUnpaidAndOverdueBills];
        var viewsElements = [divPaidView, divUnpaidAndNotOverdueView, divUnpaidAndOverdueView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divGeneralView, btnAllSummatedBills);
    }

    function activatePaidView(){
        var buttons = [btnAllSummatedBills, btnUnpaidAndNotOverdueBills, btnUnpaidAndOverdueBills];
        var viewsElements = [divGeneralView, divUnpaidAndNotOverdueView, divUnpaidAndOverdueView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divPaidView, btnPaidBills);
    }

    function activateNotOverdueView(){
        var buttons = [btnAllSummatedBills, btnPaidBills, btnUnpaidAndOverdueBills];
        var viewsElements = [divGeneralView, divPaidView, divUnpaidAndOverdueView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divUnpaidAndNotOverdueView, btnUnpaidAndNotOverdueBills);
    }

    function activateOverdueView(){
        var buttons = [btnAllSummatedBills, btnPaidBills, btnUnpaidAndNotOverdueBills];
        var viewsElements = [divGeneralView, divPaidView, divUnpaidAndNotOverdueView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divUnpaidAndOverdueView, btnUnpaidAndOverdueBills);
    }

    function activateProceduresHistoryView(){
        var buttons = [btnAllAnamnesisHistory, btnAllSickNotesHistory, btnAllPrescriptionsHistory];
        var viewsElements = [divAnamnesisHistoryView, divSickNotesHistoryView, divPrescriptionsHistoryView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divProceduresHistoryView, btnAllProceduresHistory);
    }

    function activateAnamnesisHistoryView(){
        var buttons = [btnAllProceduresHistory, btnAllSickNotesHistory, btnAllPrescriptionsHistory];
        var viewsElements = [divProceduresHistoryView, divSickNotesHistoryView, divPrescriptionsHistoryView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divAnamnesisHistoryView, btnAllAnamnesisHistory);
    }

    function activateSickNotesHistoryView(){
        var buttons = [btnAllProceduresHistory, btnAllAnamnesisHistory, btnAllPrescriptionsHistory];
        var viewsElements = [divProceduresHistoryView, divAnamnesisHistoryView, divPrescriptionsHistoryView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divSickNotesHistoryView, btnAllSickNotesHistory);
    }

    function activatePrescriptionsHistoryView(){
        var buttons = [btnAllProceduresHistory, btnAllAnamnesisHistory, btnAllSickNotesHistory];
        var viewsElements = [divProceduresHistoryView, divAnamnesisHistoryView, divSickNotesHistoryView];
        unselectThis(buttons);
        deactivateThis(viewsElements);
        activateThis(divPrescriptionsHistoryView, btnAllPrescriptionsHistory);
    }

    //Onbording
    var usageHelper = document.getElementById("usage"); 
    usageHelper.addEventListener("click", showInstructions, false);
  
    function showInstructions(){
      swal("<%= get_title() %>", "<%= get_patient_history_instructions() %>", "<%= get_icon_type() %>");
    }

    //-Onboarding

</script>

<script src="<%= static_path(@conn, "/js/jquery.slimscroll.js") %>"></script>
<script src="<%= static_path(@conn, "/js/jquery.scrollTo.min.js") %>"></script>