<div class="content-page">
    <div class="content">
        <div class="container">

          <div class="row">
            <div class="col-xs-12">
              <div class="page-title-box">
                  <h4 class="page-title">Anamnese</h4>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="btn-group m-b-10 m-l-5">
            <%= link "Emitir anamnese", to: "#", id: "anamnesisButton", class: "btn btn-lg btn-success waves-effect" %>
          </div>

          <div class="card-box">
            <h1><%= @patient.name %></h1>
            <hr>
            <%= render DentalBookPresenter.PatientView, "show_anamnesis_content.html", anamnesis: @answered_anamnesis %>
          </div> <!-- card -->
         

    </div> <!-- container -->
  </div> <!-- content -->
</div> <!-- content page -->


<script>
    var anamnesisButton = document.getElementById("anamnesisButton"); 
    anamnesisButton.addEventListener("click", printAnamnesis, false);
   
    function printAnamnesis(){
      var http = new XMLHttpRequest();
      var url = "<%= patient_anamnesis_path(@conn, :print_anamnesis, @patient) %>";
      var csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
      var params = "params=" + getAnamnesisParams();
      
      http.open("POST", url, true);
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      http.setRequestHeader("X-CSRF-Token", csrf_token);
      http.responseType = 'arraybuffer';

      http.onreadystatechange = function() {
        var success = 200;
        var report_name = "anamnese.pdf";
        if(http.readyState == XMLHttpRequest.DONE && http.status == success) {
            var blob = new Blob([http.response], {type: "application/pdf"});

            if (window.navigator && window.navigator.msSaveOrOpenBlob) {
              window.navigator.msSaveOrOpenBlob(blob, report_name);
              return;
            } 

            var file = window.URL.createObjectURL(blob);
            var link = document.createElement("a");
            link.href = file;   
            link.download = report_name;   
            document.body.appendChild(link);
            link.click();
        }
      }

      http.send(params);
    }

    function getAnamnesisParams(){
      var anamnesisId = <%= @answered_anamnesis.id %>;
      return escape(`&anamnesis_id=${anamnesisId}`);
    }
</script>

