<%= render "form.html", changeset: @changeset,
                        action: medicine_path(@conn, :update, @medicine),
                        conn: @conn,
                        method: :put,
                        action_type: :edit %>

