<div class="content-page">
  <div class="content">
    <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="page-title-box">
          <h4 class="page-title"><%= get_label_from(@action_type) %> Medicamento</h4>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="card-box">
      <%= form_for @changeset, @action, fn f -> %>
        <%= if @changeset.action do %>
          <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-alert"></i>
            <strong>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</strong>
          </div>
        <% end %>

        <div class="row">
          <div class="form-group col-md-12">
            <%= label f, :tipo_de_uso, class: "control-label" %>
            <%= create_use_type_field(f, "use_type") %>
            <hr class="no-margin-bottom color-line">
          </div>

          <div class="form-group col-md-12">
            <div>
              <label class="control-label" for="medicine_controlled">Medicamento controlado?</label>
            </div>
            <%= create_controlled_medicine_field(f, "controlled") %>
            <hr class="no-margin color-line">
          </div>
        </div>

        <div class="form-group">
          <%= label f, :descrição, class: "control-label" %>
          <%= text_input f, :description, class: "form-control" %>
          <%= error_tag f, :description %>
        </div>

        <div class="form-group">
          <%= label f, :posologia, class: "control-label" %>
          <%= textarea f, :default_prescription, class: "form-control" %>
          <%= error_tag f, :default_prescription %>
        </div>

        <div class="text-right panel-footer">
          <%= link "Cancelar", to: medicine_path(@conn, :index), class: "btn" %>
          <%= submit "Salvar", class: "btn btn-info" %>
        </div>
      <% end %>
    </div> <!-- Card-box -->

    </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->


<script>

  $(function(){
    if($('.done').val() === "true"){
      $('.done').click();
    }

    document.getElementById('medicine_controlled').addEventListener('click', function() {
      var checkBoxStatus = $('#medicine_controlled').val();
      if (checkBoxStatus === "true"){
        $('#medicine_controlled').val("false");
      }
      else{
        $('#medicine_controlled').val("true");
      }
    });
  });
  
</script>