<%= render "form.html", changeset: @changeset,
                        action: medicine_path(@conn, :create),
                        conn: @conn,
                        method: :post,
                        action_type: :new %>

