<br/>

<div class="m-t-40 account-pages">

<div class="text-center account-logo-box btn-primary"> <!-- cabeçalho de login -->
  <h2 class="text-uppercase white-text"> 
      Dental
      <span><i class="mdi mdi-tooth"></i></span>
      Book
  </h2>
</div> <!-- fim cabeçalho de login -->

  <div class="account-content">


    <%= form_for @conn, session_path(@conn, :create), [as: :session,  class: "form-horizontal"], fn f  -> %>

      <% login_field = Coherence.Config.login_field %>
      <div class="text-danger" style="text-align:center; margin-bottom:20px;">
        <%= get_flash(@conn, :error) |> show_failed_auth_if_needed %>
      </div>

      <div class="text-primary" style="text-align:center; margin-bottom:20px;">
         <%= get_flash(@conn, :info) |> show_failed_auth_if_needed %>
      </div>
    
      <div class="form-group">
        <div class="col-xs-12">
        <%= text_input f, login_field, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Email" %>
        <%= error_tag f, login_field %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
        <%= password_input f, :password, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Senha" %>
        <%= error_tag f, :password %>
        </div>
      </div>

      <%= if @remember do %>
        <div class="form-group">
          <input type="checkbox"  name="remember"> Remember Me?
        </div>
        <br />
      <% end %>

      <div class="form-group text-center m-t-30">
        <%= coherence_links(@conn, :new_session) %>
      </div>

      <div class="form-group account-btn text-center m-t-10">
        <%= link "Cancelar", to: "/", class: "btn btn-danger w-md btn-bordered" %>
        <%= submit "Entrar", class: "btn btn-primary w-md btn-bordered" %>
      </div>

    <% end %>
 </div> <!-- account content -->
</div>

