<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dentalbook</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/core.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/icons.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/pages.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/menu.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/responsive.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap-select.min.css") %>"> 

    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="https://assets.pagar.me/checkout/checkout.js"></script>
    <script src="/js/modernizr.min.js"></script>  
    <style> .white-text{ color: white; }</style>
  </head>

  <body>
    <section>
      <div class="container-alt">
        <div class="row">
          <div class="col-sm-12">
            <div class="wrapper-page" id="register-card">
              <main role="main">
              <!--<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
              <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>-->
                <%= render @view_module, @view_template, assigns %>
              </main>
            </div> <!--end wrapper-->
          </div>
        </div>
      </div>
    </section>
   
    
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script> 
    <script src="<%= static_path(@conn, "/js/jquery.core.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.blockUI.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/detect.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/fastclick.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap-inputmask.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap-select.min.js") %>"></script>
    
    
    <script> 
      var resizefunc = []; 
    </script>

  </body>
</html>
