<div>
  <p>Olá, <%= @name %>!<p>
  <p>Queremos dar as boas vindas ao Dentalbook e agradecê-lo pela confiança depositada em nossa parceria.</p>
  <p>
    Esperamos tornar a administração de seu negócio mais simples, segura e eficiente.
  </p>
  <p>
    Caso precise entrar em contato sobre informações diversas ou mudanças de plano 
    estaremos à disposição por meio do email: faleconosco@dentalbook.com.br.
  </p>
  
  <%= if(@has_support) do %>
    <p>
      Para comunicação de erros e defeitos entre em contato no email: 
      suporte@dentalbook.com.br
      ou <strong>whatsapp: (99) 99999-9999</strong>.
    </p>
    <p>
      Existem duas formas para comunicar problemas encontrados no uso do software Dentalbook: 
      <ul>
        <li>Vídeo;</li>
        <li>Texto descritivo;</li>
      </ul>
    </p>
    <p>
      Ao escolher nos enviar um vídeo do problema, inicie a gravação do passo inicial para que seja possível entender tudo
      que foi feito até a ocorrência do problema.
    </p>
    <p>
      Já para o texto descritivo, será necessário responder algumas questões para que seja possível a reprodução em nosso
      ambiente de testes. As questões são:
      <ul>
        <li>Qual a funcionalidade com problema?</li>
        <li>Quais os passos realizados até o aparecimento do problema?</li>
        <li>Qual é o resultado correto esperado?</li>
        <li>Qual é o resultado incorreto obtido?</li>
      </ul>
    </p>  
    <p>
      E para finalizar o texto descritivo é preciso enviar a imagem do problema ocorrendo.
    </p>
    <p>
      Essas informações servirão para garantir que seja possível rastrear o problema para impedir que aconteça de novo.
    </p>  
  <% end %>

  <p>
    Atenciosamente,</br> 
    Equipe Dentalbook.
  </p>
</div>