<div>
  <p>Olá <%= @name %>!<p>
  <p>
    Recebemos uma solicitação para alteração de sua senha. Utilize o link abaixo para realizar esta mudança.
  </p>
  <p>
    <a href="<%= @url %>">Clique aqui para criar uma nova senha</a>
  </p>
  <p>
    Se não foi você quem fez essa solicitação, pode ignorar este e-mail.
  </p>
  <p>
    Sua senha não será alterada até que você acesse o link acima e crie uma nova senha para sua conta.
  </p>
</div>