<div>
  <p>Olá <%= @name %>!<p>
  <p>
    Sua conta no Dentalbook foi criada com sucesso. Porém, para que você possa usufruir dos nossos serviços é preciso confirmar
    o pagamento da sua mensalidade. Por enquanto nós temos como opções de pagamento transferência ou depósito bancário. Abaixo
    estão as instruções para a realização e comprovação do pagamento.
  </p>
  <p>
    Conta para transferência ou depósito bancário:
  </p>
  <p>
    Banco: Itaú <br>
    Conta: 34230 Dígito 4 <br>
    Agência: 4290 <br>
    Nome: Stenio Nobres Batista <br>
    CPF: 032.671.981-43 <br>
  </p>
  <p>
    Para confirmar o pagamento envie o seu comprovante para o nosso e-mail: pagamentos@dentalbook.com.br.
  </p>
</div>