<style>
  .action-size{
     width: 25%;
  }
  
  .pagination{
    margin: 0;
  }

  .search-options{
    margin-bottom: 0;
  }

  .search{
    text-align: right;
  }

  .no-side-padding{
    padding-left: 0;
    padding-right: 0;
  }

  .bounce {
	animation: bounce 1.5s infinite;
	-webkit-animation: bounce 1.5s infinite;
	-moz-animation: bounce 1.5s infinite;
	-o-animation: bounce 1.5s infinite;
    }
    
    @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
        40% {-webkit-transform: translateY(-10px);}
        60% {-webkit-transform: translateY(-5px);}
    }
    
    @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
        40% {-moz-transform: translateY(-10px);}
        60% {-moz-transform: translateY(-5px);}
    }
    
    @-o-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
        40% {-o-transform: translateY(-10px);}
        60% {-o-transform: translateY(-5px);}
    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-10px);}
        60% {transform: translateY(-5px);}
    }

  .procedure-color{ color: #484848;}
  
  .table > tbody > tr > td { vertical-align: middle; }

  .total-money{ font-size: 2.5em;}

  .search-money{
    padding-right: 0.25em;
    font-size: 1.5em;
  }

  .info-bar{
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
  }

  .info-bar-money{
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
  }

</style>

<div class="content-page">
    <div class="content">
        <div class="container">

          <div class="row">
              <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Receitas</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            <button id="usage" class="btn btn-success waves-effect">
                             <i class="mdi mdi-help"></i> Instruções de uso
                            </button>
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div>

      
<div class="info-bar">
    <div class="btn-group m-b-10">
        <%= link "Nova Receita", to: income_path(@conn, :new), class: "btn btn-lg btn-success waves-effect" %>
    </div>

    <div class="info-bar-money">

        <div class="search-money">
            <%= @income_total.searched_partial_income_budget %> /
        </div>

        <div class="total-money">
            <%= @income_total.searched_total_income_budget %>
        </div>
    </div>
</div>


<div class="card-box table-responsive">

      <%= if get_flash(@conn, :info) do %>
          <div class="alert alert-info alert-dismissible fade in alert-icon" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-check-all"></i>
            <%= get_flash(@conn, :info) %>
          </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="mdi mdi-alert"></i>
            <%= get_flash(@conn, :error) %>
        </div>
      <% end %>


<!--MOOOOOOOOODAAAAALL-->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Pesquisa de Receitas</h4>
            </div>

            <form accept-charset="UTF-8" action="/receitas" method="get">
                <div class="modal-body">
                    <input name="_utf8" type="hidden" value="✓">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Nome do Paciente</label>
                                <input type="text" class="form-control" name="income_search[patient_name]" value="<%= get_patient_name_filter(@conn) %>">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Descrição da Receita</label>
                                <input type="text" class="form-control" name="income_search[income_description]" value="<%=get_income_description_filter(@conn)%>">
                            </div>
                        </div>
                    </div>

                    <div class="row"> <!-- Início período de busca-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Data início</label>
                                <input class="form-control appointment_ui_date" id="start_search_date" name="income_search[start_date]" placeholder="dd/mm/aaaa" type="text" value="<%=get_start_date_filter(@conn)%>">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-6" class="control-label">Data fim</label>
                                <input class="form-control appointment_ui_date" id="end_search_date" name="income_search[end_date]" placeholder="dd/mm/aaaa" type="text" value="<%=get_end_date_filter(@conn)%>">
                            </div>
                        </div>
                    </div> <!-- Fim período de busca-->
               
                    <div class="row"> <!-- início search-options -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Recebidas</label>
                            </div>
                            <div class="form-group search-options">
                                <input type="checkbox" id="paid" switch="info" name="income_search[paid]" <%=get_search_option_status("paid", @conn)%>/>
                                <label for="paid" data-on-label="Sim" data-off-label="Não"></label>
                            </div>
                            <hr style="margin-top:0; border-top:1px solid rgba(152, 152, 152, 0.8)">
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-5" class="control-label">A receber</label>
                            </div>
                            <div class="form-group search-options">
                                <input type="checkbox" id="not-paid" switch="info" name="income_search[not_paid]" <%=get_search_option_status("not_paid", @conn)%>/>
                                <label for="not-paid" data-on-label="Sim" data-off-label="Não"></label>
                            </div>
                            <hr style="margin-top:0; border-top:1px solid rgba(152, 152, 152, 0.8)">
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-6" class="control-label">Em atraso</label>
                            </div>
                            <div class="form-group search-options">
                                <input type="checkbox" id="overdue" switch="info" name="income_search[overdue]" <%=get_search_option_status("overdue", @conn)%>/>
                                <label for="overdue" data-on-label="Sim" data-off-label="Não"></label>
                            </div>
                            <hr style="margin-top:0; border-top:1px solid rgba(152, 152, 152, 0.8)">
                        </div>
                    </div> <!-- Fim search-options -->                    

                </div> <!--modal body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">Pesquisar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Fim do modal-->

    <div class="search-pagination col-md-12 m-b-10 no-side-padding">
        <div class="col-xs-8 no-side-padding">
            <%= pagination_link(
                @conn, 
                @rummage,
                [
                    first_label: "Primeira",
                    previous_label: "Anterior",
                    next_label: "Próxima",
                    last_label: "Última",
                    max_page_links: 3
                ]
                ) 
            %>
        </div>

        <div class="col-xs-4 search no-side-padding">
            <button id="filters-btn" class="btn btn-success waves-effect waves-light <%= alert_if_have_selected_filters(@conn) %>" data-toggle="modal" data-target="#con-close-modal">
                <i class="fa fa-search"></i> Filtrar receitas
            </button>
        </div>
    </div>

<%= if not_exists?(@incomes) && alert_if_have_selected_filters(@conn) == "" do %>
    <table class="table table-striped table-colored table-success">
        <thead>
            <tr>
            <th><%= sort_link @conn, @rummage, [field: :description, name: "Receita"]%></th>
            <th><%= sort_link @conn, @rummage, [field: :created_at, name: "Lançamento"]%></th>
            <th><%= sort_link @conn, @rummage, [field: :due_date_at, name: "Vencimento"]%></th>
            <th><%= sort_link @conn, @rummage, [field: :paid_at, name: "Pagamento"]%></th>
            <th><%= sort_link @conn, @rummage, [field: :value, name: "Valor"]%></th>

            <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <%= show_that_income_is_empty() %>

<% else %>
    <table class="table table-striped table-colored table-success">
    <thead>
        <tr>
        <th><%= sort_link @conn, @rummage, [field: :description, name: "Receita"]%></th>
        <th><%= sort_link @conn, @rummage, [field: :created_at, name: "Lançamento"]%></th>
        <th><%= sort_link @conn, @rummage, [field: :due_date_at, name: "Vencimento"]%></th>
        <th><%= sort_link @conn, @rummage, [field: :paid_at, name: "Pagamento"]%></th>
        <th><%= sort_link @conn, @rummage, [field: :value, name: "Valor"]%></th>

        <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
    <%= for income <- @incomes do %>
        <tr>
        <td class="col-md-3"> <p class="m-0 text-muted font-13"><%= income.patient_name %></p> <p class="procedure-color m-0"><%= income.description %></p></td>
        <td><%= income.created_at %></td>
        <td><%= income.due_date_at %></td>
        <td><%= income.paid_at %></td>
        <td><%= income.value %></td>

        <td class="button-list text-right action-size col-md-3">
            <%= link raw("<i class=\"fa fa-pencil\"></i> Editar"), to: income_path(@conn, :edit, income), class: "btn btn-icon waves-effect btn-info edit-row m-b-0" %>
            <%= link raw("<i class=\"fa fa-remove\"></i> Remover"), to: income_path(@conn, :delete, income), method: :delete, data: [confirm: "Deseja excluir esta receita?"], class: "btn btn-danger m-b-0" %>
        </td>
        </tr>
    <% end %>
    </tbody>
    </table>
<% end %>

  
  </div> <!--end card-box-->

</div> <!--end container-->
    </div> <!--end content -->
</div> <!-- end content-page -->

<script>

  function hasCharacter(value){
    var regexOnlyNumbers = /^\d+$/;
    return !regexOnlyNumbers.test(value);
  }

  function clearDatePickerIfIsAnInvalidYear(datePicker, dateAsString){
    [day, month, year] = $(dateAsString).val().split("/");
    if(hasCharacter(day)) { datePicker.clear(); }
    if(hasCharacter(month)) { datePicker.clear(); }
    if(hasCharacter(year)) { datePicker.clear(); }
    if(year < 100) { datePicker.clear(); }
  }

  function returnToSelectedDate(datePickerShown, dateAsString){
    var selectedDateString = $(dateAsString).val();
    if (selectedDateString == "") { return; }
    
    [day, month, year] = selectedDateString.split("/");

    var selectedDate = new Date(year, month -1, day);

    datePickerShown.date = selectedDate;
    datePickerShown.selectDate(selectedDate);
  }

  function createDatePicker(inputId){
    var datePicker = $(inputId).datepicker({
      language: "pt-BR",
      clearButton: true,
      todayButton: new Date(),
      dateFormat : 'dd/mm/yyyy',
      maxDate: new Date("2100", "01", "01"),
      onHide: function (datePickerShown, animationCompleted){ clearDatePickerIfIsAnInvalidYear(datePickerShown, inputId); },
      onShow: function(datePickerShown, animationCompleted){ returnToSelectedDate(datePickerShown, inputId); }
    }).data('datepicker');

    return datePicker;
  }

  function isNotAValidDay(day, month){
      var february = 2;
      var lastValidDayInFebruary = 29;

      if(hasCharacter(day)) return true;
      
      if(month == february && day > lastValidDayInFebruary) { return true; }

      if (day < 1 || day > 31) { return true; }
      
      return false;
  }

  function isNotAValidMonth(month){
    if(hasCharacter(month)) return true;

    return (month < 1 || month > 12);
  }


  function hasAtLeastTwoCaractersIn(year){
    return year.length >= 2;
  }
  
  function isAValidYear(year){
    return year > 99;
  }

  function selectingDateManually(partialDateSelected, datePicker){
    var dateElements = partialDateSelected.val().split('/');
    
    if(dateElements.length != 3){ return; }

    [day, month, year] = dateElements;

    if(isNotAValidDay(day, month) || isNotAValidMonth(month)){
      datePicker.clear();
      return;
    }

    if(hasAtLeastTwoCaractersIn(year) && isAValidYear(year)){
       var newSelectedDate = new Date(year, month - 1, day);
       datePicker.date = newSelectedDate;
       datePicker.selectDate(newSelectedDate);
    }
   
  }

  function datePickerInitialize(inputId, index, array) {
    var datePicker = createDatePicker(inputId);

    $(inputId).on('keyup', function(){
       selectingDateManually($(this), datePicker);
    });
  }

  function datePickerInit(inputsIds){
    for(var element = 0; element < inputsIds.length; element++){
      datePickerInitialize(inputsIds[element])
    }
  }

  /*------------------------------------------------------*/

  $(function(){
    datePickerInit(['#start_search_date', '#end_search_date']);
  });


  /*--------------------ONBOARDING----------------------------------*/

  var usageHelper = document.getElementById("usage"); 
  usageHelper.addEventListener("click", showInstructions, false);
  
  function showInstructions(){
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  }

  <%= if not_exists?(@incomes) && alert_if_have_selected_filters(@conn) == "" && @current_user.sign_in_count == 0 do %>
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  <% end %>

  /*--------------------ONBOARDING----------------------------------*/

</script>