<style>
  .awesomplete{
    z-index: 9999!important;
  }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">Receituário</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="btn-group m-b-10 m-l-5">
        <button type="button" id="prescriptionButton" class="btn btn-lg btn-success waves-effect">Emitir receituário</button>
      </div>

      <div class="btn-group m-b-10 m-l-5">
        <%= link "Voltar", to: patient_path(@conn, :show, @assigns.patient), class: "btn btn-lg btn-default waves-effect" %>
      </div>

      <div class="card-box">

        <%= form_for @assigns.changeset, @assigns.action, [method: :post], fn f -> %>
          <%= if @assigns.changeset.action do %>
            <div class="alert alert-danger">
              <p>Oops, something went wrong! Please check the errors below.</p>
            </div>
          <% end %>

          <div class="row">
            <div class="form-group col-md-6">
              <%= label f, :paciente, class: "control-label" %>
              <%= text_input f, :patient_name, value: @assigns.patient.name, class: "form-control", disabled: :disabled %>
            </div>

            <div class="form-group col-md-6">
              <%= label f, :dentista, class: "control-label" %>
              <%= text_input f, :dentist_name, value: @assigns.dentist.name, class: "form-control", disabled: :disabled %>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-7">
              <%= label f, :medicamento, class: "control-label" %>
              <%= create_medicine_searcher(f) %>
            </div>
            <div class="form-group col-md-2">
              <%= label f, :quantidade, class: "control-label" %>
              <%= text_input f, :medicine_quantity, value: 1, class: "form-control" %>
            </div>
            <div class="form-group col-md-3">
              <%= label f, :medida, class: "control-label" %>
              <%= select f, :measure, get_medicine_measures(), class: "form-control selectpicker show-tick"  %>
            </div>
          </div>

          <%= copy_to_field(f, :medicine_description, "medicine_default_prescription", f, :medicine_prescription) %>
          <div class="row">
            <div class="form-group col-md-12">
              <%= label f, :posologia, class: "control-label" %>
              <%= textarea f, :medicine_prescription, class: "form-control" %>
            </div>
          </div>

          <%= copy_to_field(f, :medicine_description, "medicine_use_type", f, :use_type) %>
          <%= hidden_input f, :use_type %>

          <div class="row">
            <div class="form-group col-md-10">
              <%= link "Incluir medicamento ao receituário", to: "#", id: "addMedicineButton", class: "btn btn-success waves-effect" %>
            </div>
          </div>

          <div class="row" id="prescriptions"></div>
         
        <% end %>

      </div> <!-- Card-box -->

    </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->


<script>
  // Manipulação de medicamentos

  var addObservationButton = document.getElementById("addMedicineButton");
  addObservationButton.addEventListener("click", addObservation, false);

   function addObservation(){
      var medicineFieldElement = document.getElementById("prescription_medicine_description");
      var medicineUseTypeElement = document.getElementById("prescription_use_type");
      var medicineQuantityElement = document.getElementById("prescription_medicine_quantity");
      var medicineMeasureElement = document.getElementById("prescription_measure");
      var medicinePrescriptionElement = document.getElementById("prescription_medicine_prescription");

      var medicineDescription = medicineFieldElement.value;
      var medicineUseType = medicineUseTypeElement.value;
      var medicineQuantityValue = medicineQuantityElement.value;
      var medicineMeasureValue = medicineMeasureElement.value;
      var medicinePrescriptionText = medicinePrescriptionElement.value.replace(/\r?\n/g, '<br/>');

      debugger;
      if (medicineDescription == "" || 
         medicineQuantityValue == "" || 
         medicinePrescriptionText == ""){
            swal("Atenção", "É necessário que os seguintes campos estejam preenchidos: medicamento, quantidade e posologia", "error");
            return;
         } 
   
      var prescriptionSubtitle = `${medicineUseType} - ${medicineQuantityValue} ${medicineMeasureValue}`;
      var prescriptions = document.getElementById("prescriptions");
          
      var prescriptionId = Date.now();

      var newPrescription = `
        <div class="col-sm-12">
          <article class="panel panel-border panel-teal">            
            <div class="panel-heading">
              <div class="col-xs-6 col-sm-6" style="padding:0;">
                <h4 style="margin:0;">
                  ${medicineDescription}
                </h4>
                <p class="timeline-date text-muted" style="margin:0;">
                  <small>${prescriptionSubtitle}</small>
                </p>
              </div>
              <div class="col-xs-6 col-sm-6" style="text-align:right;padding:0;">
                <button id="teste" type="button" class="close" onClick="removeObservation(this)">
                  <i class="ion-close-round"></i>
                </button>
              </div>
            </div>
            
            <div class="panel-body" style="padding-left:0; margin-left:10px;">
              <p class="col-xs-12 col-sm-12" style="overflow-wrap:break-word;">
                ${medicinePrescriptionText}
              </p>
            </div>

            <div class="prescription_to_be_sent">
              <input type="hidden" value="${medicineDescription}">
              <input type="hidden" value="${medicineUseType}">
              <input type="hidden" value="${medicineQuantityValue}">
              <input type="hidden" value="${medicineMeasureValue}">
              <input type="hidden" value="${medicinePrescriptionText}">
            </div>
          </article>
        </div>
      `;

      prescriptions.innerHTML = prescriptions.innerHTML + newPrescription;
      medicineFieldElement.value = "";
      medicineQuantityElement.value = "1";
      medicinePrescriptionElement.value = "";
    }

    function removeObservation(element){
      var allPanel = element.parentNode.parentNode.parentNode.parentNode;
      allPanel.remove();
    }

    /* Print ajax do receituário */

    var printPrescriptionButton = document.getElementById("prescriptionButton");
    printPrescriptionButton.addEventListener("click", makeThePrint, false);
      
    function makeThePrint(){
      const http = new XMLHttpRequest();
      const url = "<%= patient_prescription_path(@conn, :create_prescription, @assigns.patient) %>";
      const csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
      const prescriptionParams = getPrescriptionParams()

      debugger;
      if (prescriptionParams.params.prescription_content.length == 0){
        swal("Atenção", "É necessário que pelo menos um medicamento tenha sido prescrito.", "error");
        return;
      }

      const params = JSON.stringify(prescriptionParams);

      http.open("POST", url, true);
      http.setRequestHeader('Content-type','application/json; charset=utf-8');
      http.setRequestHeader("X-CSRF-Token", csrf_token);
      http.responseType = 'arraybuffer';

      http.onreadystatechange = function() {
        var success = 200;
        if(http.readyState == XMLHttpRequest.DONE && http.status == success) {
          var blob = new Blob([http.response], {type: "application/pdf"});

          if (window.navigator && window.navigator.msSaveOrOpenBlob) {
            window.navigator.msSaveOrOpenBlob(blob, "receituario.pdf");
            return;
          } 

          var file = window.URL.createObjectURL(blob);
          var link = document.createElement("a");
          link.href = file;   
          link.download = "receituario.pdf";   
          document.body.appendChild(link);
          link.click();
        }
      }

      http.send(params);
    }

    function getPrescriptionParams(){
      return {
        params: {
          patient_id: "<%= @assigns.patient.id %>",
          patient_name: "<%= @assigns.patient.name %>",
          dentist_id: "<%= @assigns.dentist.id %>",
          dentist_name: "<%= @assigns.dentist.name %>",
          dentist_cro: "<%= @assigns.dentist.cro %>",
          prescription_content: get_prescriptions_content()
        }
      };
    }

    function get_prescriptions_content(){
      const prescriptions = Array.from(document.getElementsByClassName('prescription_to_be_sent'));
      const get_prescription_content = (prescription) => Array.from(prescription.children).map((item, index) => `${index}: ${item.value}`);
      return prescriptions.map(get_prescription_content);
    }

  /* Final do print do receituário */

</script>