<style>
  .controlled-medicine{
    margin-left: 8rem; 
    margin-top: 4rem; 
    width: 80%;
    position: relative;
  }

  .controlled-left-form{
    text-align: justified!important; 
    width: 50%;
    position: relative;
    top: 0;
    left: 0;
    padding-left: 1rem;
    font-size: 1.7rem; 
    border: 1px solid black;
    height: 280px;
  }

  .controlled-right-form{
    text-align: justified!important; 
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 1rem;
    font-size: 1.7rem; 
    border: 1px solid black;
    height: 280px;
  }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">Visualização de Receituário</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="btn-group m-b-10 m-l-5">
        <%= link "Voltar", to: patient_path(@conn, :show, @prescription["patient_id"]), class: "btn btn-lg btn-success waves-effect" %>
      </div>
      
      <div class="card-box">
        <div class="row">

          <header style="margin-bottom: 5rem!important;">
            <section style="margin-left: 8rem!important;">
                <p style="margin-bottom: 0;"><strong>Paciente:</strong> <%= @prescription["patient_name"] %></p>
                <p><strong>Emitido em:</strong> <%= @prescription["emission_date"] %> </p>
            </section>
            <section>
                <h3 class="text-center">Prescrição</h3>
            </section>
          </header>          

          <section style="text_align: justified!important; padding-left: 8rem; padding-right: 8rem;">

            <%= if (@prescription_content["Uso Interno"]) do %>
                <p><strong>Uso Interno</strong></p>

                <%= Enum.map(@prescription_content["Uso Interno"], fn (content) -> %>
                  <section style="margin-bottom: 1.5em; padding-left: 1em;">
                    <p id="template-content">
                      <strong><%= content["0"] %></strong> - <%= "#{content["2"]} #{content["3"]}" %>	
                    </p>
                    <p id="template-content">
                      <%= content["4"] %>
                    </p>
                  </section>
                <% end) %>
            <% end %>

            <%= if (@prescription_content["Uso Externo"]) do %>
              <p><strong>Uso Externo</strong></p>

              <%= Enum.map(@prescription_content["Uso Externo"], fn (content) -> %>
                <section style="margin-bottom: 1.5em; padding-left: 1em;">
                  <p id="template-content">
                    <strong><%= content["0"] %></strong> - <%= "#{content["2"]} #{content["3"]}" %>	
                  </p>
                  <p id="template-content">
                    <%= content["4"] %>
                  </p>
                </section>
              <% end) %>
            <% end %>
          </section>

          <footer style="margin-top: 5rem;">
            <h4 class="m-t-0 text-center"><b><%= @prescription["dentist_name"] %></b></h4>
            <h5 class="m-t-0 text-center"><b><%= @prescription["dentist_cro"] %></b></h5>
          </footer>

          <div class="controlled-medicine">
            <section class="controlled-left-form">
                <p class="text-center"><strong>Identificação do Comprador</strong></p>
                <p><strong>Nome:</strong></p>
                <p><strong>RG:</strong></p>
                <p><strong>Órg. Emissor:</strong></p>
                <p><strong>End:</strong></p>
                <p><strong>Cidade/UF:</strong></p>
                <p><strong>Telefone:</strong></p>
            </section>

            <section class="controlled-right-form">
                <p class="text-center"><strong>Identificação do Fornecedor</strong></p>
                <p class="really-small">.</p>
                <p class="really-small">.</p>
                <p class="text-center">Data</p>
                <p class="really-small">.</p>
                <p class="really-small">.</p>
                <p class="text-center">Assinatura do Farmacêutico</p>
            </section>
          </div>

        
        </div> <!--end row-->
      </div> <!--end card-box-->
    </div> <!--end container-->
  </div> <!--end content -->
</div> <!-- end content-page -->
