<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dentalbook</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/core.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/icons.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/pages.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/responsive.css") %>"> 

    <style>
      .call-to-action{
        margin-right: 3em;
      }

      .call-to-action > li > a{
        color: white;
        border-radius: 0;
        padding-top: 1em;
        font-size: 1.3em;
      }

      .call-to-action>li>a:hover{
        color: black;
      }
    </style>

  </head>

  <body>

             
    <header class="header">
      <nav role="navigation">
        <ul class="nav nav-pills pull-right call-to-action">
          <%= if is_nil(@conn.assigns.current_user) do %>
            <%= DentalBookPresenter.Coherence.ViewHelpers.coherence_links(@conn, :layout) %>
          <% end %>
        </ul>
      </nav>
    </header>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

  </body>
</html>
