<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">Receitas agrupadas por procedimento</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div id="search" class="col-xs-12 col-lg-4 col-md-4">
        <div class="card-box" style="padding-top: 4rem;">
          <%= form_for @changeset, @action, [method: :post], fn f -> %>

            <div id="multiselect-search" class="form-group" style="display:none;">
              <%= make_filter_of(@procedures, f) %>
            </div>

            <div class="form-group">
              <%= label f, "Início", class: "control-label" %>
              <%= create_date_picker f, :start_date %>
              <%= error_tag f, :start_date %>
            </div>

            <div class="form-group">
              <%= label f, "Fim", class: "control-label" %>
              <%= create_date_picker f, :end_date %>
              <%= error_tag f, :end_date %>
            </div>
    
            <%= submit "Filtrar", class: "btn btn-block btn-success waves-effect waves-light" %>
            
          <% end %>
        </div> <!--end filters-->
      </div>

      <%= show(@grouped_procedures) %>

    </div> <!--end container-->
  </div> <!--end content -->
</div> <!-- end content-page -->

<script>
    
  jQuery(document).ready(showMultiSelectWhenIsReady);

  function showMultiSelectWhenIsReady () {
    const multiSelect = document.getElementById('grouped_income_ui_procedures');

    if(multiSelect){
      document.getElementById('multiselect-search').style.display = "block";
      $('#grouped_income_ui_procedures').select2(); 
    } else {
      setTimeout(showMultiSelectWhenIsReady, 10);
    }
  }

  //Manage Datepickers


  function hasCharacter(value){
    var regexOnlyNumbers = /^\d+$/;
    return !regexOnlyNumbers.test(value);
  }

  function clearDatePickerIfIsAnInvalidYear(datePicker, dateAsString){
    [day, month, year] = $(dateAsString).val().split("/");
    if(hasCharacter(day)) { datePicker.clear(); }
    if(hasCharacter(month)) { datePicker.clear(); }
    if(hasCharacter(year)) { datePicker.clear(); }
    if(year < 100) { datePicker.clear(); }
  }

  function returnToSelectedDate(datePickerShown, dateAsString){
    var selectedDateString = $(dateAsString).val();
    if (selectedDateString == "") { return; }
    
    [day, month, year] = selectedDateString.split("/");

    var selectedDate = new Date(year, month -1, day);

    datePickerShown.date = selectedDate;
    datePickerShown.selectDate(selectedDate);
  }

  function createDatePicker(inputId){
    var datePicker = $(inputId).datepicker({
      language: "pt-BR",
      clearButton: true,
      position: 'top right',
      todayButton: new Date(),
      dateFormat : 'dd/mm/yyyy',
      maxDate: new Date("2100", "01", "01"),
      onHide: function (datePickerShown, animationCompleted){ clearDatePickerIfIsAnInvalidYear(datePickerShown, inputId); },
      onShow: function(datePickerShown, animationCompleted){ returnToSelectedDate(datePickerShown, inputId); },
      onSelect: function(formattedDate, date, inst) { movePatientAgeToRelatedField(); }
    }).data('datepicker');

    return datePicker;
  }

  function isNotAValidDay(day, month){
      var february = 2;
      var lastValidDayInFebruary = 29;

      if(hasCharacter(day)) return true;
      
      if(month == february && day > lastValidDayInFebruary) { return true; }

      if (day < 1 || day > 31) { return true; }
      
      return false;
  }

  function isNotAValidMonth(month){
    if(hasCharacter(month)) return true;

    return (month < 1 || month > 12);
  }


  function hasAtLeastTwoCaractersIn(year){
    return year.length >= 2;
  }
  
  function isAValidYear(year){
    return year > 99;
  }

  function selectingDateManually(partialDateSelected, datePicker){
    var dateElements = partialDateSelected.val().split('/');
    
    if(dateElements.length != 3){ return; }

    [day, month, year] = dateElements;

    if(isNotAValidDay(day, month) || isNotAValidMonth(month)){
      datePicker.clear();
      return;
    }

    if(hasAtLeastTwoCaractersIn(year) && isAValidYear(year)){
       var newSelectedDate = new Date(year, month - 1, day);
       datePicker.date = newSelectedDate;
       datePicker.selectDate(newSelectedDate);
    }
   
  }

  function datePickerInitialize(inputId, index, array) {
    var datePicker = createDatePicker(inputId);

    $(inputId).on('keyup', function(){
       selectingDateManually($(this), datePicker);
    });
  }

  function datePickerInit(inputsIds){
    for(var element = 0; element < inputsIds.length; element++){
      datePickerInitialize(inputsIds[element])
    }
  }

  $(function(){
    datePickerInit(['#grouped_income_ui_start_date', '#grouped_income_ui_end_date']);
  });

  //End Datepickers

</script>

<script src="<%= static_path(@conn, "/js/jquery.slimscroll.js") %>"></script>
<script src="<%= static_path(@conn, "/js/jquery.scrollTo.min.js") %>"></script>