<style>
  .contract-action{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #1576c2;
  }

  .contract-action > a{
    margin-left: 20px;
    vertical-align: middle;
  }

  .btn-group-vertical:not(.bootstrap-select), .btn-group:not(.bootstrap-select){
    box-shadow: none;
  }

  .btn-shadow{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }

  .no-plan{
    display: none;
  }

  .no-show{
    display: none;
  }

  #register-card{
    max-width: <%= @register_card_size %>;
  }

  #contract-content > p{
    text-align: justify;
  }

</style>

<div class="m-t-40 account-pages">
  <div class="text-center account-logo-box btn-primary"> <!-- cabeçalho de login -->
    <h2 class="text-uppercase white-text"> 
        <span><i class="mdi mdi-account-plus"></i></span> <%= @title %> 
    </h2>
  </div> <!-- fim cabeçalho de login -->

  <div class="account-content">
  <%= form_for @changeset, @action, [as: :registration, class: "form-horizontal" ], fn f  -> %>

    <%= if @changeset.action do %> <!-- Acho que é quando está com problema de não seleção -->
      <div id="contract" style="display: none;"> <!-- contrato -->

        <div class="alert alert-danger no-plan">
            <p>É necessário a escolha de um plano antes de prosseguir.</p>
        </div>

        <div class="form-group" style="margin-bottom: 50px;">
          <div class="col-xs-12">
            <%= label f, "", class: "control-label" %>
            <%= select f, :plan, [[value: "0", key: "Escolha seu plano"], [value: "147504", key: "Incisivo - R$ 34,90 por usuário - Mensal"], [value: "147507", key: "Canino - R$ 59,90 usuários ilimitados - Mensal"], [value: "147508", key: "Molar - R$ 299,90 usuários ilimitados - Semestral"]], class: "form-control selectpicker show-tick", data: [style: "btn-primary btn-bordered"]  %>
            <%= error_tag f, :plan %>
          </div>
        </div>

        
        <section id="no-plan">
          <h1> Escolha um plano para ver seu contrato </h1>
        </section>

        <section id="incisivo-contract" class="no-show">
          <h1> Contrato do plano Incisivo </h1>
        </section>

        <section id="canino-contract" class="no-show">
          <h1>Contrato do plano Canino</h1>
        </section>

        <section id="molar-contract" class="no-show">
          <h1>Contrato do plano Molar</h1>
        </section>

       <section id="contract-content" class="no-show">
         <h4> TERMO DE COMPROMISSO DE USO DE SOFTWARE </h4>
         <p>
            Este Termo e Condições Gerais (“Termo”) aplicam-se ao uso dos serviços oferecidos pela 7S Representações., 
            devidamente inscrita no CNPJ/MF sob o nº 28.661.710/0001-81 (“Dentalbook”), gestora do software Dentalbook, 
            acessada pelo site https://www.dentalbook.com.br e seus subdomínios, neste ato representada por seu sócio proprietário, 
            devidamente qualificado através de sua assinatura digital, cujos serviços respeitarão os dispositivos do presente Termo, 
            doravante denominado Dentalbook, a pessoa física ou jurídica, maior e capaz, que tenha preenchido o cadastro, 
            cujos dados passam a ser parte integrante deste Termo, bem como que tenha "aceitado" eletronicamente todas 
            as cláusulas do mesmo e todas as demais políticas disponíveis no site, doravante denominado USUÁRIO.
         </p>

          <p>
            Os serviços disponíveis do Dentalbook, através de acesso no site https://www.dentalbook.com.br, bem como todos
            os seus subdomínios e aplicativos serão regidos pelas cláusulas e condições abaixo.
          </p>

          <p>
            Ao aceitar eletronicamente o presente Termo, através do clique no botão “Aceitar e Continuar cadastro”, o USUÁRIO 
            estará automaticamente aderindo e concordando em se submeter integralmente a seus termos e condições e de qualquer 
            de suas alterações futuras, além de aceitar as disposições das políticas da Dentalbook. 
            Em caso de discordância dos termos aqui apresentados, a utilização do software deve ser imediatamente interrompida.
          </p>

          <h4> CLÁUSULA 01ª – Do plano escolhido e mensalidade </h4>

          <p>
            1.1. Em razão da utilização das ferramentas disponíveis no Dentalbook, o USUÁRIO pagará a cada 30 dias, ou a cada 180 dias 
            à Dentalbook, de forma antecipada, por meio de cartão de crédito, ou qualquer outro meio de pagamento disponibilizado 
            ao USUÁRIO pela Dentalbook, o valor previsto na página do plano descrito no presente contrato.
          </p>

          <p>
            1.1.1. Caso o USUÁRIO opte pelo plano INCISIVO deverá pagar a cada 30 dias (aproximadamente um mês) à Dentalbook 
            o valor de R$ 34,90 (trinta e quatro reais e noventa centavos). Este valor é cobrado por usuário criado dentro do 
            software Dentabook. Ou seja, se o consultório é formado pelo dentista e mais uma secretária, dois usuários devem 
            ser criados no software Dentalbook. Com base no plano INCISIVO, escolhido no momento da criação da conta, 
            e na quantidade de 2 (dois) usuários, conforme exemplo, o USUÁRIO pagará como mensalidade o valor 
            de R$ 69,80 (sessenta e nove reais e oitenta centavos). A cada novo usuário criado no software Dentalbook o valor 
            será acrescido de R$ 34,90 (trinta e quatro reais e noventa centavos). Neste plano o USUÁRIO tem acesso completo a 
            todo o conjunto de funcionalidades oferecidas pelo software Dentalbook.
          </p>

          <p>
            1.1.2. Caso o USUÁRIO opte pelo plano CANINO deverá pagar a cada 30 dias (aproximadamente um mês) à Dentalbook o valor 
            de R$ 59,90 (cinquenta e nove reais e noventa centavos). Este valor é cobrado independentemente da quantidade de usuários. 
            Ou seja, se o consultório é formado pelo dentista e mais uma secretária, dois usuários devem ser criados no software Dentalbook. 
            Com base no plano CANINO escolhido no momento da criação da conta e na quantidade de 2 (dois) usuários, conforme exemplo, 
            o USUÁRIO pagará como mensalidade o valor de R$ 59,90(cinquenta e nove reais e noventa centavos). 
            Neste plano o USUÁRIO pode criar quantos usuários desejar sem acréscimo na mensalidade e tem acesso completo a todo 
            o conjunto de funcionalidades oferecidas pelo software Dentalbook, como também suporte à migração de seus dados e suporte 
            via email ou Whatsapp.
          </p>

          <p>
            1.1.3. Caso o USUÁRIO opte pelo plano MOLAR deverá pagar a cada 180 dias (aproximadamente um semestre) à Dentalbook 
            o valor de R$ 299,90(duzentos e noventa e nove reais e noventa centavos). 
            Este valor é cobrado independentemente da quantidade de usuários. Ou seja, se o consultório é formado pelo dentista 
            e mais uma secretária, dois usuários devem ser criados no software Dentalbook. Com base no plano MOLAR escolhido 
            no momento da criação da conta e na quantidade de 2 (dois) usuários, conforme exemplo, o USUÁRIO pagará como 
            mensalidade o valor de R$ 299,90(duzentos e noventa e nove reais e noventa centavos). Neste plano o USUÁRIO 
            pode criar quantos usuários desejar sem acréscimo na mensalidade e tem acesso completo a todo o conjunto de 
            funcionalidades oferecidas pelo software Dentalbook, como também suporte a migração de seus dados e suporte 
            via email ou Whatsapp.
          </p>

          <p>
            1.1.4. O suporte para migração de dados contempla o envio de uma planilha pela Dentalbook ao USUÁRIO com a estrutura 
            de informações necessária para carga no sistema. O USUÁRIO deverá realizar o preenchimento das informações e 
            posteriormente fazer o envio da planilha ao suporte técnico da Dentalbook. Na posse dos dados a Dentalbook 
            fará a inclusão das informações na conta do USUÁRIO. A Dentalbook se reserva ao direito de não realizar uma 
            migração de dados caso se depare com limitações técnicas que inviabilizem o serviço, sem geração de qualquer ônus 
            para nenhuma das partes.
          </p>

          <p>
            1.1.5. O atendimento de suporte técnico será realizado via email e/ou Whatsapp. Após a criação da conta o USUÁRIO 
            receberá um informativo contendo os endereços de email e número do Whatsapp para contato com o suporte técnico 
            da Dentalbook. A Dentalbook se reserva ao direito de responder quaisquer mensagens em até 48h.
          </p>

          <p>
            1.1.6 Os itens 1.1.4 e 1.1.5 são contemplados somente para os planos CANINO e MOLAR. 
            O plano INCISIVO não possue os suportes técnico e de migração.
          </p>

          <p>
           1.2. O USUÁRIO pode a qualquer momento durante os primeiros 30 (trinta) dias de uso do software, 
           a contar da data de cadastro, pedir o reembolso integral do valor pago. 
           Porém, após esse prazo entender-se-á que o USUÁRIO renunciou tacitamente ao seu direito de arrependimento 
           e a quaisquer direitos referentes ao presente, passado e futuro, relativos a fatos, obrigações e responsabilidades, 
           direta ou indiretamente relacionados ao período de teste do software, nada mais tendo a reclamar da Dentalbook, 
           seja a que título for, judicial ou extrajudicialmente, em que tempo for.
          </p>

          <p>
            1.3. Assim que o software é contratado, o vencimento ocorrerá no aniversário da data da contratação, 
            realizada no ato da assinatura. Após o ciclo finalizado da primeira MENSALIDADE, o USUÁRIO autoriza 
            desde já a renovação automática da sua ASSINATURA, mediante aceite do presente termo. 
            Em caso da renovação automática não estar disponível, o usuário se compromete a efetuar o 
            pagamento utilizando os outros meios disponíveis pela Dentalbook.
          </p>

          <p>
            1.3.1. Em caso da forma de pagamento utilizada pelo o USUÁRIO for cartão de crédito utilizando meios 
            fornecidos pela Dentalbook o débito será efetuado a cada 30 (trinta) dias a partir da data de ativação do cadastro.
          </p>

          <p>
            1.4. Caso o USUÁRIO seja bloqueado em razões de inadimplência, o vencimento ocorrerá no aniversário da 
            data de pagamento, realizada no ato da quitação dos débitos.
          </p>

          <p>
            1.5. Caso o USUÁRIO não deseje a renovação automática, este deverá comunicar por email (suporte@dentalbook.com.br) 
            ou diretamente no seu cadastro no Dentalbook, caso disponível, o seu desejo da não renovação, 
            que será efetuado em até 72 (setenta e duas) horas a contar do pedido, sendo que, se feito após a cobrança 
            da mensalidade, o mesmo só valerá a partir do próximo aniversário, não sendo reembolsada qualquer mensalidade 
            já paga (apesar do acesso ao cadastro do USUÁRIO somente ser bloqueado na data da próxima renovação, que foi cancelada).
          </p>

          <p>
            1.6. Caso o USUÁRIO faça a opção pelo plano MOLAR para usufruir do desconto nas mensalidades, em caso de cancelamento 
            antes do aniversário do cadastro, ou seja, anteriormente ao período de 180 (cento e oitenta) dias, os valores já pagos 
            não serão reembolsados, mesmo que de maneira pro rata.
          </p>

          <p>
            1.7. Ao cancelar o seu cadastro, o USUÁRIO terá o prazo de 30 (trinta) dias a contar do último dia de acesso no 
            Dentalbook para exportar os seus dados. Após este prazo, a Dentalbook não garantirá mais a disponibilidade dos dados do USUÁRIO, 
            sendo que o USUÁRIO tem ciência que, pelo código médico, este possui uma obrigação de manter um backup físico destes 
            arquivos pelos prazos exigidos em lei, independente dos serviços fornecidos pela Dentalbook.
          </p>

          <p>
            1.8. A Dentalbook poderá dar o presente Termo por rescindido, bloqueando o acesso ao software, caso o USUÁRIO 
            permaneça inadimplente por mais de 7 (sete) dias.
          </p>

          <p>
            1.9. Os valores para acesso ao software, a serem pagos conforme previsto no presente Termo, serão reajustados automaticamente 
            a cada 12 (doze) meses, contados do ato do cadastro, de acordo com o IGP-M ou, na sua ausência, com o índice que vier a 
            substituí-lo, independentemente de prévia notificação ao USUÁRIO.
          </p>

          <p>
            1.10. Caso sejam criados novos tributos ou alteradas as condições de cálculo e/ou cobrança de tributos já existentes, 
            que venham a impactar nos valores de remuneração vigentes, os custos resultantes de tal impacto poderão ser repassados 
            ao USUÁRIO e somados à remuneração vigente, de forma a reestabelecer o equilíbrio econômico-financeiro da prestação 
            dos serviços.
          </p>

          <h4> CLÁUSULA 02ª – DA CRIAÇÃO DE CONTA E USO NA FERRAMENTA </h4>

          <p>
            2.1. Para utilização do software, o USUÁRIO deverá acessar o site https://www.dentalbook.com.br, escolher um dos planos 
            apresentados e se cadastrar para a habilitação do acesso, informando à Dentalbook todos os dados exigidos, 
            inclusive seu número de celular, e responsabilizando-se o USUÁRIO civil e criminalmente pela veracidade das informações, 
            inclusive perante terceiros, obrigando-se também a manter seus dados atualizados. No ato do cadastro no Dentalbook, o USUÁRIO 
            deverá escolher entre os diversos planos, que irão compor a mensalidade. O USUÁRIO deverá ainda informar obrigatoriamente 
            um endereço de email válido de uso único e exclusivo. Neste sentido, a Dentalbook não efetua qualquer checagem de informações 
            ou de perfil de nenhum USUÁRIO que deseje utilizar o software ou os serviços disponibilizados no Dentalbook no ato do cadastro, 
            nem realiza uma profunda investigação sobre a veracidade das informações apostas, com exceção do previsto nas 
            Cláusulas 2.5, 2.6 e 2.7. Desta forma, a Dentalbook não se responsabiliza, de nenhuma maneira e em nenhuma hipótese, 
            pela utilização indevida dos serviços ou pelas atividades de seus USUÁRIOS no software Dentalbook.
          </p>

          <p>
            2.2. O software Dentalbook estará a disposição do USUÁRIO 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana, 
            com exceção de manutenções regulares, problemas com os data centers, que são tercerizados, casos fortuitos e de 
            força maior, que serão informados previamente mediante comunicado no próprio software Dentalbook ou via email.
          </p>

          <p>
            2.3. O login e a senha que dão acesso ao cadastro do USUÁRIO são de seu uso pessoal e intransferível, razão pela qual 
            a Dentalbook não se responsabiliza por eventual manipulação não autorizada dessas informações por terceiros, 
            e devendo, portanto, o USUÁRIO tomar todas as medidas necessárias para manter em sigilo as referidas informações.
          </p>

          <p>
            2.4. O USUÁRIO compromete-se a notificar a Dentalbook imediatamente, mediante apresentação da reclamação 
            diretamente à Dentalbook, a respeito de qualquer uso não autorizado de sua conta, bem como o acesso não autorizado 
            por terceiros a mesma. O USUÁRIO será o único responsável pelas operações efetuadas em sua conta, uma vez que o 
            acesso à mesma só será possível mediante a aposição da senha, cujo conhecimento é exclusivo do USUÁRIO.
          </p>

          <p>
            2.5. A Dentalbook se reserva o direito de utilizar todos os meios válidos e possíveis para identificar seus USUÁRIOS, 
            portanto poderá a Dentalbook, a qualquer momento, à seu critério, solicitar cópias de documentos do USUÁRIO, 
            de forma a garantir a veracidade dos dados. Nestes casos, a Dentalbook poderá suspender o fornecimento de serviços, 
            até o recebimento dos documentos solicitados, ficando isenta de qualquer responsabilidade ou ressarcimento ao 
            pretendente. Caso algum dado seja verificado pela Dentalbook como inconsistente com os documentos apresentados, 
            o USUÁRIO terá o prazo de 2 (dois) dias úteis para efetuar as devidas correções, sob pena de ter o seu 
            acesso ao software Dentalbook bloqueado, até a regularização do cadastro, podendo inclusive cancelar 
            definitivamente o referido cadastro, se assim entender necessário à proteção dos interesses da Dentalbook e 
            seus USUÁRIOS, sem prejuízo de outras medidas que entender necessárias e oportunas.
          </p>

          <p>
            2.6. As informações fornecidas pelo USUÁRIO, com exceção dos dados que ficam visíveis aos demais USUÁRIOS 
            no software Dentalbook, serão de uso confidencial e exclusivo da Dentalbook e seus parceiros, e somente 
            serão fornecidas nos casos previstos pela Lei ou quando constatada(s) fraude(s), 
            como por exemplo: falsidade ideológica (utilização de nomes e documentos falsos), falsificação 
            ou incorreta utilização dos serviços, hipótese em que as informações do fraudador (nome, endereço, IP etc) 
            poderão ser fornecidas ao prejudicado e às autoridades responsáveis 
            (incluindo-se aí a DERCIFE - Delegacia Especializada de Repressão a Crimes contra a Informática e Fraudes Eletrônicas, 
            ou outra Delegacia Especializada em Crimes Cibernéticos do respectivo estado).
          </p>

          <p>
            2.7. Nesse sentido, e sem prejuízo de outras medidas, a Dentalbook poderá advertir, suspender ou cancelar, 
            temporária ou definitivamente o cadastro de um USUÁRIO, a qualquer tempo, iniciando as ações legais cabíveis 
            e/ou suspendendo a prestação de seus serviços se:
          </p>

          <p>
            a) o USUÁRIO não cumprir qualquer dispositivo deste Termo e demais políticas da Dentalbook; 
          </p>

          <p>
            b) se descumprir com seus deveres de USUÁRIO;
          </p>

          <p>
            c) se praticar atos fraudulentos ou dolosos, que possam provocar ações criminosas, ilícitas, disfuncionais 
            ou moralmente censuráveis, ou que tenham como objetivo interferir no funcionamento e 
            qualidade do site https://www.dentalbook.com.br e seus subdomínios e/ou do software Dentalbook;
          </p>

          <p>
            d) se não puder ser verificada a identidade do USUÁRIO ou qualquer informação fornecida por ele esteja incorreta; ou
          </p>

          <p>
            e) contenha alguma forma de publicidade ou fim comercial sem a autorização prévia da Dentalbook.
          </p>

          <p>
            2.8. O software Dentalbook está disponível apenas para as pessoas que tenham capacidade legal para utilizá-lo, 
            portanto, pessoas que não gozem dessa capacidade, inclusive menores de idade, ou pessoas que tenham sido 
            inabilitadas do software Dentalbook, temporária ou definitivamente, por qualquer infração ao presente Termo, 
            estão advertidas das sanções legais do Código Civil, notadamente, dos artigos 166, inciso I, 171, 
            inciso I e 180 da lei n° 10.406/02.
          </p>

          <p>
            2.9. Informações de menores de idade não poderão ser submetidas ao software Dentalbook por pessoas com idade 
            inferior a 18 (dezoito) anos, sem o prévio consentimento dos pais ou responsável. É terminantemente proibido 
            que menores de idade naveguem e façam uso do software Dentalbook, sem o referido consentimento. 
            Com a aceitação deste Termo, ficará tacitamente entendido que este consentimento foi dado pelos pais ou responsável, 
            ficando estes exclusivamente responsáveis pelo conteúdo acessado pelos menores de idade, 
            pelas informações dos menores de idade inseridas no software Dentalbook, e caso estes sejam USUÁRIOS, 
            pelo pagamento dos valores da mensalidade.
          </p>

          <p>
            2.10. Para os USUÁRIOS que permanecem com um cadastro ativo e com as mensalidades pagas em dia, a Dentalbook 
            manterá os dados e informações dos pacientes, atreladas ao cadastro do USUÁRIO, por prazo indeterminado, 
            na forma prevista na legislação. Para os USUÁRIOS que realizem o cancelamento de seu cadastro, 
            os procedimentos previstos na Cláusula 1.7 acima deverão ser seguidos.
          </p>

          <p>
            2.11. O USUÁRIO expressamente reconhece e concorda com a mensalidade cobrada pela Dentalbook, 
            como remuneração pela utilização do software Dentalbook, que serão pagos mediante a forma escolhida 
            na página de planos, para habilitação dos serviços para o USUÁRIO.
          </p>

          <p>
            2.12. O USUÁRIO será responsável pelo uso dos serviços e do software Dentalbook providos no presente Termo, 
            observando todas as leis, decretos e regulamentos nacionais, estaduais e municipais aplicáveis e em vigor, 
            as Normas de Segurança e Privacidade e as Políticas publicadas e divulgadas pela Dentalbook e por seus 
            parceiros comerciais, divulgadas em seu site https://www.dentalbook.com.br e/ou seus subdomínios.
          </p>

          <p>
            2.13. A Dentalbook não será responsabilizada por erros, interrupções, mal-funcionamentos, 
            atrasos ou outras imperfeições que possam surgir nos serviços, que são possíveis de ocorrer em se 
            tratando de informática, não garantindo, a Dentalbook, de nenhuma forma, a prestação de serviço de forma 
            ininterrupta e/ou isenta de erros, exceto na forma prevista na Cláusula 3.1.1 acima.
          </p>

          <p>
            2.14. O USUÁRIO será integralmente responsável por certificar-se de que a configuração de seu 
            equipamento está em pleno acordo com os requisitos mínimos, necessários a fruição dos serviços 
            oferecidos pela Dentalbook, estando esta última livre e isenta de qualquer responsabilidade 
            decorrente da não observância do disposto nesta cláusula.
          </p>

          <h4> CLÁUSULA 03ª – DAS MODIFICAÇÕES NO PRESENTE TERMO </h4>

          <p>
            3.1. A Dentalbook poderá alterar, a qualquer tempo, as condições do presente Termo, visando seu 
            aprimoramento e melhoria dos serviços prestados. As novas condições entrarão em vigor 15 (quinze) 
            dias após a notificação ao usuário, que será realizada via email. Sendo assim, caso o USUÁRIO não 
            concorde com as modificações publicadas, este deverá imediatamente cessar o uso da FERRAMENTA, 
            proceder com o cancelamento de suas informações, conforme procedimentos descritos no presente Termo. 
            Neste caso, o vínculo contratual do USUÁRIO com a Dentalbook deixará de existir. No entanto, não 
            havendo manifestação no prazo acima estipulado, entender-se-á que o USUÁRIO aceitou tacitamente as 
            novas condições do Termo e continuará vinculando as partes.
          </p>

          <h4> CLÁUSULA 04ª – DAS INFORMAÇÕES PESSOAIS COLETADAS PELA DENTALBOOK </h4>

          <p> 
            4.1. O USUÁRIO ao aceitar utilizar o software, além de aceitar integralmente o presente termo, 
            também consente, livre e expressamente, que a Dentalbook colete, use, armazene e faça o tratamento 
            de suas informações, incluindo seus dados pessoais, financeiros, bancários, de conta, os quais serão 
            necessários para que o serviço ofertado seja prestado em sua integralidade.
          </p>

          <p>
            4.2. Conforme já determinado anteriormente, a Dentalbook não fornecerá as informações do 
            USUÁRIO (e de seus pacientes) a terceiros sem prévia autorização do mesmo, com exceção de casos 
            já previamente autorizados pelo presente Termo e nos casos onde são necessários para responder às 
            solicitações ou perguntas de entidades governamentais, ou nos casos onde, de boa fé, a Dentalbook 
            entender que é necessária a sua divulgação, com o propósito de responder às reclamações que o conteúdo 
            submetido ao software Dentalbook infringe direitos de terceiros ou a legislação em vigor, ou seja, 
            necessária para a proteção de direitos, propriedades e/ou segurança do software Dentalbook, 
            de seus USUÁRIOS e/ou do público em geral.
          </p>

          <p>
            4.3. Em outra hipótese, se a Dentalbook for obrigada por lei, ordem judicial ou outro processo legal, 
            a divulgar alguma informação pessoal do USUÁRIO, não hesitará em cooperar com estes agentes. 
            Assim, por meio deste instrumento, o USUÁRIO autoriza a Dentalbook a divulgar estas informações 
            pessoais para atender aos fins acima indicados, desde que sejam embasados em pedidos judiciais.
          </p>

          <p>
            4.4. As informações anônimas cedidas pelo USUÁRIO, registradas devido ao uso do sistema 
            (com exceção ao conteúdo de mensagens pessoais), servirão como insumos para o mapeamento de informações 
            de mercado e formação de estatísticas da Dentalbook e/ou parceiros autorizados. Através do cadastramento, 
            uso e fornecimento de informações à Dentalbook, o USUÁRIO deliberadamente aceita o presente Termo 
            sobre o uso de suas informações. No entanto, a Dentalbook ressalta que não terá acesso a quaisquer 
            informações de pacientes e os seus prontuários, cujo sigilo é protegido pela legislação brasileira e 
            pelas resoluções de categoria profissional.
          </p>

          <p>
            4.5. O USUÁRIO que não concordar com o presente Termo e proceder com o cancelamento de seu CADASTRO, 
            removerá seus dados para futuras consultas, mas esta remoção não funcionará de maneira retroativa, ou seja, 
            as ações anteriores à essa decisão continuarão armazenados e com uso de acordo com os interesses da Dentalbook.
          </p>

          <p>
            4.6. Não é permitida a utilização de nenhum dispositivo, software ou outro recurso que venha a interferir 
            nas atividades e operações do software Dentalbook, bem como nas contas ou seus bancos de dados. 
            Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade 
            intelectual e/ou as proibições estipuladas neste Termo, tornarão o responsável passível das ações legais pertinentes, 
            bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.
          </p>

          <p>
            4.7. O USUÁRIO consente livre e expressamente que a Dentalbook utilize cookies apenas para controlar a 
            audiência e a navegação em seu site e possibilitar a identificação de serviços segmentados e personalizados 
            ao perfil do USUÁRIO. A Dentalbook garante que estas informações coletadas por meio de cookies são estatísticas 
            e não pessoais, bem como que não serão utilizadas para propósitos diversos dos expressamente previstos nestes termos
            de uso, comprometendo-se a adotar todas as medidas necessárias a fim de evitar o acesso e o uso de tais 
            informações por quaisquer terceiros, sem a devida autorização.
          </p>

          <h4> CLÁUSULA 05ª - Das Obrigações do USUÁRIO </h4>

          <p>
            5.1. Manter pessoal treinado para a operação do software e para a comunicação com a Dentalbook e prover, 
            sempre que ocorrerem quaisquer problemas com o software, toda a documentação, relatórios e demais 
            informações que relatem as circunstâncias em que os problemas ocorreram, objetivando facilitar e agilizar os trabalhos;
          </p>

          <p>
            5.2. Responder pelas informações inseridas no software, pelo cadastramento, permissões, senhas e modo de utilização 
            de seus usuários. A Dentalbook em hipótese alguma será responsável pelo conteúdo (informações, senhas, 
            cópias de informações, etc) sobre o software, não sendo, portanto, estas informações revisadas em momento algum. 
            A responsabilidade pelas informações do software é sempre do USUÁRIO.
          </p>

          <p>
            5.3. Não utilizar o software de qualquer forma que possa implicar em ilícito, infração, violação de direitos 
            ou danos à Dentalbook ou terceiros.
          </p>

          <p>
            5.4. Não publicar, enviar ou transmitir qualquer arquivo que contenha vírus, worms, cavalos de tróia ou qualquer 
            outro programa que possa contaminar, destruir ou interferir no bom funcionamento do software.
          </p>

          <p>
            5.5. Informar a Dentalbook sempre que houver qualquer alteração das informações que possam impedir, 
            limitar ou prejudicar o acesso às informações necessárias para a execução das funcionalidades ofertadas pelo software.
          </p>

          <p>
            5.6. Caso o USUÁRIO acredite que seu login e senha de acesso ao software tenham sido roubados ou sejam de conhecimento 
            de outras pessoas, por qualquer razão, deverá imediatamente comunicar a Dentalbook, sem prejuízo da alteração de 
            senha imediata por meio do site.
          </p>

          <h4> CLÁUSULA 06ª - Das Obrigações da Dentalbook </h4>

          <p>
            6.1. A Dentalbook garante ao usuário que o software deverá funcionar regularmente, se respeitadas as condições 
            de uso definidas na documentação. Na ocorrência de falhas de programação (“bugs”), a Dentalbook obrigar-se-á a 
            corrigir tais falhas, podendo à seu critério, substituir a versão do software com falhas por uma versão corrigida;
          </p>

          <p>
            6.2. Fornecer, ato contínuo ao aceite destes termos de uso, acesso ao software pelo prazo estabelecido entre as partes;
          </p>

          <p>
            6.3. Suspender o acesso ao software que esteja desrespeitando as regras de conteúdo aqui estabelecidas ou 
            as normas legais em vigor ou ainda, ao final do prazo de validade deste instrumento, independentemente de aviso prévio;
          </p>

          <p>
            6.4. Alterar as especificações e/ou características do software licenciados para a melhoria e/ou correções de erros;
          </p>

          <h4> CLÁUSULA 07ª – DO PRAZO E DA VIGÊNCIA </h4>

          <p>
            7.1. O presente Termo possui prazo indeterminado, entrando em vigor na data de seu aceite eletrônico. 
            No entanto, a Dentalbook poderá rescindir a prestação dos serviços objeto do presente Termo a qualquer momento, 
            mediante comunicação prévia e expressa ao USUÁRIO, e este deverá quitar eventuais débitos existentes 
            (custos, despesas, encargos operacionais) e/ou efetuar o pagamento de indenizações decorrentes de lesão a 
            terceiros por conta do mal-uso dos serviços.
          </p>

          <p>
            7.2. O presente Termo ainda poderá ser rescindido, de pleno direito, independentemente de qualquer notificação 
            ou interpelação, judicial ou extrajudicial, nas seguintes hipóteses:
          </p>

          <p>
            a) pela quebra de qualquer de suas disposições, por qualquer das partes, de forma a impedir a continuidade da execução do objeto do mesmo; 
          </p>

          <p>
            b) se o USUÁRIO, de qualquer forma, comprometer a imagem pública da Dentalbook e/ou de qualquer empresa associada a esta na prestação dos serviços;
          </p>

          <p>
            c) se o USUÁRIO utilizar de práticas que desrespeitem a lei, a ordem pública, a moral, os bons costumes ou, ainda, o presente Termo; e 
          </p>

          <p>
            d) pelo não pagamento de uma ou mais das remunerações referentes aos serviços.
          </p>

          <h4> CLÁUSULA 08ª – DA PROPRIEDADE INTELECTUAL </h4>

          <p>
            8.1. O USUÁRIO não adquire, pelo presente instrumento, nenhum direito de propriedade intelectual ou outros 
            direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou direitos sobre informações 
            confidenciais ou segredos de negócio, sobre ou relacionados ao software ou nenhuma parte dele. 
            O USUÁRIO também não adquire nenhum direito sobre ou relacionado ao software ou qualquer componente dele, 
            além dos direitos expressamente licenciados ao mesmo sob os presentes termos de uso ou em qualquer outro 
            contrato mutuamente acordado por escrito que o USUÁRIO possa ter celebrado com a Dentalbook. 
            Quaisquer direitos não expressamente concedidos sob o presente instrumento são reservados.
          </p>

          <p>
            8.2. Também será de propriedade exclusiva da Dentalbook ou está devidamente licenciado, todo o conteúdo 
            disponibilizado no site, incluindo, mas não se limitando, textos, gráficos, imagens, logos, ícones, 
            fotografias, conteúdo editorial, notificações, softwares e qualquer outro material.
          </p>

          <h4> CLÁUSULA 09ª – DAS DISPOSIÇÕES GERAIS E DA ARBITRAGEM </h4>

          <p>
            9.1. O USUÁRIO expressamente aceita que a Dentalbook e/ou qualquer de seus parceiros enviem aos seus 
            USUÁRIOS mensagens de e-mail de caráter informativo, referentes a comunicações específicas inerentes 
            aos serviços prestados sob este Termo, bem como de natureza comercial, incluindo, entre outras, a ofertas 
            dos parceiros da Dentalbook, novidades no software Dentalbook, entre outras informações.
          </p>

          <p>
            9.2. A fim de manter e atender os últimos requisitos de mercado e de desenvolvimento tecnológicos, a Dentalbook 
            poderá alterar, a seu critério, tanto em forma como em conteúdo, suspender ou cancelar, a seu exclusivo critério, 
            a qualquer tempo, quaisquer dos serviços, produtos, utilidade ou aplicação, disponibilizados por si ou por terceiros, 
            mediante prévio aviso ao USUÁRIO, inclusive com relação aos serviços disponíveis no software Dentalbook, 
            prestados nos termos do presente Termo.
          </p>

          <p>
            9.3. O USUÁRIO não poderá ceder o seu cadastro para terceiros ou outros USUÁRIOS. Por sua vez, a Dentalbook poderá, 
            independentemente de qualquer aviso ou notificação, ceder os serviços do software Dentalbook, no todo ou em parte, 
            a empresas parceiras ou de seu grupo econômico, a qualquer momento.
          </p>

          <p>
            9.4. Todos os itens deste Termo estão regidos pelas leis vigentes na República Federativa do Brasil. 
            Para todos os assuntos referentes à sua interpretação e cumprimento e qualquer controvérsia decorrente 
            ou relacionada a este Termo e aos serviços nele contempladas, mesmo após sua eventual rescisão, poderá 
            ser solucionada por arbitragem, na (CORTE ARBITRAL), condicionada à ratificação dos termos em compromisso 
            arbitral específico ou outra forma de aceitação expressa a pedido de arbitragem feito por uma das partes.
          </p>

          <h4> CLÁUSULA 10ª – DAS DECLARAÇÕES FINAIS </h4>

          <p> 10.1. O USUÁRIO declara e concorda expressamente: </p>

          <p>
            a) ser maior de 18 anos e possuir capacidade jurídica, ou caso seja menor de 18 anos, ter expressa 
            anuência de seus pais ou representantes legais;
          </p>

          <p>
            b) em instalar e manter atualizados programas Anti Spywares, Anti-vírus e outros que impeçam a 
            violação do sistema que é utilizado para ter acesso ao software; 
          </p>

          <p>
            c) não utilizar os serviços objeto do presente Termo para quaisquer transações ilícitas ou compra 
            ou venda de produtos e/ou serviços ilícitos;
          </p>

          <p>
            d) em manter o sigilo de sua senha da conta cadastrada, não os fornecendo a terceiros; 
          </p>

          <p>
            e) em notificar imediatamente a Dentalbook caso tome ciência de qualquer violação de segurança 
            relacionada ao serviço ou uso não autorizado de seu nome de USUÁRIO e senha;
          </p>

          <p>
            f) ter condições financeiras de arcar com os pagamentos, custos e despesas decorrentes do presente termo; 
          </p>

          <p>
            g) reconhecer que o presente termo se formaliza, vinculando as Partes, com a sua aceitação eletrônica pelo USUÁRIO, 
            o que se fará mediante o clique na opção “Aceitar e Continuar cadastro”;
          </p>

          <p>
            h) que leu e está ciente e de pleno acordo com todos os termos e condições do presente termo de uso, razão pela qual o aceita de livre e espontânea vontade.
          </p>

          <p>
            10.2. Assim, tendo em vista as cláusulas do presente termo de uso, o USUÁRIO concorda integralmente com essas 
            disposições, se comprometendo a respeitar as condições aqui previstas de forma irretratável e irrevogável, 
            bem como a utilizar de modo proveitoso e legal os serviços a ele oferecidos.
          </p>

          <p>
            10.3. Ao aceitar o presente termo de uso, o USUÁRIO autoriza, desde já e expressamente, o uso gratuito de sua imagem, 
            voz e nome em todas as peças e formas de divulgação de campanhas da Dentalbook, com ou sem indicação de seu nome, 
            pelo prazo que durar cada uma dessas campanhas.
          </p>

          <p>
            10.4. Quaisquer itens que não estejam descritos no presente Termo estão fora do escopo do acordo entre o USUÁRIO 
            e a Dentalbook, sendo assim ambas as partes não são responsabilizadas de nenhuma maneira em nenhuma hipótese 
            civil e criminalmente.
          </p>

          <p>
            10.5. Por fim, as partes elegem como foro para processamento e resolução de qualquer questão decorrente da 
            interpretação, da execução ou da inexecução das obrigações estabelecidas no presente contrato, a instituição 
            arbitral denominada Oitava Câmara de Conciliação e Arbitragem de Goiânia – 1ª CCA DE GOIÂNIA, localizada 
            na Rua 14, n. 50, Setor Oeste, Goiânia/GO – CEP: 74120-070, , a quem competirá decidir a questão 
            instituindo a arbitragem conforme os procedimentos previstos em suas próprias regras - as quais as 
            partes declaram conhecer, a Lei n.º 9.307/96 e a legislação brasileira. Como forma de concordância expressa, 
            nos termos do § 2º do art. 4º da Lei n.º 9.307/96, as partes assinam a presente cláusula compromissória cheia.
          </p>

          <p>
            Por ser a expressão da verdade, as partes assinam digitalmente os termos acima mencionados.
          </p>

          <p> Assinado eletronicamente </p>
       </section>

        <footer class="contract-action text-center">
          <div class="m-b-20 btn-group-no-shadow">
            <%= link "Cancelar criação de conta", to: Coherence.Config.logged_out_url("/"), class: "btn btn-danger w-md btn-bordered" %>
            <%= link "Aceitar e Continuar cadastro", to: "#", class: "btn btn-primary w-md btn-bordered", id: "next-register-action" %>
          </div>

          <p class="text-dark" style="padding-left:20px; padding-right:20px;">
            Ao selecionar a opção "Aceitar e Continuar cadastro" você assume ter lido e concordado com os termos e condições do plano apresentado.
          </p>
        </footer>

      </div> <!-- fim contrato -->

      <div id="account-data" > <!-- starts account data -->
        <%= if @changeset.action do %>
          <div class="alert alert-danger">
            <p>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</p>
          </div>
        <% end %>

        <%= if is_nil(@changeset.action) && get_flash(@conn, :error) do %>
          <div class="alert alert-danger">
            <p> <%= get_flash(@conn, :error) %> </p>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :empresa, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Nome da empresa" %>
            <%= error_tag f, :empresa %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :name, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Nome do responsável" %>
            <%= error_tag f, :name %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :cellphone, class: "form-control", data: [mask: "(99) 99999-9999"], placeholder: "Celular do responsável" %>
            <%= error_tag f, :cellphone %>
          </div>
        </div>

        <%= unless (login_field = Coherence.Config.login_field) == :email do %>
          <div class="form-group">
            <div class="col-xs-12">
              <%= required_label f, login_field, class: "control-label" %>
              <%= text_input f, login_field, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged() %>
              <%= error_tag f, login_field %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :email, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Email" %>
            <%= error_tag f, :email %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= password_input f, :password, [class: "form-control", placeholder: "Senha", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged()] ++ @required %>
            <%= error_tag f, :password %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= password_input f, :password_confirmation, [class: "form-control", placeholder: "Confirmação de senha", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged()] ++ @required %>
            <%= error_tag f, :password_confirmation %>
          </div>
        </div>

        <div class="form-group account-btn text-center m-t-10">
          <%= link "Voltar para contrato", to: "#", class: "btn btn-danger w-md btn-bordered", id: "back-register-action" %>
          <%= submit "Criar minha conta", class: "btn btn-primary w-md btn-bordered" %>
        </div>
      </div> <!-- end account-data -->
    <% else %> <!-- Acho que é quando não tem problema de seleção -->
      <div id="contract" > <!-- contrato -->

        <div class="alert alert-danger no-plan">
          <p>É necessário a escolha de um plano antes de prosseguir.</p>
        </div>

        <div class="form-group" style="margin-bottom: 50px;">
          <div class="col-xs-12">
            <%= label f, "", class: "control-label" %>
            <%= select f, :plan, [[value: "0", key: "Escolha seu plano"], [value: "147504", key: "Incisivo - R$ 34,90 por usuário - Mensal"], [value: "147507", key: "Canino - R$ 59,90 usuários ilimitados - Mensal"], [value: "147508", key: "Molar - R$ 299,90 usuários ilimitados - Semestral"]], class: "form-control selectpicker show-tick", data: [style: "btn-primary btn-bordered"]  %>
            <%= error_tag f, :plan %>
          </div>
        </div>

        <section id="no-plan">
          <h1> Escolha um plano para ver seu contrato </h1>
        </section>

        <section id="incisivo-contract" class="no-show">
          <h1> Contrato do plano Incisivo </h1>
        </section>

        <section id="canino-contract" class="no-show">
          <h1>Contrato do plano Canino</h1>
        </section>

        <section id="molar-contract" class="no-show">
          <h1>Contrato do plano Molar</h1>
        </section>

       <section id="contract-content" class="no-show">
         <h4> TERMO DE COMPROMISSO DE  USO DE SOFTWARE </h4>
         <p>
            Este Termo e Condições Gerais (“Termo”) aplicam-se ao uso dos serviços oferecidos pela 7S Representações., 
            devidamente inscrita no CNPJ/MF sob o nº 28.661.710/0001-81 (“Dentalbook”), gestora do software Dentalbook, 
            acessada pelo site https://www.dentalbook.com.br e seus subdomínios, neste ato representada por seu sócio proprietário, 
            devidamente qualificado através de sua assinatura digital, cujos serviços respeitarão os dispositivos do presente Termo, 
            doravante denominado Dentalbook, a pessoa física ou jurídica, maior e capaz, que tenha preenchido o cadastro, 
            cujos dados passam a ser parte integrante deste Termo, bem como que tenha "aceitado" eletronicamente todas 
            as cláusulas do mesmo e todas as demais políticas disponíveis no site, doravante denominado USUÁRIO.
         </p>

          <p>
            Os serviços disponíveis do Dentalbook, através de acesso no site https://www.dentalbook.com.br, bem como todos
            os seus subdomínios e aplicativos serão regidos pelas cláusulas e condições abaixo.
          </p>

          <p>
            Ao aceitar eletronicamente o presente Termo, através do clique no botão “Aceitar e Continuar cadastro”, o USUÁRIO 
            estará automaticamente aderindo e concordando em se submeter integralmente a seus termos e condições e de qualquer 
            de suas alterações futuras, além de aceitar as disposições das políticas da Dentalbook. 
            Em caso de discordância dos termos aqui apresentados, a utilização do software deve ser imediatamente interrompida.
          </p>

          <h4> CLÁUSULA 01ª – Do plano escolhido e mensalidade </h4>

          <p>
            1.1. Em razão da utilização das ferramentas disponíveis no Dentalbook, o USUÁRIO pagará a cada 30 dias, ou a cada 180 dias 
            à Dentalbook, de forma antecipada, por meio de cartão de crédito, ou qualquer outro meio de pagamento disponibilizado 
            ao USUÁRIO pela Dentalbook, o valor previsto na página do plano descrito no presente contrato.
          </p>

          <p>
            1.1.1. Caso o USUÁRIO opte pelo plano INCISIVO deverá pagar a cada 30 dias (aproximadamente um mês) à Dentalbook 
            o valor de R$ 34,90 (trinta e quatro reais e noventa centavos). Este valor é cobrado por usuário criado dentro do 
            software Dentabook. Ou seja, se o consultório é formado pelo dentista e mais uma secretária, dois usuários devem 
            ser criados no software Dentalbook. Com base no plano INCISIVO, escolhido no momento da criação da conta, 
            e na quantidade de 2 (dois) usuários, conforme exemplo, o USUÁRIO pagará como mensalidade o valor 
            de R$ 69,80 (sessenta e nove reais e oitenta centavos). A cada novo usuário criado no software Dentalbook o valor 
            será acrescido de R$ 34,90 (trinta e quatro reais e noventa centavos). Neste plano o USUÁRIO tem acesso completo a 
            todo o conjunto de funcionalidades oferecidas pelo software Dentalbook.
          </p>

          <p>
            1.1.2. Caso o USUÁRIO opte pelo plano CANINO deverá pagar a cada 30 dias (aproximadamente um mês) à Dentalbook o valor 
            de R$ 59,90 (cinquenta e nove reais e noventa centavos). Este valor é cobrado independentemente da quantidade de usuários. 
            Ou seja, se o consultório é formado pelo dentista e mais uma secretária, dois usuários devem ser criados no software Dentalbook. 
            Com base no plano CANINO escolhido no momento da criação da conta e na quantidade de 2 (dois) usuários, conforme exemplo, 
            o USUÁRIO pagará como mensalidade o valor de R$ 59,90(cinquenta e nove reais e noventa centavos). 
            Neste plano o USUÁRIO pode criar quantos usuários desejar sem acréscimo na mensalidade e tem acesso completo a todo 
            o conjunto de funcionalidades oferecidas pelo software Dentalbook, como também suporte à migração de seus dados e suporte 
            via email ou Whatsapp.
          </p>

          <p>
            1.1.3. Caso o USUÁRIO opte pelo plano MOLAR deverá pagar a cada 180 dias (aproximadamente um semestre) à Dentalbook 
            o valor de R$ 299,90(duzentos e noventa e nove reais e noventa centavos). 
            Este valor é cobrado independentemente da quantidade de usuários. Ou seja, se o consultório é formado pelo dentista 
            e mais uma secretária, dois usuários devem ser criados no software Dentalbook. Com base no plano MOLAR escolhido 
            no momento da criação da conta e na quantidade de 2 (dois) usuários, conforme exemplo, o USUÁRIO pagará como 
            mensalidade o valor de R$ 299,90(duzentos e noventa e nove reais e noventa centavos). Neste plano o USUÁRIO 
            pode criar quantos usuários desejar sem acréscimo na mensalidade e tem acesso completo a todo o conjunto de 
            funcionalidades oferecidas pelo software Dentalbook, como também suporte a migração de seus dados e suporte 
            via email ou Whatsapp.
          </p>

          <p>
            1.1.4. O suporte para migração de dados contempla o envio de uma planilha pela Dentalbook ao USUÁRIO com a estrutura 
            de informações necessária para carga no sistema. O USUÁRIO deverá realizar o preenchimento das informações e 
            posteriormente fazer o envio da planilha ao suporte técnico da Dentalbook. Na posse dos dados a Dentalbook 
            fará a inclusão das informações na conta do USUÁRIO. A Dentalbook se reserva ao direito de não realizar uma 
            migração de dados caso se depare com limitações técnicas que inviabilizem o serviço, sem geração de qualquer ônus 
            para nenhuma das partes.
          </p>

          <p>
            1.1.5. O atendimento de suporte técnico será realizado via email e/ou Whatsapp. Após a criação da conta o USUÁRIO 
            receberá um informativo contendo os endereços de email e número do Whatsapp para contato com o suporte técnico 
            da Dentalbook. A Dentalbook se reserva ao direito de responder quaisquer mensagens em até 48h.
          </p>

          <p>
            1.1.6 Os itens 1.1.4 e 1.1.5 são contemplados somente para os planos CANINO e MOLAR. 
            O plano INCISIVO não possue os suportes técnico e de migração.
          </p>

          <p>
           1.2. O USUÁRIO pode a qualquer momento durante os primeiros 30 (trinta) dias de uso do software, 
           a contar da data de cadastro, pedir o reembolso integral do valor pago. 
           Porém, após esse prazo entender-se-á que o USUÁRIO renunciou tacitamente ao seu direito de arrependimento 
           e a quaisquer direitos referentes ao presente, passado e futuro, relativos a fatos, obrigações e responsabilidades, 
           direta ou indiretamente relacionados ao período de teste do software, nada mais tendo a reclamar da Dentalbook, 
           seja a que título for, judicial ou extrajudicialmente, em que tempo for.
          </p>

          <p>
            1.3. Assim que o software é contratado, o vencimento ocorrerá no aniversário da data da contratação, 
            realizada no ato da assinatura. Após o ciclo finalizado da primeira MENSALIDADE, o USUÁRIO autoriza 
            desde já a renovação automática da sua ASSINATURA, mediante aceite do presente termo. 
            Em caso da renovação automática não estar disponível, o usuário se compromete a efetuar o 
            pagamento utilizando os outros meios disponíveis pela Dentalbook.
          </p>

          <p>
            1.3.1. Em caso da forma de pagamento utilizada pelo o USUÁRIO for cartão de crédito utilizando meios 
            fornecidos pela Dentalbook o débito será efetuado a cada 30 (trinta) dias a partir da data de ativação do cadastro.
          </p>

          <p>
            1.4. Caso o USUÁRIO seja bloqueado em razões de inadimplência, o vencimento ocorrerá no aniversário da 
            data de pagamento, realizada no ato da quitação dos débitos.
          </p>

          <p>
            1.5. Caso o USUÁRIO não deseje a renovação automática, este deverá comunicar por email (suporte@dentalbook.com.br) 
            ou diretamente no seu cadastro no Dentalbook, caso disponível, o seu desejo da não renovação, 
            que será efetuado em até 72 (setenta e duas) horas a contar do pedido, sendo que, se feito após a cobrança 
            da mensalidade, o mesmo só valerá a partir do próximo aniversário, não sendo reembolsada qualquer mensalidade 
            já paga (apesar do acesso ao cadastro do USUÁRIO somente ser bloqueado na data da próxima renovação, que foi cancelada).
          </p>

          <p>
            1.6. Caso o USUÁRIO faça a opção pelo plano MOLAR para usufruir do desconto nas mensalidades, em caso de cancelamento 
            antes do aniversário do cadastro, ou seja, anteriormente ao período de 180 (cento e oitenta) dias, os valores já pagos 
            não serão reembolsados, mesmo que de maneira pro rata.
          </p>

          <p>
            1.7. Ao cancelar o seu cadastro, o USUÁRIO terá o prazo de 30 (trinta) dias a contar do último dia de acesso no 
            Dentalbook para exportar os seus dados. Após este prazo, a Dentalbook não garantirá mais a disponibilidade dos dados do USUÁRIO, 
            sendo que o USUÁRIO tem ciência que, pelo código médico, este possui uma obrigação de manter um backup físico destes 
            arquivos pelos prazos exigidos em lei, independente dos serviços fornecidos pela Dentalbook.
          </p>

          <p>
            1.8. A Dentalbook poderá dar o presente Termo por rescindido, bloqueando o acesso ao software, caso o USUÁRIO 
            permaneça inadimplente por mais de 7 (sete) dias.
          </p>

          <p>
            1.9. Os valores para acesso ao software, a serem pagos conforme previsto no presente Termo, serão reajustados automaticamente 
            a cada 12 (doze) meses, contados do ato do cadastro, de acordo com o IGP-M ou, na sua ausência, com o índice que vier a 
            substituí-lo, independentemente de prévia notificação ao USUÁRIO.
          </p>

          <p>
            1.10. Caso sejam criados novos tributos ou alteradas as condições de cálculo e/ou cobrança de tributos já existentes, 
            que venham a impactar nos valores de remuneração vigentes, os custos resultantes de tal impacto poderão ser repassados 
            ao USUÁRIO e somados à remuneração vigente, de forma a reestabelecer o equilíbrio econômico-financeiro da prestação 
            dos serviços.
          </p>

          <h4> CLÁUSULA 02ª – DA CRIAÇÃO DE CONTA E USO NA FERRAMENTA </h4>

          <p>
            2.1. Para utilização do software, o USUÁRIO deverá acessar o site https://www.dentalbook.com.br, escolher um dos planos 
            apresentados e se cadastrar para a habilitação do acesso, informando à Dentalbook todos os dados exigidos, 
            inclusive seu número de celular, e responsabilizando-se o USUÁRIO civil e criminalmente pela veracidade das informações, 
            inclusive perante terceiros, obrigando-se também a manter seus dados atualizados. No ato do cadastro no Dentalbook, o USUÁRIO 
            deverá escolher entre os diversos planos, que irão compor a mensalidade. O USUÁRIO deverá ainda informar obrigatoriamente 
            um endereço de email válido de uso único e exclusivo. Neste sentido, a Dentalbook não efetua qualquer checagem de informações 
            ou de perfil de nenhum USUÁRIO que deseje utilizar o software ou os serviços disponibilizados no Dentalbook no ato do cadastro, 
            nem realiza uma profunda investigação sobre a veracidade das informações apostas, com exceção do previsto nas 
            Cláusulas 2.5, 2.6 e 2.7. Desta forma, a Dentalbook não se responsabiliza, de nenhuma maneira e em nenhuma hipótese, 
            pela utilização indevida dos serviços ou pelas atividades de seus USUÁRIOS no software Dentalbook.
          </p>

          <p>
            2.2. O software Dentalbook estará a disposição do USUÁRIO 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana, 
            com exceção de manutenções regulares, problemas com os data centers, que são tercerizados, casos fortuitos e de 
            força maior, que serão informados previamente mediante comunicado no próprio software Dentalbook ou via email.
          </p>

          <p>
            2.3. O login e a senha que dão acesso ao cadastro do USUÁRIO são de seu uso pessoal e intransferível, razão pela qual 
            a Dentalbook não se responsabiliza por eventual manipulação não autorizada dessas informações por terceiros, 
            e devendo, portanto, o USUÁRIO tomar todas as medidas necessárias para manter em sigilo as referidas informações.
          </p>

          <p>
            2.4. O USUÁRIO compromete-se a notificar a Dentalbook imediatamente, mediante apresentação da reclamação 
            diretamente à Dentalbook, a respeito de qualquer uso não autorizado de sua conta, bem como o acesso não autorizado 
            por terceiros a mesma. O USUÁRIO será o único responsável pelas operações efetuadas em sua conta, uma vez que o 
            acesso à mesma só será possível mediante a aposição da senha, cujo conhecimento é exclusivo do USUÁRIO.
          </p>

          <p>
            2.5. A Dentalbook se reserva o direito de utilizar todos os meios válidos e possíveis para identificar seus USUÁRIOS, 
            portanto poderá a Dentalbook, a qualquer momento, à seu critério, solicitar cópias de documentos do USUÁRIO, 
            de forma a garantir a veracidade dos dados. Nestes casos, a Dentalbook poderá suspender o fornecimento de serviços, 
            até o recebimento dos documentos solicitados, ficando isenta de qualquer responsabilidade ou ressarcimento ao 
            pretendente. Caso algum dado seja verificado pela Dentalbook como inconsistente com os documentos apresentados, 
            o USUÁRIO terá o prazo de 2 (dois) dias úteis para efetuar as devidas correções, sob pena de ter o seu 
            acesso ao software Dentalbook bloqueado, até a regularização do cadastro, podendo inclusive cancelar 
            definitivamente o referido cadastro, se assim entender necessário à proteção dos interesses da Dentalbook e 
            seus USUÁRIOS, sem prejuízo de outras medidas que entender necessárias e oportunas.
          </p>

          <p>
            2.6. As informações fornecidas pelo USUÁRIO, com exceção dos dados que ficam visíveis aos demais USUÁRIOS 
            no software Dentalbook, serão de uso confidencial e exclusivo da Dentalbook e seus parceiros, e somente 
            serão fornecidas nos casos previstos pela Lei ou quando constatada(s) fraude(s), 
            como por exemplo: falsidade ideológica (utilização de nomes e documentos falsos), falsificação 
            ou incorreta utilização dos serviços, hipótese em que as informações do fraudador (nome, endereço, IP etc) 
            poderão ser fornecidas ao prejudicado e às autoridades responsáveis 
            (incluindo-se aí a DERCIFE - Delegacia Especializada de Repressão a Crimes contra a Informática e Fraudes Eletrônicas, 
            ou outra Delegacia Especializada em Crimes Cibernéticos do respectivo estado).
          </p>

          <p>
            2.7. Nesse sentido, e sem prejuízo de outras medidas, a Dentalbook poderá advertir, suspender ou cancelar, 
            temporária ou definitivamente o cadastro de um USUÁRIO, a qualquer tempo, iniciando as ações legais cabíveis 
            e/ou suspendendo a prestação de seus serviços se:
          </p>

          <p>
            a) o USUÁRIO não cumprir qualquer dispositivo deste Termo e demais políticas da Dentalbook; 
          </p>

          <p>
            b) se descumprir com seus deveres de USUÁRIO;
          </p>

          <p>
            c) se praticar atos fraudulentos ou dolosos, que possam provocar ações criminosas, ilícitas, disfuncionais 
            ou moralmente censuráveis, ou que tenham como objetivo interferir no funcionamento e 
            qualidade do site https://www.dentalbook.com.br e seus subdomínios e/ou do software Dentalbook;
          </p>

          <p>
            d) se não puder ser verificada a identidade do USUÁRIO ou qualquer informação fornecida por ele esteja incorreta; ou
          </p>

          <p>
            e) contenha alguma forma de publicidade ou fim comercial sem a autorização prévia da Dentalbook.
          </p>

          <p>
            2.8. O software Dentalbook está disponível apenas para as pessoas que tenham capacidade legal para utilizá-lo, 
            portanto, pessoas que não gozem dessa capacidade, inclusive menores de idade, ou pessoas que tenham sido 
            inabilitadas do software Dentalbook, temporária ou definitivamente, por qualquer infração ao presente Termo, 
            estão advertidas das sanções legais do Código Civil, notadamente, dos artigos 166, inciso I, 171, 
            inciso I e 180 da lei n° 10.406/02.
          </p>

          <p>
            2.9. Informações de menores de idade não poderão ser submetidas ao software Dentalbook por pessoas com idade 
            inferior a 18 (dezoito) anos, sem o prévio consentimento dos pais ou responsável. É terminantemente proibido 
            que menores de idade naveguem e façam uso do software Dentalbook, sem o referido consentimento. 
            Com a aceitação deste Termo, ficará tacitamente entendido que este consentimento foi dado pelos pais ou responsável, 
            ficando estes exclusivamente responsáveis pelo conteúdo acessado pelos menores de idade, 
            pelas informações dos menores de idade inseridas no software Dentalbook, e caso estes sejam USUÁRIOS, 
            pelo pagamento dos valores da mensalidade.
          </p>

          <p>
            2.10. Para os USUÁRIOS que permanecem com um cadastro ativo e com as mensalidades pagas em dia, a Dentalbook 
            manterá os dados e informações dos pacientes, atreladas ao cadastro do USUÁRIO, por prazo indeterminado, 
            na forma prevista na legislação. Para os USUÁRIOS que realizem o cancelamento de seu cadastro, 
            os procedimentos previstos na Cláusula 1.7 acima deverão ser seguidos.
          </p>

          <p>
            2.11. O USUÁRIO expressamente reconhece e concorda com a mensalidade cobrada pela Dentalbook, 
            como remuneração pela utilização do software Dentalbook, que serão pagos mediante a forma escolhida 
            na página de planos, para habilitação dos serviços para o USUÁRIO.
          </p>

          <p>
            2.12. O USUÁRIO será responsável pelo uso dos serviços e do software Dentalbook providos no presente Termo, 
            observando todas as leis, decretos e regulamentos nacionais, estaduais e municipais aplicáveis e em vigor, 
            as Normas de Segurança e Privacidade e as Políticas publicadas e divulgadas pela Dentalbook e por seus 
            parceiros comerciais, divulgadas em seu site https://www.dentalbook.com.br e/ou seus subdomínios.
          </p>

          <p>
            2.13. A Dentalbook não será responsabilizada por erros, interrupções, mal-funcionamentos, 
            atrasos ou outras imperfeições que possam surgir nos serviços, que são possíveis de ocorrer em se 
            tratando de informática, não garantindo, a Dentalbook, de nenhuma forma, a prestação de serviço de forma 
            ininterrupta e/ou isenta de erros, exceto na forma prevista na Cláusula 3.1.1 acima.
          </p>

          <p>
            2.14. O USUÁRIO será integralmente responsável por certificar-se de que a configuração de seu 
            equipamento está em pleno acordo com os requisitos mínimos, necessários a fruição dos serviços 
            oferecidos pela Dentalbook, estando esta última livre e isenta de qualquer responsabilidade 
            decorrente da não observância do disposto nesta cláusula.
          </p>

          <h4> CLÁUSULA 03ª – DAS MODIFICAÇÕES NO PRESENTE TERMO </h4>

          <p>
            3.1. A Dentalbook poderá alterar, a qualquer tempo, as condições do presente Termo, visando seu 
            aprimoramento e melhoria dos serviços prestados. As novas condições entrarão em vigor 15 (quinze) 
            dias após a notificação ao usuário, que será realizada via email. Sendo assim, caso o USUÁRIO não 
            concorde com as modificações publicadas, este deverá imediatamente cessar o uso da FERRAMENTA, 
            proceder com o cancelamento de suas informações, conforme procedimentos descritos no presente Termo. 
            Neste caso, o vínculo contratual do USUÁRIO com a Dentalbook deixará de existir. No entanto, não 
            havendo manifestação no prazo acima estipulado, entender-se-á que o USUÁRIO aceitou tacitamente as 
            novas condições do Termo e continuará vinculando as partes.
          </p>

          <h4> CLÁUSULA 04ª – DAS INFORMAÇÕES PESSOAIS COLETADAS PELA DENTALBOOK </h4>

          <p> 
            4.1. O USUÁRIO ao aceitar utilizar o software, além de aceitar integralmente o presente termo, 
            também consente, livre e expressamente, que a Dentalbook colete, use, armazene e faça o tratamento 
            de suas informações, incluindo seus dados pessoais, financeiros, bancários, de conta, os quais serão 
            necessários para que o serviço ofertado seja prestado em sua integralidade.
          </p>

          <p>
            4.2. Conforme já determinado anteriormente, a Dentalbook não fornecerá as informações do 
            USUÁRIO (e de seus pacientes) a terceiros sem prévia autorização do mesmo, com exceção de casos 
            já previamente autorizados pelo presente Termo e nos casos onde são necessários para responder às 
            solicitações ou perguntas de entidades governamentais, ou nos casos onde, de boa fé, a Dentalbook 
            entender que é necessária a sua divulgação, com o propósito de responder às reclamações que o conteúdo 
            submetido ao software Dentalbook infringe direitos de terceiros ou a legislação em vigor, ou seja, 
            necessária para a proteção de direitos, propriedades e/ou segurança do software Dentalbook, 
            de seus USUÁRIOS e/ou do público em geral.
          </p>

          <p>
            4.3. Em outra hipótese, se a Dentalbook for obrigada por lei, ordem judicial ou outro processo legal, 
            a divulgar alguma informação pessoal do USUÁRIO, não hesitará em cooperar com estes agentes. 
            Assim, por meio deste instrumento, o USUÁRIO autoriza a Dentalbook a divulgar estas informações 
            pessoais para atender aos fins acima indicados, desde que sejam embasados em pedidos judiciais.
          </p>

          <p>
            4.4. As informações anônimas cedidas pelo USUÁRIO, registradas devido ao uso do sistema 
            (com exceção ao conteúdo de mensagens pessoais), servirão como insumos para o mapeamento de informações 
            de mercado e formação de estatísticas da Dentalbook e/ou parceiros autorizados. Através do cadastramento, 
            uso e fornecimento de informações à Dentalbook, o USUÁRIO deliberadamente aceita o presente Termo 
            sobre o uso de suas informações. No entanto, a Dentalbook ressalta que não terá acesso a quaisquer 
            informações de pacientes e os seus prontuários, cujo sigilo é protegido pela legislação brasileira e 
            pelas resoluções de categoria profissional.
          </p>

          <p>
            4.5. O USUÁRIO que não concordar com o presente Termo e proceder com o cancelamento de seu CADASTRO, 
            removerá seus dados para futuras consultas, mas esta remoção não funcionará de maneira retroativa, ou seja, 
            as ações anteriores à essa decisão continuarão armazenados e com uso de acordo com os interesses da Dentalbook.
          </p>

          <p>
            4.6. Não é permitida a utilização de nenhum dispositivo, software ou outro recurso que venha a interferir 
            nas atividades e operações do software Dentalbook, bem como nas contas ou seus bancos de dados. 
            Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade 
            intelectual e/ou as proibições estipuladas neste Termo, tornarão o responsável passível das ações legais pertinentes, 
            bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.
          </p>

          <p>
            4.7. O USUÁRIO consente livre e expressamente que a Dentalbook utilize cookies apenas para controlar a 
            audiência e a navegação em seu site e possibilitar a identificação de serviços segmentados e personalizados 
            ao perfil do USUÁRIO. A Dentalbook garante que estas informações coletadas por meio de cookies são estatísticas 
            e não pessoais, bem como que não serão utilizadas para propósitos diversos dos expressamente previstos nestes termos
            de uso, comprometendo-se a adotar todas as medidas necessárias a fim de evitar o acesso e o uso de tais 
            informações por quaisquer terceiros, sem a devida autorização.
          </p>

          <h4> CLÁUSULA 05ª - Das Obrigações do USUÁRIO </h4>

          <p>
            5.1. Manter pessoal treinado para a operação do software e para a comunicação com a Dentalbook e prover, 
            sempre que ocorrerem quaisquer problemas com o software, toda a documentação, relatórios e demais 
            informações que relatem as circunstâncias em que os problemas ocorreram, objetivando facilitar e agilizar os trabalhos;
          </p>

          <p>
            5.2. Responder pelas informações inseridas no software, pelo cadastramento, permissões, senhas e modo de utilização 
            de seus usuários. A Dentalbook em hipótese alguma será responsável pelo conteúdo (informações, senhas, 
            cópias de informações, etc) sobre o software, não sendo, portanto, estas informações revisadas em momento algum. 
            A responsabilidade pelas informações do software é sempre do USUÁRIO.
          </p>

          <p>
            5.3. Não utilizar o software de qualquer forma que possa implicar em ilícito, infração, violação de direitos 
            ou danos à Dentalbook ou terceiros.
          </p>

          <p>
            5.4. Não publicar, enviar ou transmitir qualquer arquivo que contenha vírus, worms, cavalos de tróia ou qualquer 
            outro programa que possa contaminar, destruir ou interferir no bom funcionamento do software.
          </p>

          <p>
            5.5. Informar a Dentalbook sempre que houver qualquer alteração das informações que possam impedir, 
            limitar ou prejudicar o acesso às informações necessárias para a execução das funcionalidades ofertadas pelo software.
          </p>

          <p>
            5.6. Caso o USUÁRIO acredite que seu login e senha de acesso ao software tenham sido roubados ou sejam de conhecimento 
            de outras pessoas, por qualquer razão, deverá imediatamente comunicar a Dentalbook, sem prejuízo da alteração de 
            senha imediata por meio do site.
          </p>

          <h4> CLÁUSULA 06ª - Das Obrigações da Dentalbook </h4>

          <p>
            6.1. A Dentalbook garante ao usuário que o software deverá funcionar regularmente, se respeitadas as condições 
            de uso definidas na documentação. Na ocorrência de falhas de programação (“bugs”), a Dentalbook obrigar-se-á a 
            corrigir tais falhas, podendo à seu critério, substituir a versão do software com falhas por uma versão corrigida;
          </p>

          <p>
            6.2. Fornecer, ato contínuo ao aceite destes termos de uso, acesso ao software pelo prazo estabelecido entre as partes;
          </p>

          <p>
            6.3. Suspender o acesso ao software que esteja desrespeitando as regras de conteúdo aqui estabelecidas ou 
            as normas legais em vigor ou ainda, ao final do prazo de validade deste instrumento, independentemente de aviso prévio;
          </p>

          <p>
            6.4. Alterar as especificações e/ou características do software licenciados para a melhoria e/ou correções de erros;
          </p>

          <h4> CLÁUSULA 07ª – DO PRAZO E DA VIGÊNCIA </h4>

          <p>
            7.1. O presente Termo possui prazo indeterminado, entrando em vigor na data de seu aceite eletrônico. 
            No entanto, a Dentalbook poderá rescindir a prestação dos serviços objeto do presente Termo a qualquer momento, 
            mediante comunicação prévia e expressa ao USUÁRIO, e este deverá quitar eventuais débitos existentes 
            (custos, despesas, encargos operacionais) e/ou efetuar o pagamento de indenizações decorrentes de lesão a 
            terceiros por conta do mal-uso dos serviços.
          </p>

          <p>
            7.2. O presente Termo ainda poderá ser rescindido, de pleno direito, independentemente de qualquer notificação 
            ou interpelação, judicial ou extrajudicial, nas seguintes hipóteses:
          </p>

          <p>
            a) pela quebra de qualquer de suas disposições, por qualquer das partes, de forma a impedir a continuidade da execução do objeto do mesmo; 
          </p>

          <p>
            b) se o USUÁRIO, de qualquer forma, comprometer a imagem pública da Dentalbook e/ou de qualquer empresa associada a esta na prestação dos serviços;
          </p>

          <p>
            c) se o USUÁRIO utilizar de práticas que desrespeitem a lei, a ordem pública, a moral, os bons costumes ou, ainda, o presente Termo; e 
          </p>

          <p>
            d) pelo não pagamento de uma ou mais das remunerações referentes aos serviços.
          </p>

          <h4> CLÁUSULA 08ª – DA PROPRIEDADE INTELECTUAL </h4>

          <p>
            8.1. O USUÁRIO não adquire, pelo presente instrumento, nenhum direito de propriedade intelectual ou outros 
            direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou direitos sobre informações 
            confidenciais ou segredos de negócio, sobre ou relacionados ao software ou nenhuma parte dele. 
            O USUÁRIO também não adquire nenhum direito sobre ou relacionado ao software ou qualquer componente dele, 
            além dos direitos expressamente licenciados ao mesmo sob os presentes termos de uso ou em qualquer outro 
            contrato mutuamente acordado por escrito que o USUÁRIO possa ter celebrado com a Dentalbook. 
            Quaisquer direitos não expressamente concedidos sob o presente instrumento são reservados.
          </p>

          <p>
            8.2. Também será de propriedade exclusiva da Dentalbook ou está devidamente licenciado, todo o conteúdo 
            disponibilizado no site, incluindo, mas não se limitando, textos, gráficos, imagens, logos, ícones, 
            fotografias, conteúdo editorial, notificações, softwares e qualquer outro material.
          </p>

          <h4> CLÁUSULA 09ª – DAS DISPOSIÇÕES GERAIS E DA ARBITRAGEM </h4>

          <p>
            9.1. O USUÁRIO expressamente aceita que a Dentalbook e/ou qualquer de seus parceiros enviem aos seus 
            USUÁRIOS mensagens de e-mail de caráter informativo, referentes a comunicações específicas inerentes 
            aos serviços prestados sob este Termo, bem como de natureza comercial, incluindo, entre outras, a ofertas 
            dos parceiros da Dentalbook, novidades no software Dentalbook, entre outras informações.
          </p>

          <p>
            9.2. A fim de manter e atender os últimos requisitos de mercado e de desenvolvimento tecnológicos, a Dentalbook 
            poderá alterar, a seu critério, tanto em forma como em conteúdo, suspender ou cancelar, a seu exclusivo critério, 
            a qualquer tempo, quaisquer dos serviços, produtos, utilidade ou aplicação, disponibilizados por si ou por terceiros, 
            mediante prévio aviso ao USUÁRIO, inclusive com relação aos serviços disponíveis no software Dentalbook, 
            prestados nos termos do presente Termo.
          </p>

          <p>
            9.3. O USUÁRIO não poderá ceder o seu cadastro para terceiros ou outros USUÁRIOS. Por sua vez, a Dentalbook poderá, 
            independentemente de qualquer aviso ou notificação, ceder os serviços do software Dentalbook, no todo ou em parte, 
            a empresas parceiras ou de seu grupo econômico, a qualquer momento.
          </p>

          <p>
            9.4. Todos os itens deste Termo estão regidos pelas leis vigentes na República Federativa do Brasil. 
            Para todos os assuntos referentes à sua interpretação e cumprimento e qualquer controvérsia decorrente 
            ou relacionada a este Termo e aos serviços nele contempladas, mesmo após sua eventual rescisão, poderá 
            ser solucionada por arbitragem, na (CORTE ARBITRAL), condicionada à ratificação dos termos em compromisso 
            arbitral específico ou outra forma de aceitação expressa a pedido de arbitragem feito por uma das partes.
          </p>

          <h4> CLÁUSULA 10ª – DAS DECLARAÇÕES FINAIS </h4>

          <p> 10.1. O USUÁRIO declara e concorda expressamente: </p>

          <p>
            a) ser maior de 18 anos e possuir capacidade jurídica, ou caso seja menor de 18 anos, ter expressa 
            anuência de seus pais ou representantes legais;
          </p>

          <p>
            b) em instalar e manter atualizados programas Anti Spywares, Anti-vírus e outros que impeçam a 
            violação do sistema que é utilizado para ter acesso ao software; 
          </p>

          <p>
            c) não utilizar os serviços objeto do presente Termo para quaisquer transações ilícitas ou compra 
            ou venda de produtos e/ou serviços ilícitos;
          </p>

          <p>
            d) em manter o sigilo de sua senha da conta cadastrada, não os fornecendo a terceiros; 
          </p>

          <p>
            e) em notificar imediatamente a Dentalbook caso tome ciência de qualquer violação de segurança 
            relacionada ao serviço ou uso não autorizado de seu nome de USUÁRIO e senha;
          </p>

          <p>
            f) ter condições financeiras de arcar com os pagamentos, custos e despesas decorrentes do presente termo; 
          </p>

          <p>
            g) reconhecer que o presente termo se formaliza, vinculando as Partes, com a sua aceitação eletrônica pelo USUÁRIO, 
            o que se fará mediante o clique na opção “Aceitar e Continuar cadastro”;
          </p>

          <p>
            h) que leu e está ciente e de pleno acordo com todos os termos e condições do presente termo de uso, razão pela qual o aceita de livre e espontânea vontade.
          </p>

          <p>
            10.2. Assim, tendo em vista as cláusulas do presente termo de uso, o USUÁRIO concorda integralmente com essas 
            disposições, se comprometendo a respeitar as condições aqui previstas de forma irretratável e irrevogável, 
            bem como a utilizar de modo proveitoso e legal os serviços a ele oferecidos.
          </p>

          <p>
            10.3. Ao aceitar o presente termo de uso, o USUÁRIO autoriza, desde já e expressamente, o uso gratuito de sua imagem, 
            voz e nome em todas as peças e formas de divulgação de campanhas da Dentalbook, com ou sem indicação de seu nome, 
            pelo prazo que durar cada uma dessas campanhas.
          </p>

          <p>
            10.4. Quaisquer itens que não estejam descritos no presente Termo estão fora do escopo do acordo entre o USUÁRIO 
            e a Dentalbook, sendo assim ambas as partes não são responsabilizadas de nenhuma maneira em nenhuma hipótese 
            civil e criminalmente.
          </p>

          <p>
            10.5. Por fim, as partes elegem como foro para processamento e resolução de qualquer questão decorrente da 
            interpretação, da execução ou da inexecução das obrigações estabelecidas no presente contrato, a instituição 
            arbitral denominada Oitava Câmara de Conciliação e Arbitragem de Goiânia – 1ª CCA DE GOIÂNIA, localizada 
            na Rua 14, n. 50, Setor Oeste, Goiânia/GO – CEP: 74120-070, , a quem competirá decidir a questão 
            instituindo a arbitragem conforme os procedimentos previstos em suas próprias regras - as quais as 
            partes declaram conhecer, a Lei n.º 9.307/96 e a legislação brasileira. Como forma de concordância expressa, 
            nos termos do § 2º do art. 4º da Lei n.º 9.307/96, as partes assinam a presente cláusula compromissória cheia.
          </p>

          <p>
            Por ser a expressão da verdade, as partes assinam digitalmente os termos acima mencionados.
          </p>

          <p> Assinado eletronicamente </p>
       </section>

        <footer class="contract-action text-center">
          <div class="m-b-20 btn-group-no-shadow">
            <%= link "Cancelar criação de conta", to: Coherence.Config.logged_out_url("/"), class: "btn btn-danger w-md btn-bordered" %>
            <%= link "Aceitar e Continuar cadastro", to: "#", class: "btn btn-primary w-md btn-bordered", id: "next-register-action" %>
          </div>

          <p class="text-dark" style="padding-left:20px; padding-right:20px;">
            Ao selecionar a opção "Aceitar e Continuar cadastro" você assume ter lido e concordado com os termos e condições do plano apresentado.
          </p>
        </footer>

      </div> <!-- fim contrato -->

      <div id="account-data" style="display: none;"> <!-- starts account data -->
        <%= if @changeset.action do %>
          <div class="alert alert-danger">
            <p>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</p>
          </div>
        <% end %>

        <%= if is_nil(@changeset.action) && get_flash(@conn, :error) do %>
          <div class="alert alert-danger">
            <p> <%= get_flash(@conn, :error) %> </p>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :empresa, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Nome da empresa" %>
            <%= error_tag f, :empresa %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :name, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Nome do responsável" %>
            <%= error_tag f, :name %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :cellphone, class: "form-control", data: [mask: "(99) 99999-9999"], placeholder: "Celular do responsável" %>
            <%= error_tag f, :cellphone %>
          </div>
        </div>

        <%= unless (login_field = Coherence.Config.login_field) == :email do %>
          <div class="form-group">
            <div class="col-xs-12">
              <%= required_label f, login_field, class: "control-label" %>
              <%= text_input f, login_field, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged() %>
              <%= error_tag f, login_field %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-xs-12">
            <%= text_input f, :email, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Email" %>
            <%= error_tag f, :email %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= password_input f, :password, [class: "form-control", placeholder: "Senha", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged()] ++ @required %>
            <%= error_tag f, :password %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= password_input f, :password_confirmation, [class: "form-control", placeholder: "Confirmação de senha", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged()] ++ @required %>
            <%= error_tag f, :password_confirmation %>
          </div>
        </div>

        <div class="form-group account-btn text-center m-t-10">
          <%= link "Voltar para contrato", to: "#", class: "btn btn-danger w-md btn-bordered", id: "back-register-action" %>
          <%= submit "Criar minha conta", class: "btn btn-primary w-md btn-bordered" %>
        </div>
      </div> <!-- end account-data -->     
    <% end %>
    
  <% end %>
  </div> <!-- account content -->
</div>

<script>
  var btnForwardToRegisterForm = document.getElementById('next-register-action');
  var registerCard = document.getElementById('register-card');
  var btnBackToContract = document.getElementById('back-register-action');

  var noPlan = document.getElementById('no-plan');
  var incisivoPlan = document.getElementById('incisivo-contract');
  var caninoPlan = document.getElementById('canino-contract');
  var molarPlan = document.getElementById('molar-contract');
  var selectedPlan = document.querySelector('select[name="registration[plan]"]');
  var contractContent = document.getElementById('contract-content');

  var chooseThePlanMessage = document.getElementsByClassName('no-plan')[0];

  btnForwardToRegisterForm.addEventListener('click', activateRegisterFormView);
  btnBackToContract.addEventListener('click', activateContractView);

  var contractView = document.getElementById('contract');
  var accountDataView = document.getElementById('account-data');

  function activateRegisterFormView(){
    if(thereIsNoPlanSelected()){
      showBlockMessage();
    }else{
      var to420px = "420px";
      deactivateThis(contractView);
      changeTheSizeOf(registerCard, to420px);
      activateThis(accountDataView);
      deactivateThis(chooseThePlanMessage);
    }
  }

  function thereIsNoPlanSelected(){
    var plans = document.getElementsByClassName('bootstrap-select')[0];
    var chosePlan = plans.firstElementChild;

    return chosePlan.title.endsWith("Escolha seu plano");
  }

  function showBlockMessage(){
    chooseThePlanMessage.style.display = "block";
  }

  function activateContractView(){
    var to900px = "900px";
    deactivateThis(accountDataView);
    changeTheSizeOf(registerCard, to900px);
    activateThis(contractView);
    showContractOf(selectedPlan);
  }

  function deactivateThis(unselectedView){
    unselectedView.style.display = "none";
  }

  function changeTheSizeOf(registerCard, isThisSize){
    registerCard.style.maxWidth = isThisSize;
  }

  function activateThis(selectedView){
    selectedView.style.display = "block";
  }

  document.addEventListener('DOMContentLoaded', function(){ 
    selectedPlan.onchange=changeEventHandler;
  }, false);

  function changeEventHandler(event) { 
    showContractOf(event.target);
  }

  function showContractOf(SelectedPlan) {
    selectedIndex = SelectedPlan.options.selectedIndex;
    
    if (SelectedPlan.options[selectedIndex].text == "Escolha seu plano"){
      noPlanSelected();
    }else if(SelectedPlan.options[selectedIndex].text.includes("Incisivo")){
      incisivoPlanSelected();
    }else if(SelectedPlan.options[selectedIndex].text.includes("Canino")){
      caninoPlanSelected();
    }else if(SelectedPlan.options[selectedIndex].text.includes("Molar")){
      molarPlanSelected();
    }
  }

  function incisivoPlanSelected(){
    deactivateThis(chooseThePlanMessage);
    deactivateThis(caninoPlan);
    deactivateThis(molarPlan);
    deactivateThis(noPlan);
    activateThis(contractContent);
    activateThis(incisivoPlan);
  }

  function caninoPlanSelected(){
    deactivateThis(chooseThePlanMessage);
    deactivateThis(incisivoPlan);
    deactivateThis(molarPlan);
    deactivateThis(noPlan);
    activateThis(contractContent);
    activateThis(caninoPlan);
  }

  function molarPlanSelected(){
    deactivateThis(chooseThePlanMessage);
    deactivateThis(incisivoPlan);
    deactivateThis(caninoPlan);
    deactivateThis(noPlan);
    activateThis(contractContent);
    activateThis(molarPlan);
  }

  function noPlanSelected(){
    deactivateThis(chooseThePlanMessage);
    deactivateThis(incisivoPlan);
    deactivateThis(caninoPlan);
    deactivateThis(molarPlan);
    deactivateThis(contractContent);
    activateThis(noPlan);
  }

</script>