<%= render "form.html", changeset: @changeset,
                        action: team_path(@conn, :update, @collaborator),
                        conn: @conn,
                        action_type: :edit %>
