<style>
  .c-m-t{
    margin-top: 8px;
  }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
              <h4 class="page-title"><%= get_label_from(@action_type) %> Colaborador </h4>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="card-box">
        <%= form_for @changeset, @action, [as: :registration, class: "form-horizontal" ], fn f  -> %>

          <%= if @changeset.action do %>
            <div class="alert alert-danger">
              <p>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</p>
            </div>
          <% end %>
          
          <div class="form-group">
            <div class="col-md-9 col-xs-12">
              <%= label f, "Nome", class: "control-label" %>
              <%= text_input f, :name, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Nome do colaborador" %>
              <%= error_tag f, :name %>
            </div>

            <div class="col-md-3 col-xs-12">
              <div>
                <label class="control-label" for="registration_admin">É administrador?</label>
              </div>
              <%= create_admin_field(f, @conn.assigns.current_user) %>
              <hr class="no-margin color-line"> 
            </div>
              
          </div> <!-- form group -->


          <div class="form-group">
            <div class="col-md-6 col-xs-12">
              <%= label f, "E-mail", class: "control-label" %>
              <%= text_input f, :email, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Email" %>
              <%= error_tag f, :email %>
            </div>

            <div class="col-md-3 col-xs-12">
              <%= label f, "Perfil", class: "control-label" %>
              <%= select f, :role, ["Profissional de Saúde", "Administrativo"], class: "form-control selectpicker show-tick"  %>
              <%= error_tag f, :role %>
            </div>

            <div id="registration-professional" class="col-md-3 col-xs-12">
              <%= label f, "C.R.O.", class: "control-label" %>
              <%= text_input f, :cro, class: "form-control", required: "", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged(), placeholder: "Registro do Conselho" %>
              <%= error_tag f, :cro %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <%= label f, "Senha", class: "control-label" %>
              <%= password_input f, :password, [class: "form-control", placeholder: "Senha", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged()]%>
              <%= error_tag f, :password %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <%= label f, "Confirmação de senha", class: "control-label" %>
              <%= password_input f, :password_confirmation, [class: "form-control", placeholder: "Confirmação de senha", oninvalid: ValidationI18n.translate(), onchange: ValidationI18n.onchanged()]%>
              <%= error_tag f, :password_confirmation %>
            </div>
          </div>

           <div class="text-right panel-footer">
            <%= link "Cancelar", to: team_path(@conn, :index), class: "btn" %>
            <%= submit "Salvar", class: "btn btn-info" %>
          </div>
        <% end %>
      </div> <!--end card-box-->
    </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->

<script>
  //É preciso colocar esse javascript aqui para poder
  //enviar o valor do checkbox ao realizar o click
  //para mudança de valor
  $(function(){
    if($('.done').val() === "true"){
      $('.done').click();
    }

    document.getElementById('registration_admin').addEventListener('click', function() {
      var checkBoxStatus = $('#registration_admin').val();
      if (checkBoxStatus === "true"){
        $('#registration_admin').val("false");
      }
      else{
        $('#registration_admin').val("true");
      }
    });

    const selectedRole = document.querySelector('select[name="registration[role]"]');
    selectedRole.addEventListener('change', showOrHideCROInput, false)

    function showOrHideCROInput(event){
      const croInput = document.getElementById('registration-professional ');
      if (event.target.value.includes("Administrativo")){
        croInput.style.display = "none";
      }else{
        croInput.style.display = "block";
      }
    }
  });

</script>