<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dentalbook</title>


    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/core.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/icons.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/pages.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/menu.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/responsive.css") %>">  
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap-clockpicker.min.css") %>">    
        
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap-select.min.css") %>"> 
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/select2.min.css") %>"> 

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/datepicker.min.css") %>">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/awesomplete.css") %>">
    
    <script src="/js/modernizr.min.js"></script>    
    <script src="<%= static_path(@conn, "/js/awesomplete.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/awesomplete-util.min.js") %>"></script>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

   
     

    <style>
      div.awesomplete {display: block}
      div.awesomplete ul li p {display: block; font-size: small; margin-left: 1em}
      .hide-not-found div.awesomplete .awe-not-found {border-color: lightblue}
      div.awesomplete .awe-not-found {border: 2px solid red}

      #coherence-links-layout > li > a { color: white; }
      th > * {color: white;}
      .updatable {display: none;}

      .no-padding-top { padding-top: 0 !important;}
      .no-margin {margin: 0;}
      .no-margin-bottom {margin-bottom: 0;}
      .color-line {border-top: 1px solid rgba(152, 152, 152, 0.8);}

      .search-inline-flex{
        display: inline-flex;
        width: 100%;
      }

      .select2-container--default .select2-selection--multiple{
        border: 0;
        border-radius: 0;
      }

      .select2-container--default.select2-container--focus .select2-selection--multiple{
        border: 0;
        border-bottom: 1px solid #00acc1;
      }

      .make-it-50-50{
        width: 50%;
        display: inline-block;
      }

      .datepickers-container{
        z-index: 1500;
      }
    </style>
  </head>

  <body class="fixed-left">
    <div id="wrapper">
      <header class="topbar">                                                                                                                      
        <div class="topbar-left">                                                                                                                  
          <a href="/agendamentos" class="logo"><span>Dental<span>book</span></span><i class="mdi mdi-tooth"></i></a>                                            
        </div>                                                                                                                                     
                                                                                                                                              
        <nav class="navbar navbar-default" role="navigation">                                                                                      
          <div class="container">                                                                                                                  
                                                                                                                                                  
            <ul class="nav navbar-nav navbar-left">                                                                                                
              <li>                                                                                                                                 
                <button class="button-menu-mobile open-left waves-effect waves-light">                                                             
                  <i class="mdi mdi-menu"></i>                                                                                                     
                </button>                                                                                                                          
              </li>                                                                                                                                
            </ul>                                                                                                                                  
                                                                                                                                                  
            <ul class="nav navbar-nav navbar-right" id="coherence-links-layout">                                                                                               
                <%= CoherenceHelper.coherence_links(@conn, :layout) %>                                                                                                                          
            </ul>                                                                                                                                  
                                                                                                                                                  
          </div>                                                                                                                                    
        </nav>                                                                                                                                     
      </header>

      <aside class="left side-menu">                                                                                                               
        <div class="sidebar-inner slimscrollleft">                                                                                                 
          <div id="sidebar-menu">                                                                                                               
            <div class="user-details">                                                                                                             
              <div class="overlay"></div>                                                                                                          
              <div class="text-center">                                                                                                            
                <i class="mdi mdi-tooth" style="color:white; font-size:60px;"></i>                                                        
              </div>                                                                                                                               
              <div class="user-info">                                                                                                              
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" aria-expanded="false">Menu</a>                                       
              </div>                                                                                                                               
            </div>  
            <!-- opções do menu lateral -->                                                                                                                                          
            <ul>  
              <li>
                  <%= link(raw("<i class=\"mdi mdi-calendar-clock\"></i><span> Pacientes Agendados </span>"), to: attendance_path(@conn, :index), class: "waves-effect") %>
              </li>  
              <li>
                  <%= link(raw("<i class=\"glyphicon glyphicon-list-alt\"></i><span> Planos de Tratamento </span>"), to: appointment_path(@conn, :index), class: "waves-effect") %>
              </li>
              <li>
                  <%= link(raw("<i class=\"mdi mdi-account-multiple\"></i><span> Pacientes </span>"), to: patient_path(@conn, :index), class: "waves-effect") %>
              </li>
              <li>
                  <%= link(raw("<i class=\"mdi mdi-hospital\"></i><span> Procedimentos </span>"), to: procedure_path(@conn, :index), class: "waves-effect") %>
              </li>
              <li>
                  <%= link(raw("<i class=\"mdi mdi mdi-needle\"></i><span> Medicamentos </span>"), to: medicine_path(@conn, :index), class: "waves-effect") %>
              </li>
              
              <li class="has_sub">
                <li>
                  <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cash-multiple"></i><span> Financeiro </span><span class="menu-arrow"></span></a>
                  <ul class="list-unstyled">
                    <li>
                      <%= link("Fluxo de Caixa", to: financial_path(@conn, :index), class: "waves-effect") %>
                    </li>
                    <li>
                      <%= link("Receitas", to: income_path(@conn, :index) <> "?clear_filters=true", class: "waves-effect") %>
                    </li>
                     <li>
                      <%= link("Receitas agrupadas", to: grouped_income_path(@conn, :index), class: "waves-effect") %>
                    </li>
                    <li>
                      <%= link("Despesas", to: expense_path(@conn, :index), class: "waves-effect") %>
                    </li>
                  </ul>
                </li>
              </li>

              <li>
                  <%= link(raw("<i class=\"mdi mdi-human-male-female\"></i><span> Equipe </span>"), to: team_path(@conn, :index), class: "waves-effect") %>
              </li>

              <li class="has_sub">
                <li>
                  <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-settings"></i><span> Configurações </span><span class="menu-arrow"></span></a>
                  <ul class="list-unstyled">
                    <li>
                      <%= link("Atestado", to: sick_note_template_path(@conn, :index), class: "waves-effect") %>
                    </li>
                  </ul>
                </li>
              </li>


            </ul>                                                                                                                               
          </div>                                                                                                                                   
        </div>                                                                                                                                     
      </aside>
      
      <!--<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>-->

    
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /wrapper -->
  
   
    <script src="<%= static_path(@conn, "/js/jquery.core.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.blockUI.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/detect.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/fastclick.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/waves.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap-clockpicker.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap-select.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/select2.min.js") %>"></script> 

    <script src="<%= static_path(@conn, "/js/datepicker.min.js") %>"></script>  
    <script src="<%= static_path(@conn, "/js/datepicker.pt-BR.js") %>"></script>  

    <script src="<%= static_path(@conn, "/js/bootstrap-inputmask.min.js") %>"></script>
    
<script> 
    var resizefunc = []; 
</script>

    <%= Drab.Client.js(@conn) %>
  </body>
  
</html>
