<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dentalbook</title>

        <link rel="stylesheet" href="<%= @css_dir %>/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/core.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/components.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/icons.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/pages.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/menu.css" type="text/css">
        <link rel="stylesheet" href="<%= @css_dir %>/responsive.css" type="text/css">

        <style>
            hr{
                border-top: 0.5px solid #ccc;
            }

            body{
                font-size: 14px;
                background-color: white;
            }

            .controlled-medicine{
                margin-left: 8rem; 
                margin-top: 4rem; 
                width: 80%;
                position: absolute;
            }

            .controlled-left-form{
                text-align: justified!important; 
                width: 50%;
                position: absolute;
                top: 0;
                left: 0;
                padding-left: 1rem;
                font-size: 1.7rem; 
                border: 1px solid black;
                height: 280px;
            }

            .controlled-right-form{
                text-align: justified!important; 
                width: 50%;
                position: absolute;
                top: 0;
                right: 0;
                padding-left: 1rem;
                font-size: 1.7rem; 
                border: 1px solid black;
                height: 280px;
            }

            .really-small{
                font-size: 1px;
                margin-bottom: 4rem;
            }
            
        </style>
    </head>
    <body>
        <div style="margin-bottom: 12rem!important; font-size: 1px!important;">
           .
        </div>
        <header style="margin-bottom: 4rem!important;">
            <section style="margin-left: 8rem!important; font-size: 2rem;">
                <p style="margin-bottom: 0;"><strong>Paciente:</strong> <%= @prescription_data.patient_name %></p>
                <p><strong>Emitido em:</strong> <%= @prescription_data.emitted_date %> </p>
            </section>
            <section>
                <h3 class="text-center">Prescrição</h3>
            </section>
        </header>

        <section style="text_align: justified!important; padding-left: 8rem; padding-right: 8rem; font-size: 1.7rem;">
            <%= if (@prescription_data.prescription_content["Uso Interno"]) do %>
                <p><strong>Uso Interno</strong></p>

                <%= Enum.map(@prescription_data.prescription_content["Uso Interno"], fn (content) -> %>
                    <section style="margin-bottom: 1.5em; padding-left: 1em;">
                        <p id="template-content">
                            <strong><%= content["0"] %></strong> - <%= "#{content["2"]} #{content["3"]}" %>	
                        </p>
                        <p id="template-content">
                            <%= content["4"] %>
                        </p>
                    </section>
                <% end) %>
            <% end %>

            <%= if (@prescription_data.prescription_content["Uso Externo"]) do %>
                <p><strong>Uso Externo</strong></p>

                <%= Enum.map(@prescription_data.prescription_content["Uso Externo"], fn (content) -> %>
                    <section style="margin-bottom: 1.5em; padding-left: 1em;">
                        <p id="template-content">
                            <strong><%= content["0"] %></strong> - <%= "#{content["2"]} #{content["3"]}" %>	
                        </p>
                        <p id="template-content">
                            <%= content["4"] %>
                        </p>
                    </section>
                <% end) %>
            <% end %>
        </section>


        <footer style="margin-top: 5rem;">
            <h4 class="m-t-0 text-center"><b><%= @prescription_data.dentist_name %></b></h4>
            <h5 class="m-t-0 text-center"><b><%= @prescription_data.dentist_cro %></b></h5>
        </footer>

        <!--
        <div class="controlled-medicine">
            <section class="controlled-left-form">
                <p class="text-center"><strong>Identificação do Comprador</strong></p>
                <p><strong>Nome:</strong></p>
                <p><strong>RG:</strong></p>
                <p><strong>Órg. Emissor:</strong></p>
                <p><strong>End:</strong></p>
                <p><strong>Cidade/UF:</strong></p>
                <p><strong>Telefone:</strong></p>
            </section>

            <section class="controlled-right-form">
                <p class="text-center"><strong>Identificação do Fornecedor</strong></p>
                <p class="really-small">.</p>
                <p class="really-small">.</p>
                <p class="text-center">Data</p>
                <p class="really-small">.</p>
                <p class="really-small">.</p>
                <p class="text-center">Assinatura do Farmacêutico</p>
            </section>
        </div>
        -->
       
    </body>
</html>
