<style>
  .expense-data{
    width: 100%;
    display: inline-block;
  }
</style>

<div class="content-page">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
              <h4 class="page-title"><%= get_label_from(@action_type) %> Despesa</h4>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="card-box">
        <%= form_for @changeset, @action, [method: @method], fn f -> %>

          <%= if @changeset.action do %>
            <div class="alert alert-danger alert-dismissible fade in alert-icon" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <i class="mdi mdi-alert"></i>
              <strong>Oops, ocorreu algo inesperado! Por favor, verifique as inconsistências abaixo.</strong>
            </div>
          <% end %>
          <div class="expense-data">
            <div class="form-group col-xs-6">
              <%= label f, "Descrição", class: "control-label" %>
              <%= text_input f, :description, class: "form-control" %>
              <%= error_tag f, :description %>
            </div>

            <div class="form-group col-xs-2">
              <%= label f, "Vencimento", class: "control-label" %>
              <%= create_date_picker f, :due_date_at %>
              <%= error_tag f, :due_date_at %>
            </div>

            <div class="form-group col-xs-2">
              <%= label f, "Pago em", class: "control-label" %>
              <%= create_date_picker f, :paid_at %>
              <%= error_tag f, :paid_at %>
            </div>

            <div class="form-group col-xs-2">
              <%= label f, "Valor", class: "control-label" %>
              <%= create_value f, :value %>
              <%= error_tag f, :value %>
            </div>
          </div>

          <div class="text-right panel-footer">
            <%= link "Cancelar", to: expense_path(@conn, :index), class: "btn" %>
            <%= submit "Salvar", class: "btn btn-info" %>
          </div>
        <% end %>

      </div> <!-- Card-box -->

    </div> <!-- Container -->
  </div> <!-- Content -->
</div> <!-- Content-page -->

<script>
  function hasCharacter(value){
    var regexOnlyNumbers = /^\d+$/;
    return !regexOnlyNumbers.test(value);
  }

  function clearDatePickerIfIsAnInvalidYear(datePicker, dateAsString){
    [day, month, year] = $(dateAsString).val().split("/");
    if(hasCharacter(day)) { datePicker.clear(); }
    if(hasCharacter(month)) { datePicker.clear(); }
    if(hasCharacter(year)) { datePicker.clear(); }
    if(year < 100) { datePicker.clear(); }
  }

  function returnToSelectedDate(datePickerShown, dateAsString){
    var selectedDateString = $(dateAsString).val();
    if (selectedDateString == "") { return; }
    
    [day, month, year] = selectedDateString.split("/");

    var selectedDate = new Date(year, month -1, day);

    datePickerShown.date = selectedDate;
    datePickerShown.selectDate(selectedDate);
  }

  function createDatePicker(inputId){
    var datePicker = $(inputId).datepicker({
      language: "pt-BR",
      clearButton: true,
      todayButton: new Date(),
      dateFormat : 'dd/mm/yyyy',
      maxDate: new Date("2100", "01", "01"),
      onHide: function (datePickerShown, animationCompleted){ clearDatePickerIfIsAnInvalidYear(datePickerShown, inputId); },
      onShow: function(datePickerShown, animationCompleted){ returnToSelectedDate(datePickerShown, inputId); }
    }).data('datepicker');

    return datePicker;
  }

  function isNotAValidDay(day, month){
      var february = 2;
      var lastValidDayInFebruary = 29;

      if(hasCharacter(day)) return true;
      
      if(month == february && day > lastValidDayInFebruary) { return true; }

      if (day < 1 || day > 31) { return true; }
      
      return false;
  }

  function isNotAValidMonth(month){
    if(hasCharacter(month)) return true;

    return (month < 1 || month > 12);
  }


  function hasAtLeastTwoCaractersIn(year){
    return year.length >= 2;
  }
  
  function isAValidYear(year){
    return year > 99;
  }

  function selectingDateManually(partialDateSelected, datePicker){
    var dateElements = partialDateSelected.val().split('/');
    
    if(dateElements.length != 3){ return; }

    [day, month, year] = dateElements;

    if(isNotAValidDay(day, month) || isNotAValidMonth(month)){
      datePicker.clear();
      return;
    }

    if(hasAtLeastTwoCaractersIn(year) && isAValidYear(year)){
       var newSelectedDate = new Date(year, month - 1, day);
       datePicker.date = newSelectedDate;
       datePicker.selectDate(newSelectedDate);
    }
   
  }

  function datePickerInitialize(inputId, index, array) {
    var datePicker = createDatePicker(inputId);

    $(inputId).on('keyup', function(){
       selectingDateManually($(this), datePicker);
    });
  }

  function datePickerInit(inputsIds){
    for(var element = 0; element < inputsIds.length; element++){
      datePickerInitialize(inputsIds[element])
    }
  }

  /*----------------------------------------------------------------*/

  $(function(){
    datePickerInit(['#expense_ui_due_date_at', '#expense_ui_paid_at']);
  });

</script>