<style>
    .detalhes{
        width: 100%;
        display: inline-flex;
        margin-top: 30px;
        height: 60px;
    }

    .receitas{
        width: 50%;
        border-top: 1px solid #eee;
        border-right: 0.5px solid #eee;
        padding-top: 5px;
        display: inline-flex;
    }

    .icone-seta{
        font-size: 30px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .despesas{
        width: 50%;
        border-top: 1px solid #eee;
        border-left: 0.5px solid #eee;   
        padding-top: 5px;
        display: inline-flex;        
    }

    .valor{
        font-size: 18px;
    }
    
</style>

<div class="content-page">
    <div class="content">
        <div class="container">

          <div class="row">
            <div class="col-xs-12">
              <div class="page-title-box">
                  <h4 class="page-title">Fluxo de Caixa</h4>
                  <ol class="breadcrumb p-0 m-0">
                        <li>
                            <button id="usage" class="btn btn-success waves-effect">
                             <i class="mdi mdi-help"></i> Instruções de uso
                            </button>
                        </li>
                    </ol>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>

        <div class="col-lg-4">
            <div class="card-box tilebox-two p-l-0 p-r-0 p-b-0 <%= status_of(@changeset.changes.daily_results) %>">
                <div class="text-center">
                    <h4 class="header-title m-t-0 m-b-30">Hoje</h4>
                    <span class="text-muted m-t-30">Resultado</span>
                    <h1 class="m-t-5"><%= @changeset.changes.daily_results %></h1>
                    <div class="detalhes">
                        <div class="receitas">
                            <span class="mdi mdi-arrow-up text-primary icone-seta"></span>
                            <div>
                                <span class="text-muted">Receitas</span>
                                <p class="valor text-primary"><%= @changeset.changes.daily_income %></p>
                            </div>
                        </div>

                        <div class="despesas">
                            <span class="mdi mdi-arrow-down text-danger icone-seta"></span>
                            <div>
                                <span class="text-muted">Despesas</span>
                                <p class="valor text-danger"><%= @changeset.changes.daily_expense %></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>                                                                                                                                                      
        </div>

        <div class="col-lg-4">
            <div class="card-box tilebox-two p-l-0 p-r-0 p-b-0 <%= status_of(@changeset.changes.weekly_results) %>">
                <div class="text-center">
                    <h4 class="header-title m-t-0 m-b-30">Semana Atual</h4>
                    <span class="text-muted m-t-30">Resultado</span>
                    <h1 class="m-t-5"><%= @changeset.changes.weekly_results %></h1>
                    <div class="detalhes">
                        <div class="receitas">
                            <span class="mdi mdi-arrow-up text-primary icone-seta"></span>
                            <div>
                                <span class="text-muted">Receitas</span>
                                <p class="valor text-primary"><%= @changeset.changes.weekly_income %></p>
                            </div>
                        </div>

                        <div class="despesas">
                            <span class="mdi mdi-arrow-down text-danger icone-seta"></span>
                            <div>
                                <span class="text-muted">Despesas</span>
                                <p class="valor text-danger"><%= @changeset.changes.weekly_expense %></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>                                                                                                                                                      
        </div>

         <div class="col-lg-4">
            <div class="card-box tilebox-two p-l-0 p-r-0 p-b-0 <%= status_of(@changeset.changes.monthly_results) %>">
                <div class="text-center">
                    <h4 class="header-title m-t-0 m-b-30">Mês Atual</h4>
                    <span class="text-muted m-t-30">Resultado</span>
                    <h1 class="m-t-5"><%= @changeset.changes.monthly_results %></h1>
                    <div class="detalhes">
                        <div class="receitas">
                            <span class="mdi mdi-arrow-up text-primary icone-seta"></span>
                            <div>
                                <span class="text-muted">Receitas</span>
                                <p class="valor text-primary"><%= @changeset.changes.monthly_income %></p>
                            </div>
                        </div>

                        <div class="despesas">
                            <span class="mdi mdi-arrow-down text-danger icone-seta"></span>
                            <div>
                                <span class="text-muted">Despesas</span>
                                <p class="valor text-danger"><%= @changeset.changes.monthly_expense %></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>                                                                                                                                                      
        </div>

        <div class="col-lg-12">
            <div class="card-box">
                <div class="row">
                    <div id="error-message"></div>
                    <div class="col-lg-4">
                        <div class="card-box">
                            <%= form_for @changeset, @action, fn f -> %>

                                <div class="form-group">
                                    <%= label f, "Início", class: "control-label" %>
                                    <%= create_date_picker f, :custom_begin_date %>
                                    <%= error_tag f, :custom_begin_date %>
                                </div>

                                <div class="form-group">
                                    <%= label f, "Fim", class: "control-label" %>
                                    <%= create_date_picker f, :custom_end_date %>
                                    <%= error_tag f, :custom_end_date %>
                                </div>
                        
                                <button 
                                    drab-click='get_billing_of_period' 
                                    type="button"
                                    data-current-user-id="<%= @conn.assigns.current_user.id %>" 
                                    class="btn btn-block btn-success waves-effect waves-light drabButton">
                                        Calcular faturamento
                                </button>
                                
                            <% end %>
                        </div>
                    </div>

                      <div class="col-lg-8">
                        <div id="custom_results_card" class="card-box tilebox-two p-l-0 p-r-0 p-b-0 tilebox-primary">
                            <div class="text-center">
                                <h4 class="header-title m-t-0 m-b-30">Entre Períodos</h4>
                                <span class="text-muted m-t-30">Resultado</span>
                                <h1 id="custom_results" class="m-t-5"><%= @changeset.changes.custom_results %></h1>
                                <div class="detalhes">
                                    <div class="receitas">
                                        <span class="mdi mdi-arrow-up text-primary icone-seta"></span>
                                        <div>
                                            <span class="text-muted">Receitas</span>
                                            <p id="custom_income" class="valor text-primary"><%= @changeset.changes.custom_income %></p>
                                        </div>
                                    </div>

                                    <div class="despesas">
                                        <span class="mdi mdi-arrow-down text-danger icone-seta"></span>
                                        <div>
                                            <span class="text-muted">Despesas</span>
                                            <p id="custom_expense" class="valor text-danger"><%= @changeset.changes.custom_expense %></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </div>                                                                                                                                                      
                        </div>

                </div>
            </div>
        </div>

        </div>
       
          
        </div> <!--end container-->
    </div> <!--end content -->
</div> <!-- end content-page -->


<script>

  function hasCharacter(value){
    var regexOnlyNumbers = /^\d+$/;
    return !regexOnlyNumbers.test(value);
  }

  function clearDatePickerIfIsAnInvalidYear(datePicker, dateAsString){
    [day, month, year] = $(dateAsString).val().split("/");
    if(hasCharacter(day)) { datePicker.clear(); }
    if(hasCharacter(month)) { datePicker.clear(); }
    if(hasCharacter(year)) { datePicker.clear(); }
    if(year < 100) { datePicker.clear(); }
  }

  function returnToSelectedDate(datePickerShown, dateAsString){
    var selectedDateString = $(dateAsString).val();
    if (selectedDateString == "") { return; }
    
    [day, month, year] = selectedDateString.split("/");

    var selectedDate = new Date(year, month -1, day);

    datePickerShown.date = selectedDate;
    datePickerShown.selectDate(selectedDate);
  }

  function createDatePicker(inputId){
    var datePicker = $(inputId).datepicker({
      language: "pt-BR",
      clearButton: true,
      position: 'top right',
      todayButton: new Date(),
      dateFormat : 'dd/mm/yyyy',
      maxDate: new Date("2100", "01", "01"),
      onHide: function (datePickerShown, animationCompleted){ clearDatePickerIfIsAnInvalidYear(datePickerShown, inputId); },
      onShow: function(datePickerShown, animationCompleted){ returnToSelectedDate(datePickerShown, inputId); }
    }).data('datepicker');

    return datePicker;
  }

  function isNotAValidDay(day, month){
      var february = 2;
      var lastValidDayInFebruary = 29;

      if(hasCharacter(day)) return true;
      
      if(month == february && day > lastValidDayInFebruary) { return true; }

      if (day < 1 || day > 31) { return true; }
      
      return false;
  }

  function isNotAValidMonth(month){
    if(hasCharacter(month)) return true;

    return (month < 1 || month > 12);
  }


  function hasAtLeastTwoCaractersIn(year){
    return year.length >= 2;
  }
  
  function isAValidYear(year){
    return year > 99;
  }

  function selectingDateManually(partialDateSelected, datePicker){
    var dateElements = partialDateSelected.val().split('/');
    
    if(dateElements.length != 3){ return; }

    [day, month, year] = dateElements;

    if(isNotAValidDay(day, month) || isNotAValidMonth(month)){
      datePicker.clear();
      return;
    }

    if(hasAtLeastTwoCaractersIn(year) && isAValidYear(year)){
       var newSelectedDate = new Date(year, month - 1, day);
       datePicker.date = newSelectedDate;
       datePicker.selectDate(newSelectedDate);
    }
   
  }

  function datePickerInitialize(inputId, index, array) {
    var datePicker = createDatePicker(inputId);

    $(inputId).on('keyup', function(){
       selectingDateManually($(this), datePicker);
    });
  }

  function datePickerInit(inputsIds){
    for(var element = 0; element < inputsIds.length; element++){
      datePickerInitialize(inputsIds[element])
    }
  }

  /*---------------------------------------------------------*/

  function updateDataAttributeOfDrabButton(customBeginDateElement, customEndDateElement){
    $('.drabButton').val(`${$(customBeginDateElement).val()};${$(customEndDateElement).val()}`);
  }

  function addEventTo(customDateElement){
    $(customDateElement).datepicker({
        onSelect: function(formattedDate, date, inst) {
            updateDataAttributeOfDrabButton('#financial_ui_custom_begin_date', '#financial_ui_custom_end_date');
        }
    });
  }

  $(function(){

    datePickerInit(['#financial_ui_custom_begin_date', '#financial_ui_custom_end_date']);
    addEventTo('#financial_ui_custom_begin_date');
    addEventTo('#financial_ui_custom_end_date');

  });


  /*----------------ONBOARDING--------------*/

  var usageHelper = document.getElementById("usage"); 
  usageHelper.addEventListener("click", showInstructions, false);
  
  function showInstructions(){
    swal("<%= get_title() %>", "<%= get_use_instructions() %>", "<%= get_icon_type() %>");
  }

   /*----------------ONBOARDING--------------*/
</script>